{% load static %}
<style>
    .cart-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    .cart-list {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        
        
    }

    .cart-item .remove-product {
        color: red;
        position: absolute;
        top: 30%;
        left: 2%;
        cursor: pointer;
    
    }

    .cart-item {
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-bottom: 1px solid rgb(226, 226, 226);
        padding: 0.2rem;
        padding-bottom: 0.6rem;
        margin-top: 1.2rem;
        position: relative;


    }

    .cart-list .cart-item:first-child{
        margin-top: -0.2rem;
    }
   
    .cart-item .remove {
        color: red;
        position: absolute;
        top: 30%;
        left: 2%;
        cursor: pointer;
    }
    .cart-item .img{
        width: 24vw ;
        height: 32vw;
        border-radius: 4px;
    }

    .cart-list .cart-item:first-child{
        margin-top: 1.8rem;
    }
    @media screen and (min-width:698px) {

             
        .cart-list:first-child{
            margin-top: 0.1rem;
        }
    
        .cart-item .img{
            width: 9vw;
            height: 12vw;
        }
        .number-box {
            max-width: 10vw;
        }

        .coupon-box{
            width: 80%;
            height: 4vh;
        }
        

    }



   
    @media screen and (min-width:698px)  and (orientation:landscape) {

       
        .cart-list:first-child{
            margin-top: 0.1rem;
        }
    
        .cart-item .img{
            width: 9vw;
            height: 12vw;
        }
        .number-box {
            max-width: 10vw;
        }
        

    }
    @media screen and (min-width:996px) {

      
        .cart-list:first-child{
            margin-top: 0.1rem;
        }
    
        .cart-item .img{
            width: 8vw;
            height: 9vw;
        }
        .number-box {
            max-width: 5vw;
        }
        
        .coupon-box{
            width: 80%;
            height: 5vh;
        }

        .side-box-show {
            width: 30vw;
        }

    }

    @media screen and (min-width:996px) and (orientation:landscape) {

        
        .cart-list:first-child{
            margin-top: 0.1rem;
        }
    
        .cart-item .img{
            width: 8vw;
        }
        .number-box {
            max-width: 8vw;
        }
        
        .coupon-box{
            width: 80%;
            height: 5vh;
        }

    }

</style>
{% if favourites and user.is_authenticated %}
<div class="cart-container">
    <div class="cart-list">
        {% for item in favourites %}
        <div class="cart-item">
            <span data-id="{{ item.product.id }}" onclick="remove_from_favourites();" class="fa fa-trash remove-product"></span>
            <img src="{% static 'img/img1/product-1.jpg' %}" class="img">
            <div   style="margin-top:-0.7em;margin-right: 0.5rem;font-size:0.7rem;line-height:0.8rem">
                <p>
                    {{ item.product.name }}
                </p>
                <p>
                    موجودی:{{ item.product.quantity }}
                    تا
                </p>
                <p>
                    {% with product.discounts.last as discount %}
                        {% if discount.is_valid %}
                            <span style="text-decoration:line-through;color:rgb(170, 170, 170)">{{item.product.price}}</span>
                            <span style="color:red">{{ discount.get_discounted_price }}</span>
                            <span>تومان</span>
                        {% else %}
                             <span style="color:rgb(170, 170, 170)">{{item.product.price}}</span>
                             <span>تومان</span>
                        {% endif %}
                    {% endwith %}
                </p>
                
            </div>
            <div style="position:absolute;bottom:-1rem;left:45%;background-color:white">
                {% if item.product.id in cart %}
                    <button data-id="{{ item.product.id }}" onclick="add_to_cart();" class="btn btn-primary" disabled>
                        <span data-id="{{ item.product.id }}" class="fa fa-check"></span>
                    </button>
                {%else %}
                    <button data-id="{{ item.product.id }}" onclick="add_to_cart();" class="btn btn-primary">
                        <span data-id="{{ item.product.id }}" class="fa fa-shopping-basket"></span>
                    </button>
                {% endif %}
              
            </div>  
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div id="empty" class="centerized w-100 txt-center">
    <span class="fa fa-heart " style="color: rgba(255, 160, 160, 0.5);font-size:7rem;"></span>
    <p style="color:rgb(150, 149, 149);" class="w-100 txt-center">
       لیست شما خالیست..!
    </p>
</div>
{% endif %}