{% extends 'index/base.html' %}
{% load static %}

{% block title %}کارت{% endblock%}
{% block content %}
<style>
    * {
        box-sizing: border-box;
    }

    custom-text {
        
        width: 100%;
        margin-top: 0.8rem;
        font-size: 0.8rem;
    }
    .my-address {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 98%;

    }

    .adds{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        
        
    }

    .txt {
        outline: none;
        border: 1px solid #efefef;
        margin-top: 0.5rem;
        width: 100%;
        resize: vertical;
        padding: 0.2rem;
    }
    .txt::placeholder {
        color:#aaa;
    }

    .summary{
        display: flex;
        

    }
    .coupon {
        
        margin-top: 1rem;
        width: 100%;
        
    }
    .coupon input[type="text"] {
        appearance: none;
        outline: none;
        border: 1px solid #efefef;
        padding: 0.7rem;
        font-size: 1.1rem;
        color: gray;
        width: 78%;
    }
    .app {
        appearance: none;
        outline: none;
        border: 1px solid #efefef;
        font-size: 1rem;
        cursor: pointer;
        float: left;
        padding: 0.7rem 0 0.7rem 0;
        width: 20%;

    }
    .total {
        width: 100%;
        min-height: 10vh;
        border: 1px solid #eee;
        background-color: #222;
        color: white;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        text-align: center;
        

    }

    .action {
        text-align: center;
        margin-top: 2rem;
        
    }



    table {
        width: 95%;
        font-size: 0.9rem;
        text-align: center;
        margin: 0.5rem auto;
        border-collapse: collapse;
    }

    th {
        background-color: #a7a7a7;
        padding: 0.5rem;
        font-size: 0.8rem;
        color: white;
    }
    tr {
        background-color: #fff;
        padding: 0.5rem;
        margin-top: 0.5rem;
        font-size: 0.7rem;
    }

    tr:nth-child(even) {
        background-color: rgba(240,240,240,0.5);
    }

    td {
        padding: 0.5rem;
    }

    .img {
        width: 48px;;
    }
    .cont {
        display: flex;
        width: 80%;
        margin: 2rem auto;
    }

    select {
        border: 1px solid #efefef;
        padding: .2rem;
        background-color: white;
    }
    .co {
        background-color: rgb(240, 90, 90);
        color: white;
        padding: 0.6rem;
    }

    @media screen and (max-width: 360px) {
        .cont {
            flex-direction: column;
            width: 100%;
        }
        
        th {
            font-size: 0.8rem;
        }
        tr {
            font-size: 0.6rem;
        }
        
        td {
            padding: 0.3rem;
        }
        
        .cart-checkout {
            width: 95%;
            margin: 0.5rem auto;
        }
        
    }
</style>

<div class="cont" >
    <div class="cart-summary">
        <table>
            <thead>
                <tr>
                    <th>تصویر</th>
                    <th>نام</th>
                    <th>بوتیک</th>
                    <th>تعداد</th>
                    <th>قیمت</th>
                    <th>جمع کل</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                    <tr>
                        <td>
                            <img src="{{ item.product.images.first.image.url }}" class="img">
                        </td>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.product.shop.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>
                            {% if item.has_valid_discount %}
                                <span style="font-size:0.6rem;text-decoration:line-through;" >{{item.price}}تومن</span>
                                <br />
                                <span style="color: red;display:block;margin-top:0.3rem;font-size:0.7rem">{{item.discounted_price}}تومن</span>
                            {% else %}
                                <span style="font-size:0.8rem">{{item.price}}تومن</span>
                            {% endif %}
                        </td>
                        <td>{{item.total}}</td>
                    </tr>
                {% endfor %}
 
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
    <div class="cart-checkout">
        <div class="container horizontal w-100" style="justify-content: space-between;">
            <span style="font-size: 0.8rem;color:#555">آدرس خودم</span>
            <input type="checkbox" class="switch" />
        </div>
        <div class="txt-box w-100 mt-1">
            <input  onblur="validate_field('^[1-9][0-9]{3,6}$');" id="price"  name="price" type="text" class="text" required>
            <label class="holder">نام</label>
        </div>
        <div class="txt-box w-100 mt-1">
            <input onblur="validate_field('^[1-9][0-9]{3,6}$');" id="price"  name="price" type="text" class="text" required>
            <label class="holder">نام</label>
        </div>        
        <div class="adds" style="margin-top: 0.5rem;justify-content:space-between">
            <select style="width: 49%;" id="province">
                <option value="" disabled selected>شهرستان</option>
                <option value="">a</option>
                <option value="">a</option>
                <option value="">a</option>
                <option value="">a</option>
                <option value="">a</option>
            </select>
            <select style="width: 49%;">
                <option value="">a</option>
                <option value="">a</option>
                <option value="">a</option>
                <option value="">a</option>
                <option value="">a</option>
            </select>
        </div>
        <div class="txt-box w-100 mt-1">
            <input onblur="validate_field('^[1-9][0-9]{3,6}$');" id="price"  name="price" type="text" class="text" required>
            <label class="holder">نام</label>
        </div>         
         <textarea rows="5" class="txt" placeholder="نشانی کامل"></textarea>
        <section class="total">
            <span id="total_sum" >
            مبلغ پرداختی: {{cart.get_total_price}}
            </span>  
        </section>
        <section  class="coupon">
            <input class="coupon-txt" type="text" id="coupon-code" placeholder="کد تخفیف" />
            <button onclick="apply_coupon();" class="app">اعمال</button>
        </section>
        <button class="btn co" style="width:100%;margin-top:0.5rem">پرداخت</button> 
    </div>
</div>

{% endblock%}
