{% load static %}
<div class="cart">
    {% if cart.is_empty %}
        <cart-item pid="1"
                   title="sdfsdfsdf"
                   preview= "{% static 'img/sampleproduct/product-1.jpg' %}"
                   price="1000"
                   description="dfsfsfsfsfsfsfsfsfsfsfsfjdskfsjflksfjskfs"
                   discounted_price="120">
        </cart-item>
        <cart-item pid="1"
                    title="sdfsdfsdf"
                    preview= "{% static 'img/sampleproduct/product-1.jpg' %}"
                    price="1000"
                    description="dfsfsfsfsfsfsfsfsfsfsfsfjdskfsjflksfjskfs"
                    discounted_price="120">
        </cart-item>
    {% else %}
        {% for item in cart %}
            <cart-item pid="{{item.product.id}}"
                    title="{{item.product.name|truncatechars:50}}"
                    boutique="{{item.product.shop.name}}" 
                    price="{{item.product.price}}تومن" 
                    description="{{ itme.product.description }}" 
                    preview="{% if item.product.images.first.image %}{{ item.product.images.first.image.url }}{% else %}{% static 'img/sampleproduct/noimage.png' %}{% endif %}" 
                    colors="{{ item.colors }}" 
                    sizes="{{ item.sizes }}" 
                    quantity="{{item.quantity}}"
                    {% if item.product.has_valid_discount %}
                    discounted
                    discounted_price={{item.discounted_price }}
                    {% endif %}
                    {% if not item.product.has_color %}
                    noneditable='true'
                    {% endif %}
                    {% if item.product.quantity == 0%}
                    outofstock="true"
                    {% endif %}>
            </cart-item>
        {% endfor %}
        <div class="container vertical mt-1  w-100" style="justify-content: center;align-items:center;background:#efefef;padding:0.5rem">
            <p style="font-size: 0.7rem;">
                تعداد اقلام:{{ cart|length }}
            </p>
            <p style="font-size: 1rem;color:#444;margin-top:0.6rem">
               جمع کل:
               <span id="total_price">{{ cart.get_total_price }}</span>
                تومان
            </p>
            <a style="display: block;text-decoration:none;" href="{% url 'cart:checkout' %}" class="btn cta">خرید</a>
        </div>
    {% endif %}
  


</div>
