{% load static %}
<div class="cart">
    {% for item in cart %}
    <cart-item pid="{{item.product.id}}"
            title="{{item.product.name}}"
            boutique="رازی" 
            price="{{item.product.price}}تومن" 
            description="مناسب برای تمام فصول دارای انواغ رنگها گر سبسنبس بسیبس سبdddddddddddddddddddsfsdfsfسیبیسبیسبیسبیسبسبسبیس" 
            preview="{% static 'img/sampleproduct/product-1.jpg' %}" 
            colors="1:آبی:#0000ff,2:قرمز:#ff0000" 
            sizes="1:X,2:XXL" 
            outofstock="true">
    </cart-item>
{% endfor %}
    <cart-item pid="{{item.product.id}}"
            title="{{item.product.name}}"
            boutique="رازی" 
            price="{{item.product.price}}تومن" 
            description="مناسب برای تمام فصول دارای انواغ رنگها گر سبسنبس بسیبس سبdddddddddddddddddddsfsdfsfسیبیسبیسبیسبیسبسبسبیس" 
            preview="{% static 'img/sampleproduct/product-1.jpg' %}" 
            colors="1:آبی:#0000ff,2:قرمز:#ff0000" 
            sizes="1:X,2:XXL" 
            outofstock="true">
    </cart-item>
</div>
