<style>
    .coupon {
        margin-top: 1rem;
        width: 100%;
        background-color: white;
        border-radius: 32px;
        border: 1px solid #333;
        padding: 0.2rem;
        position: relative;
        
    }
    .coupon input[type="text"] {
        appearance: none;
        outline: none;
        border: none;
        padding: 0.7rem;
        font-size: 0.8rem;
        color: #333;
        width: 78%;
        margin-right: 0.5rem;
    }
    .app {
        position: absolute;
        appearance: none;
        outline: none;
        border: none;
        background-color: #333;
        color: white;
        font-size: 0.8rem;
        cursor: pointer;
        left: 3px;
        top: 50%;
        transform: translate(0, -50%);
        padding: 0.2;
        width: 20%;
        height: 85%;
        border-radius: 32px;

    }
    .total {
        width: 100%;
        min-height: 10vh;
        border: 1px solid #eee;
        background-color: #222;
        color: white;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        vertical-align: middle;
        text-align: center;
        

    }
</style>
<div class="container vertical" style="width: 96%;margin:1rem auto;">
    {% if cart|length  > 0 %}
    <form id="custom-address">
        <input id="amount" type="hidden" name="amount" value="{{ cart.get_total_price }}" />
        {% include 'cart/address.html' %}
        <section class="total">
            <span id="total_sum" >
            مبلغ پرداختی: {{cart.get_total_price}}
            </span>  
        </section>
    </form>
{% if cart.coupon.is_valid %}
<p style="color: white;background:rgb(19, 184, 46);padding:0.2rem;text-align:center;font-size:0.8rem;"> کوپن اعمال شده است</p>
{% else %}
<section  class="coupon">
    <input  type="text" id="coupon-code" placeholder="کد تخفیف" />
    <button onclick="apply_coupon();" class="app">اعمال</button>
</section>
{% endif %}
<button onclick="dispatch_pay();"  class="btn co" style="width:100%;margin-top:0.5rem">پرداخت</button> 
{% endif %}
</div>