{% extends 'index/base.html' %}
{% load static %}

{% block title %}کارت{% endblock%}
{% block content %}
<style>
    * {
        box-sizing: border-box;
    }

    custom-text {
        
        width: 100%;
        margin-top: 0.8rem;
        font-size: 0.8rem;
    }
    .my-address {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 98%;

    }

    .adds{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        
        
    }

    .txt {
        outline: none;
        border: 1px solid #efefef;
        margin-top: 0.5rem;
        width: 100%;
        resize: vertical;
        padding: 0.2rem;
    }
    .txt::placeholder {
        color:#aaa;
    }

    .summary{
        display: flex;
        

    }
    .coupon {
        
        margin-top: 1rem;
        width: 100%;
        background-color: white;
        border-radius: 32px;
        border: 1px solid #333;
        padding: 0.2rem;
        position: relative;
        
    }
    .coupon input[type="text"] {
        appearance: none;
        outline: none;
        border: none;
        padding: 0.7rem;
        font-size: 0.8rem;
        color: #333;
        width: 78%;
        margin-right: 0.5rem;
    }
    .app {
        position: absolute;
        appearance: none;
        outline: none;
        border: none;
        background-color: #333;
        color: white;
        font-size: 0.8rem;
        cursor: pointer;
        left: 3px;
        top: 50%;
        transform: translate(0, -50%);
        padding: 0.2;
        width: 20%;
        height: 85%;
        border-radius: 32px;

    }
    .total {
        width: 100%;
        min-height: 10vh;
        border: 1px solid #eee;
        background-color: #222;
        color: white;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        text-align: center;
        

    }

    .action {
        text-align: center;
        margin-top: 2rem;
        
    }



    table {
        width: 95%;
        font-size: 0.9rem;
        text-align: center;
        margin: 0.5rem auto;
        border-collapse: collapse;
    }

    th {
        background-color: #a7a7a7;
        padding: 0.5rem;
        font-size: 0.8rem;
        color: white;
    }
    tr {
        background-color: #fff;
        padding: 0.5rem;
        margin-top: 0.5rem;
        font-size: 0.7rem;
    }

    tr:nth-child(even) {
        background-color: rgba(240,240,240,0.5);
    }

    td {
        padding: 0.5rem;
    }

    .img {
        width: 48px;;
    }
    .cont {
        display: flex;
        width: 80%;
        margin: 2rem auto;
    }

    select {
        border: 1px solid #efefef;
        padding: .2rem;
        background-color: white;
    }
    .co {
        background-color: rgb(240, 90, 90);
        color: white;
        padding: 0.6rem;
    }

    @media screen and (max-width: 360px) {
        .cont {
            flex-direction: column;
            width: 100%;
        }
        
        th {
            font-size: 0.8rem;
        }
        tr {
            font-size: 0.6rem;
        }
        
        td {
            padding: 0.3rem;
        }
        
        .cart-checkout {
            width: 95%;
            margin: 0.5rem auto;
        }
        
    }
</style>

<div class="cont" >
    <div class="cart-summary">
        <table>
            <thead>
                <tr>
                    <th>تصویر</th>
                    <th>نام</th>
                    <th>بوتیک</th>
                    <th>تعداد</th>
                    <th>قیمت</th>
                    <th>جمع کل</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                    <tr>
                        <td>
                            <img 
                            src="{% if item.product.images.first.image %}{{ item.product.images.first.image.url }}{% else %}{% static 'img/sampleproduct/noimage.png' %}{% endif %}"  class="img">
                        </td>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.product.shop.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>
                            {% if item.has_valid_discount %}
                                <span style="font-size:0.6rem;text-decoration:line-through;" >{{item.price}}تومن</span>
                                <br />
                                <span style="color: red;display:block;margin-top:0.3rem;font-size:0.7rem">{{item.discounted_price}}تومن</span>
                            {% else %}
                                <span style="font-size:0.8rem">{{item.price}}تومن</span>
                            {% endif %}
                        </td>
                        <td>{{item.total}}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
    <div class="cart-checkout" style="width: 95%;">
        {% if cart|length  > 0 %}
        <form id="custom-address" method="GET" action="/payments/dispatch/">
            <input type="hidden" name="amount" value="{{ cart.get_total_price }}" />
            {% include 'cart/address.html' %}
            <section class="total">
                <span id="total_sum" >
                مبلغ پرداختی: {{cart.get_total_price}}
                </span>  
            </section>
    </form>
    {% if cart.coupon.is_valid %}
    <p style="color: white;background:rgb(19, 184, 46);padding:0.2rem;text-align:center;font-size:0.8rem;"> کوپن اعمال شده است</p>
    {% else %}
    <section  class="coupon">
        <input class="coupon-txt" type="text" id="coupon-code" placeholder="کد تخفیف" />
        <button onclick="apply_coupon();" class="app">اعمال</button>
    </section>
    {% endif %}
    <button onclick="dispatch_pay();"  class="btn co" style="width:100%;margin-top:0.5rem">پرداخت</button> 

    {% endif %}
    </div>
</div>

{% endblock%}
