<style>
    .tab-item-1 {
        font-size: 0.8rem !important;
    }
</style>
<div class="container vertical" style="width: 100%;">
    <div class="container horizontal w-100" style="background-color: #121212;border-radius:6px">
        <ion-icon name="wallet-outline" style="font-size:10rem;color:rgb(255, 255, 255) ;--ionicon-stroke-width: 12px;"></ion-icon>           
        <div class="container vertical" style="justify-content: center;align-items:flex-start;line-height:2rem;color:white">
            <p>کل موجودی:{{user.account.balance}}</p>
            <p>قابل برداشت:sss</p>
            <p>غیرقابل برداشت:ddd</p>
        </div>
    </div>
    <div class="tab-container">
        <div onclick="select_tab()" class="tab-items" style="width: 100%;justify-content:center">
            <div data-tab="tab-widthraw" class="tab-item tab-item-1 tab-item-selected">برداشت</div>
            <div data-tab="tab-deposit" class="tab-item tab-item-1">واریز</div>
            <div data-tab=""tab-history"" class="tab-item tab-item-1">تاریخچه</div>
        </div>
        <div class="tab-contents">
            <div class="tab-content tab-show-content" id="tab-widthraw">
                <div style="margin: 2rem auto;width:80%">
                    <div class="txt-box w-100 mt-1">
                        <input id="widthraw-text"  type="text" class="text" required>
                        <label class="holder">مبلغ به تومان</label>
                    </div>
                    <p id="widthraw-error" style="color: red;font-size:0.7rem;margin-top:0.5rem"></p>
                    <button  class="btn cta w-100" onclick="edit_profile();">ثبت درخواست</button>
                    <p style="margin-top: 1rem;font-size:0.8rem">
                        **تاریخ برداشت قبلی...
                    </p>
                </div>
            </div>
            <div class="tab-content" id="tab-deposit">
                <div  style="width:80%;margin:2rem auto;">
                    <div class="txt-box w-100 mt-1">
                        <input id="deposit-text"  type="text" class="text" required>
                        <label class="holder">مبلغ به تومان</label>
                    </div>
                    <p id="deposit-error" style="color: red;font-size:0.7rem;margin-top:0.5rem"></p>
                    <button  class="btn cta w-100" onclick="edit_profile();">اتصال به درگاه</button>
    
                </div>
            </div>
            <div id="tab-history" class="tab-content">

            </div>
        </div>
    </div>
</div>