{% load static %}

<div class="favourites" style="width: 95%;margin:1rem auto;">
    {% if favourites and user.is_authenticated %}
    {% for item in favourites %}
        <fav-item preview="{% if item.product.images.first.image %}{{ item.product.images.first.image.url }}{% else %}{% static 'img/sampleproduct/noimage.png' %}{% endif %}" 
                  pid="{{ item.product.id }}"
                  link="{{ item.product.get_aboslute_url }}"
                  title="{{ item.product.name }}" 
                  boutique="{{ item.product.shop.name }}" 
                  description="{{ item.product.description|truncatechars:50 }}" 
                  price="{{ item.product.price }}تومن" 
                  {% if not item.product.quantity %}
                  badge="ناماجود"
                  {% endif %}
                  {% if item.product.has_valid_discount %}
                    badge="{{item.product.discounts.latest.percent}}%"
                  {% endif %}
                  >
        </fav-item>
    {% endfor %}

{% else %}
<div class="position--center" style="text-align: center;" >
    <ion-icon name="heart-outline" style="font-size:10rem;color:rgb(230, 121, 121) ;--ionicon-stroke-width: 12px;"></ion-icon>           
    <p>لیست شما خالیست</p>
   </div>
{% endif %}
 

</div>