{% load static %}
<style>
.cart-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.cart-item .remove-product {
    color: red;
    position: absolute;
    top: 30%;
    left: 2%;
    cursor: pointer;

}

.cart-list {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    
    
}

.cart-item {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    padding: 0.2rem;
    padding-bottom: 0.6rem;
    margin-top: 1.2rem;
    position: relative;


}

.cart-list .cart-item:first-child{
    margin-top: -0.2rem;
}



.coupon-box {
   width: 80%;
   border: 1px solid rgb(233, 233, 233);
   border-radius: 4px;
   height: 5vh;
   display: flex;
}
.coupon-box .text {
   outline: none;
   border: none;
   height: 100%;
   padding-right: 0.5rem;
   font-size: 1.2rem;
   border-radius: 0 4px 4px 0;
   flex: 70%;
   width: 70%;
}
.coupon-box .text::placeholder{
   color: lightgray;
}
.coupon-box:hover, .coupon-box:focus-within {
   color: gray;
   border-color: gray;
}
.coupon-box .btn-a{
   width: 20%;
   height: 100%;
   border: none;
   border-radius: 4px 0 0 4px;
   flex: 20%;
   text-align: center;
   background-color: rgb(248, 56, 56);
   color: white;
   cursor: pointer;
}
.coupon-box .btn-a:hover {
   background-color: rgb(255, 0, 0);
}
.text-box::placeholder {
   color: lightgrey;
}

.cart-item .img{
    width: 25vw ;
    border-radius: 4px;
}

.cart-list .cart-item:first-child{
    margin-top: 1.8rem;
}


.summary {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

}


.color {
   border-radius: 50%;
   padding: 0.5rem;
   margin-right: 0.5rem;
   max-width: 24px;
   max-height: 24px;
   width: 16px;
   cursor: pointer;
   height: 16px;
   opacity: 0.6;
}

.size {
   cursor: pointer;
   margin-right: 0.5rem;
}

.color:hover{
   opacity: 1;
}

.inline-list .color:first-child {
   margin-right: 0.1rem;
}

.dropbtn {
   padding: 0.2rem;
   cursor: pointer;
   background-color: orange;
}

.dropdown .dropbtn:hover{
background-color: rgb(45, 123, 190) !important;
}
.dropdown {
   padding: 0.5rem;
   position: relative;
   display: inline-block;
}

.dropdown-menu {
   display: none;
   padding: 0.5rem;
   
   position: absolute;
   z-index: 1500;
   background-color: rgb(255, 255, 255);
   border-radius: 4px;
   border: 1px solid rgb(218, 218, 218);

}


.dropdown:hover .dropdown-menu {
   display: block !important;
}


@media screen and (min-width:698px) {

 
    .cart-list:first-child{
        margin-top: 0.1rem;
    }

    .cart-item .img{
        width: 10vw;
    }
    .number-box {
        max-width: 10vw;
    }

    .coupon-box{
        width: 80%;
        height: 4vh;
    }
    

}




@media screen and (min-width:698px)  and (orientation:landscape) {

   
    .cart-list:first-child{
        margin-top: 0.1rem;
    }

    .cart-item .img{
        width: 10vw;
    }
    .number-box {
        max-width: 10vw;
    }
    

}
@media screen and (min-width:996px) {

  
    .cart-list:first-child{
        margin-top: 0.1rem;
    }

    .cart-item .img{
        width: 7vw;
    }
    .number-box {
        max-width: 5vw;
    }
    
    .coupon-box{
        width: 80%;
        height: 5vh;
    }

}

@media screen and (min-width:996px) and (orientation:landscape) {

    
    .cart-list:first-child{
        margin-top: 0.1rem;
    }

    .cart-item .img{
        width: 7vw;
    }
    .number-box {
        max-width: 7vw;
    }
    
    .coupon-box{
        width: 80%;
        height: 5vh;
    }

}

</style>

{% if cart.is_empty %}
    <div  class="centerized w-100 txt-center ">
        <span class="fa fa-shopping-bag " style="color: rgba(255, 160, 160, 0.5);font-size:7rem;"></span>
        <p  class="w-100 txt-center" style="color: rgb(145, 145, 145);">
            سبد خرید شما خالیست!
        </p>
    </div>
{% else %}
<div class="cart-container">
    <div class="cart-list">
        {% for item in cart %}
        <div class="cart-item">
            <span data-id="{{item.product.id}}" onclick="remove_from_cart();" class="fa fa-trash remove-product"></span>
            <img src="{% static 'img/img1/product-4.jpg' %}" class="img">
            <div   style="margin-top:-0.7em;margin-right: 0.5rem;font-size:0.7rem;line-height:0.8rem">
                <p>
                    {{ item.product.name }}
                </p>
                <p style="margin-top:-0.5rem">
                    <div id=""  style="margin-right:-0.5rem"  class="dropdown">
                        <span  onclick="open_drop()" data-toggle="c-{{item.product.id}}" style="background-color: {{item.color}};" class="fa fa-caret-down dropbtn">
                            &nbsp;
                            رنگ
                        </span>
                        <div id="c-{{item.product.id}}"  class="dropdown-menu">
                            <div data-id="{{ item.product.id }}"  onclick="change_product_color();" class="inline-list">
                                {% for color in item.product.colors.all %}
                                    <div class="color" data-id="{{color.id}}" style="background-color: {{color.code}};"></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="dropdown"  style="margin-right: -1rem;">
                        <span onclick="open_drop()" style="background-color: black;color:white" data-toggle="s-{{item.product.id}}" class="fa fa-caret-down dropbtn">
                            &nbsp;
                            {{ item.size }}
                        </span>
                        <div  id="s-{{item.product.id}}" class="dropdown-menu">
                            <div data-id="{{ item.product.id }}" onclick="change_product_size();" class="inline-list">
                               {% for size in item.product.sizes.all %}
                                    <div data-id="{{ size.id }}" class="size">{{size.code}}</div>
                               {% endfor %}
                            </div>
                        </div>
                    </div>
                </p>
                <p>
                    {% with item.product.discounts.last as discount %}
                        {% if discount.is_valid %}
                            <span style="text-decoration:line-through;color:rgb(170, 170, 170)">{{item.product.price}}</span>
                            <span style="color:red">{{ discount.get_discounted_price }}</span>
                            <span>تومان</span>
                        {% else %}
                             <span style="color:rgb(170, 170, 170)">{{item.product.price}}</span>
                             <span>تومان</span>

                        {% endif %}
                    {% endwith %}
                </p>
            </div>
            <div style="background-color:white;border-bottom:1px solid gray;width:100%;margin-top:1rem">
                <div style="position:absolute;bottom:-0.5rem;left:40%;background-color:white" class="number-box">
                    <span onclick="increment();increment_product();" data-id="{{item.product.id}}" class="inc">&plus;</span>
                    <input onkeypress="sentinel();" id="num1" type="text" value="{{item.quantity}}" class="text" disabled>
                    <span onclick="decrement();decrement_product();" data-id="{{item.product.id}}" class="dec">&minus;</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="summary">
        <p style="font-size: 1.3rem;color:rgb(119, 119, 119)">
           جمع کل:
           <span id="total_price">{{ cart.get_total_price }}</span>
            تومان
        </p>
            <input class="btn btn-primary" style="padding: 0.8rem;width:60%" type="button" value="خرید" />
    </div>
</div>

{% endif %}

