<div  class="centerized">
    <!-- <p class="field">
        <label class="caption">رمز عبور خود را تعیین کنید</label>
    
    </p>
    <p class="field">
    </p> -->
    <div class="container">
        <span class="fa fa-user" style="font-size: 12rem;color:rgba(255, 71, 71,0.6);"></span>

        <p class="caption">
            رمز عبور خود را تعیین کنید
        </p>
        <input name="password" id="password" type="password" class="text-box" placeholder="رمز عبور">
        <input style="margin-top: 0.5rem;" name="confirm" id="confirm" type="password" class="text-box" placeholder="تکرار رمز عبور">
        <button type="button" onclick="set_password();" class="mt-1 w-100 btn btn-primary">ثبت</button>
        <p id="error" style="color: red;font-size:0.6rem"></p>

        <ul style="font-size: 0.7rem;">
            <li style="list-style-type: none;font-weight:bold;margin-bottom:0.5rem">رمز عبور باید:</li>
            <li>حداقل هشت حرفی باشد</li>
            <li>شامل اعداد حروف و نمادها باشد</li>
        </ul>
    </div>
</div>