<div class="position--center" style="width: 70%;">
    <div class="txt-box w-100" ">
        <input id="password"  type="password" class="text" required>
        <label class="holder">رمز عبور</label>
    </div>    
    <p id="password-error" style="color: red;font-size:0.7rem;margin-top:0.5rem"></p>
    <div class="txt-box w-100 mt-05" ">
        <input id="confirm"  type="password" class="text" required>
        <label class="holder">تکرار رمز عبور</label>
    </div>   
    <p id="confirm-error" style="color: red;font-size:0.7rem;margin-top:0.5rem"></p> 
    {% if user_does_exists == False %}
    <div class="txt-box w-100 mt-05" ">
        <input id="referral"  type="text" class="text" required>
        <label class="holder">کد معرف (اختیاری)</label>
    </div>    
    {% endif %}
    <button class="btn cta" dir="rtl" onclick="set_password()" style="margin:0.5rem auto;width:100%;display:block">ثبت</button>
    <p class="font-size--sm w-100 " style="text-align: center;">
       <ul style="font-size: 0.7rem;line-height:1.5rem">
           <li>
               حداقل هشت حرف باشد
           </li>
           <li>
               شامل اعداد و حروف و علايم نگارشی باشد
           </li>
       </ul>
    </p>
</div>