
<div class="container centerized" style="width: 70%;">
    <div class="txt-box w-100">
        <input type="text" class="text" id="phone_no" name="phone_no" required>
        <label class="holder">شماره همراه</label>
    </div>
    <button  class="btn btn-primary fz-bg mt-1 w-100" onclick="enroll();" >ادامه</button>
    </p>
    <p id="error" style="color: red;font-size:0.7rem">
    <p style="text-align: center;font-size:0.7rem">
        عضویت در آنمد به منزله پذیرفتن تمامی <a href="#">قوانین </a>آنمد میابشد
    </p>
</div>

