<div class="position--center" style="width: 70%;">
    <div class="txt-box w-100 mt-1">
        <input id="verification-code"  type="text" class="text" required>
        <label class="holder">کد تایید</label>
    </div>
    <p id="verification-error" style="color: red;font-size:0.7rem;margin-top:0.5rem"></p>
    <button onclick="verify_code();" class="btn cta" dir="rtl" style="margin:0.5rem auto;width:100%;">تایید</button>
    <p class="font-size--sm w-100 " style="text-align: center;">
        کد تایید را دریافت نکرده اید؟<a href="#"> ارسال مجدد</a>
    </p>
</div>