<p style="text-align:center;font-size:1.5rem">
    {{ product.name }}
</p>
<p style="text-align:center;font-size:1rem">
    {% with product.discounts.last as discount %}
        {% if discount.is_valid %}
            <span style="text-decoration:line-through;color:rgb(170, 170, 170)">{{item.product.price}}</span>
            <span style="color:red">{{ discount.get_discounted_price }}</span>
            <span>تومان</span>
        {% else %}
                <span style="color:rgb(170, 170, 170)">{{product.price}}</span>
                <span>تومان</span>

        {% endif %}
    {% endwith %}
</p>
<p style="color:rgb(158, 158, 158);text-align:center;font-size:0.8rem;margin-top:-0.2rem">
   {{ product.shop.first.title }}
</p>
<div style="padding: 0.5rem;">    
    <span style="font-size: 0.7rem;font-weight:bold">سایر توضیحات:</span>
    <p style="width: 100%;font-size:0.7rem;word-break:break-all;">
      {{ product.description }}
    </p>
</div>   
<div style="display:flex;flex-direction:column;align-items:center;">
    <p style="font-size:0.8rem">رنگ دلخواه را انتخاب کنید:</p>
    <div id="product-colors" onclick="select_color()" class="inline-list" >
      {% for color in product.colors.all %}
         <div data-id="{{ color.id }}"  class="color {% if forloop.first %} select-color{% endif %}" style="background-color:{{ color.code }}"></div>
      {% endfor %}
    </div>
    <p style="font-size:0.8rem">سایز دلخواه را انتخاب کنید:</p>
    <div id="product-sizes" onclick="select_size();" class="inline-list">
       {% for size in product.sizes.all %}
            <div data-id="{{size.id}}" class="size {% if forloop.first %} select-size{% endif %}">{{ size.code }}</div>
       {% endfor %}
    </div>
    <p style="font-size:0.8rem">تعداد:</p>
    <div class="number-box">
        <span onclick="increment();" class="inc">&plus;</span>
        <input onkeypress="sentinel();" id="product-quantity" data-id="{{ product.id }}" type="text" value="1" class="text" disabled>
        <span onclick="decrement();" class="dec">&minus;</span>
    </div>
    <p>
        {% if user.shop.first != product.shop %}
            <button data-id="{{ product.id }}" onclick="add_to_cart_in_detail_page();this.disabled=true;" class="send-btn">افزودن به لیست خرید</button>
            <button data-id="{{ product.id }}" onclick="add_to_favourites();this.disabled=true;" class="send-btn">
                <span class="fa fa-heart"></span>
            </button>
        {%endif %}
      
    </p>
    <p style="font-size: 0.6rem;">
        ارسال به :
        {{product.shop.post_destinatinos}}

    </p>
</div>