{% extends 'index/base.html' %}
{% load static %}
{% load filter_product %}
{% load jalali_tags %}
{% block title %}محصول{% endblock %}
{% block content %}
{% block dependencies %}
<script src="{% static 'js/components/comment.js' %}" defer></script>
<script>
    document.addEventListener( 'DOMContentLoaded', function () {
        new Splide('#related_products', {
            perPage: 4,
            rewind: true,
            perMove: 1,
            direction: 'rtl',
            gap: '1rem',
            breakpoints: {
                '576': {
                    perPage: 2,
                    gap: '1rem'
                }
            }
        }).mount();
      
    } );
</script>
{% endblock %}
<style>
    .pure-g [class *= "pure-u"] {
        /* Set your content font stack here: */
        font-family: sans-serif;
        line-height: 1rem;
        letter-spacing: normal;
    }

    .ssz {
        width: auto !important;
        height: auto !important;
        font-size: 0.7rem;
        pointer-events: none;
    }
    .in-fav{
        color: red !important;
    }
    .in-comment{
        color: green !important;
    }
    @media screen and (min-width:698px) {
        .gal-md {
            width: 80% !important;
            margin: 2rem auto;
        }
    }
</style>
    <input type="hidden" value="{{ product.id }}" id="product_id" />
    <input type="hidden" value="{{ user.first_name }}" id="author" />
    <div class="pure-g gal-md">
        <div class="pure-u-1-1 pure-u-md-1-2">
            <div onclick="change_preview()" class="gallery">
                {% if product.images.first.image %}
                    <img class="gallery-preview" id="gallery-preview" src="{{product.images.first.image.url}}" style="width: 100%;">
                {% else %}
                    <img class="gallery-preview" id="gallery-preview" src="{% static 'img/sampleproduct/noimage.png' %}" style="width: 100%;">
                {% endif %}
                <div class="thumbs">
                    {% for item in product.images.all %}
                    {% if item.image %}
                        <img src="{{ item.image.url }}" class="thumb {% if forloop.counter0 == 0 %} thumb-active{% endif %}" />
                    {% else %}
                        <img src="{% static 'img/sampleproduct/noimage.png' %}" class="thumb {% if forloop.counter0 == 0 %} thumb--active{% endif %}" />
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="pure-u-1-1 pure-u-md-1-2">
            <div class="container vertical product-detail">
                <h3 class="product-title">{{ product.name }}</h3>
                <div class="product-status" >
                    <p onclick="document.getElementById('comment-tab-item').click();document.getElementById('comment-body').focus();" style="cursor:pointer;color:#777;justify-self: flex-start;text-align:center;display:flex;justify-content:center;align-items:center;padding:0.5rem">
                        <ion-icon class="{% if user_comment %}in-comment{% endif %}" style="font-size:1.1rem;" name="chatbubbles-outline"></ion-icon>  
                        <span style="font-size: 0.8rem;font-weight:10;margin-right:0.3rem">{{product.comments.all|length}}</span>
                    </p>
                    <p onclick="add_to_favourites();"  style="cursor:pointer;color:#777;justify-self: flex-start;text-align:center;display:flex;justify-content:center;align-items:center;padding:0.5rem">
                        <ion-icon class="{% if liked == 1 %}in-fav{% endif %}" style="font-size:1.1rem;user-select:none" name="heart-outline"></ion-icon>  
                        <span  style="font-size: 0.8rem;font-weight:10;margin-right:0.3rem;user-select:none;">{{product.favs.all|length}}</span>
                    </p>
                    {% if product.discounts.last.is_valid %}
                    <span style="border-radius:4px;font-size: 0.8rem;font-weight:10;margin-right:0.3rem;padding:0.5rem;position:absolute;left:10px;background:rgb(199, 15, 15);color:#fff">{{ product.discounts.last.percent }}%</span>
                    {% endif %}
                </div>
              
                <p class="product-description">
                  {{product.description}}
                </p>   
                <div class="product-prices">
                    
                    {% if product.discounts.last.is_valid %}
                    <span class="product-price">{{product.price}} تومان</span>
                    <span class="product-discounted-price">{{product.discount.last.get_discounted_price}} تومن</span>    
                    {% else %}
                    <span style="font-size: 1rem;color:gray">{{product.price}}تومن</span>
                    {% endif %}
                </div>
                <h4 class="product-boutique" >نام بوتیک: {{product.shop.name}} </h4>
                <p style="color: #666;font-size:0.7rem;margin-top:0.5rem">
                    {% if prouct.free_delivery %}
                    ارسال رایگان: دارد
                    {% else %}
                    ارسال رایگان: ندارد
                    {% endif %}
                </p>
                <p style="color:#666;font-size: 0.7rem;margin-top:0.5rem">
                    {% if product.shop.convers_all_states %}
                    امکان ارسال به : سراسر ایران
                    {% else %}
                    امکان ارسال به استانهای: {{product.shop.post_destinations}}    

                    {% endif %}
                </p>

                <div class="product-options" style="flex-direction: column;display:flex">
                    {% if  product.type.has_color %}
                        <div id="colors" onclick="select_color();" style="width: 100%;margin-top:0.5rem;justify-content:center" class="inline-list" >
                            {% for color in colors %}
                            <div title="{{color.name}}" data-id="{{ color.id }}" class="inline-item {% if color in product.colors.all %}inline-item--selected{% endif %}">
                                <span style="background-color: {{ color.code }}" />
                            </div>
                            {% endfor %}
                            <div title="{{color.name}}" class="inline-item">
                                <span class="color" style="background-color: red" />
                            </div>
                            <div title="{{color.name}}"  class="inline-item">
                                <span class="color" style="background-color: rgb(231, 97, 97)" />
                            </div>
                            <div title="{{color.name}}" class="inline-item">
                                <span class="color" style="background-color: rgb(56, 53, 53)" />
                            </div>
                            <div title="{{color.name}}"  class="inline-item">
                                <span class="color" style="background-color: rgb(255, 255, 255)" />
                            </div>
                            <div title="{{color.name}}" class="inline-item">
                                <span class="color" style="background-color: rgb(56, 53, 53)" />
                            </div>
                            <div title="{{color.name}}"  class="inline-item">
                                <span class="color" style="background-color: rgb(255, 255, 255)" />
                            </div>
                            <div title="{{color.name}}" class="inline-item">
                                <span class="color" style="background-color: rgb(56, 53, 53)" />
                            </div>
                            <div title="{{color.name}}"  class="inline-item">
                                <span class="color" style="background-color: rgb(255, 255, 255)" />
                            </div>

                        </div>           
                    {% endif %}
                    {% if product.type.has_size %}
                    <div id="sizes" onclick="select_size();" style="justify-content:center;width:100%;" class="inline-list mt-05">
                        {% for size in sizes %}
                         <div data-id="{{size.id}}" class="inline-item {% if size in product.sizes.all %}inline-item--selected{% endif %}">
                             <span  class="ssz">{{ size.code }}</span>
                         </div>
                        {% endfor %}
                        <div data-id="{{size.id}}" class="inline-item ">
                            <span  class="ssz">XX</span>
                        </div>
                        <div data-id="{{size.id}}" class="inline-item ">
                            <span  class="ssz">XX</span>
                        </div>                        <div data-id="{{size.id}}" class="inline-item ">
                            <span  class="ssz">XX</span>
                        </div>
                     </div> 
                             
                     {% endif %}
                </div>
                <div class="product-actions">
                    <button class="btn cta" style="width: 50%;margin:0rem auto;">میخرم</button>
                </div>
            </div>
        </div> 
</div>
<div  style="margin:1rem auto;width:85%" class="splide" id="related_products" data-splide='{ "autoplay": "true", "interval": "4000","perPage":4, "pagination":"false"}'>
	<div class="splide__track">
		<ul class="splide__list">
			<li  class="splide__slide">
                <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-2.jpg' %}"></om-product>
            </li>
			<li class="splide__slide">
                <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-1.jpg' %}"></om-product>
            </li>
			<li class="splide__slide">
                <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-3.jpg' %}"></om-product>
            </li>
            <li class="splide__slide">
                <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-4.jpg' %}"></om-product>
            </li>
            <li class="splide__slide">
                <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-5.jpg' %}"></om-product>
            </li>
            <li class="splide__slide">
                <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-6.jpg' %}"></om-product>
            </li>
            <li class="splide__slide">
                <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-7.jpg' %}"></om-product>
            </li>
            <li class="splide__slide">
                <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-1.jpg' %}"></om-product>
            </li>
            <li class="splide__slide">
                <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-5.jpg' %}"></om-product>
            </li>
            <li class="splide__slide">
                <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-1.jpg' %}"></om-product>
            </li>
            <li class="splide__slide">
                <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-1.jpg' %}"></om-product>
            </li>
            <li class="splide__slide">
                <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-4.jpg' %}"></om-product>
            </li>
            <li class="splide__slide">
                <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-1.jpg' %}"></om-product>
            </li>
            <li class="splide__slide">
                <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-2.jpg' %}"></om-product>
            </li>
		</ul>
	</div>
</div>
    <div class="tab-container" style="margin: 0rem auto;width:85%">
        <div onclick="select_tab();" class="tab-items" style="width: 100%;justify-content:center;align-items:center;">
            <div  data-tab="specs" style="font-size:0.8rem" class="tab-item tab-item-selected">
                مشخصات محصول
            </div>
            <div id="comment-tab-item" data-tab="comments" style="font-size:0.8rem" class="tab-item">
                نظرات
            </div>
        </div>
        <div class="tab-contents">
            <div id="specs" class="tab-content tab-show-content">
                <div style="display: flex;flex-direction:column;padding:0.5rem">
                    {% comment %}
                    {% for key,value in product.attrs %}
                        <div  style="margin:0.2rem;padding: 0.5rem;background-color:#fcfcfc">
                            <span style="font-size: 0.8rem;">{{ key }}:</span>
                            <span style="font-size: 0.8rem;">{{ value }}</span>
                        </div>
                    {% endfor %}
                    {% endcomment %}
                    {{product.get_attributes}}
                </div>
            </div>
            <div id="comments" class="tab-content">
                {% if user.is_authenticated %}
                <div class="container vertical" style="justify-content: center;align-items:center">
                    <textarea id="comment-body" placeholder="نظر شما" rows="3"  class="comment-text-box " >{{ user_comment.body }}</textarea>
                    <button id="comment-submit" onclick="add_comment();" class="btn cta" style="width: 20%;font-size:0.7rem;margin-top:0.5rem">
                        {% if user_comment %}
                        ویرایش
                        {% else %}
                        ارسال
                        {% endif %}
                    </button> 
                </div>
                {% endif %}
                <div class="container vertical" id="comment-box">
                    {% for comment in page.object_list %}
                        <om-comment author="{{comment.user.first_name}}" body="{{ comment.body }}" date="{{ comment.date_published|to_jalali:'%y/%m/%d' }}"></om-comment>
                    {% endfor %}
                </div>
                <div class="container horizontal justify-center">
                    <div class="pagination">    
                        {% if page.has_previous %}
                         <a class="page-item" href="?pg={{page.previous_page_number}}">&laquo;</a>
                        {% endif %}
                        <a class="page-item" href="?pg=1">ابتدا</a>
                         
                        {% for p in page.paginator.page_range %}
                            <a class="page-item" href="?pg={{p}}" class="{% if page.number == p %}active-page{% endif %}">{{ p }}</a>
                        {% endfor %}
                             <a class="page-item" href="?pg={{page.paginator.num_pages }}">انتها</a>
                        {% if page.has_next %}
                         <a class="page-item" href="?pg={{page.next_page_number}}">&raquo;</a>
                        {% endif %}
                     </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}