<style>
    .badge{
        position: absolute;
        top: 40%;
        padding: 0.5rem;
        left: 5%;
        font-size: 0.7rem;
        background-color: rgb(253, 40, 40);
        color: white;
        border-radius: 4px;
    }
    .list {
        display: flex;
        flex-direction: column;
        line-height: 0.1rem;
        width: 100%;
    }

    .list .list-item {
        background-color: transparent;
        position: relative;
        cursor: pointer;
        color: rgb(87, 87, 87);
        font-size: 0.8rem;
        border-bottom: 1px solid rgb(243, 243, 243);
    }
    .list .list-item:hover{
        background-color: rgb(240, 240, 240);
    }
    @media screen and (min-width:1024px) {
        .side-box-show {
            width: 25vw;
        }
       
    }
</style>
<div class="list">
        <div class="list-item">
            <div style="background-color: rgba(249, 249, 249,0.8);display:flex;flex-direction:column">
                <p style="text-align:center;">موجودی حساب</p> 
                <p style="color: rgb(133, 133, 133);font-size:1.5rem;text-align:center">
                    25800
                    <span style="font-size: 0.8rem;color:darkcyan">تومان</span>
                    </p>
            </div>
        </div>

        <div class="list-item">
            <div style="display: flex;font-size:0.5em">
                <button onclick="deposit_request();" style="width: 50%;border-radius:0;font-size:0.8rem" class="btn btn-primary">افزایش موجودی</button>
                <button onclick="checkout_request();" style="width: 50%;border-radius:0;font-size:0.8rem" class="btn btn-success">تسویه حساب</button>
            </div>
        </div>

        <div class="list-item">
            <p onclick="get_profile();" style="padding: 0.5rem;">
                ویرایش مشخصات
            </p>
        </div>
              <div class="list-item">
                  <p style="padding: 0.5rem;">
                     سفازشهای من
                  </p>
              </div>
              <div onclick="get_messages();" class="list-item">
                  <p style="padding: 0.5rem;">
                     پیامها
                     
                  </p>
                  <span class="badge">4</span>
              </div>
              
              {% if user.is_seller %}
              {% if user.shop.first.is_active %}
                    <div class="list-item caption">
                        <p style="text-align: center;font-weight:bold;cursor:default">
                            مدیریت بوتیک
                        </p>
                    </div>
                    <div class="list-item">
                        <div style="background-color: rgba(249, 249, 249,0.8);display:flex;flex-direction:column">
                        <p style="text-align:center;">تعداد مشتریها</p> 
                        <p style="color: rgb(50, 192, 69);font-size:1.2rem;text-align:center">
                            258
                            </p>
                        
                        </div>
                    </div>
                    <div onclick="get_edit_shop_form();" class="list-item">
                        <p style="padding: 0.5rem;">
                        ویرایش مشخصات بوتیک
                        </p>
                    </div>
                    <div onclick="get_add_product_form();" class="list-item">
                        <p  style="padding: 0.5rem;">
                            افزودن محصول
                        </p>
                    </div>
                    <div class="list-item">
                        <p style="padding: 0.5rem;">
                        <a style="text-decoration: none;" href="{{ user.shop.first.get_absolute_url }}"> برو به صفحه فروشگاه</a>
                        </p>
                    </div>
                    <div class="list-item">
                        <p style="padding: 0.5rem;">
                        سفارشها
                        </p>
                        <span class="badge">5</span>
                    </div>
              {% else %}
                <div class="list-item caption">
                    <p style="text-align: center;font-weight:bold;cursor:default;color:red;font-size:1.1rem">
                        بوتیک شما موقتا غیرفعال شده است!
                    </p>
                </div>
              {% endif %}
             
            {% else %}
            <div class="list-item">
                <button onclick="get_appeal_form();" style="border-radius:0;width: 100%;" class="btn btn-primary" >درخواست ایجاد بوتیک</button>
             </div>
            {% endif %}
            <div class="list-item">
                <button onclick="logout();"  style="border-radius:0;width: 100%;" class="btn btn-primary" >خروج</button>
            </div>
</div>