<style>
    @media screen and (min-width:1024px) {
        .side-box-show {
            width: 25vw;
        }
    }
</style>
<div class="container" style="padding: 0.8rem;">
    <p class="field">
        <button class="btn btn-primary">بازگشت</button>
    </p>
    <p  class="field">
        <label class="caption" for="fname">نام: </label>
        <input  id="fname" class="text-box" type="text" placeholder="نام" />
    </p>
    <p class="field">
        <label class="caption" for="fname">نام خانوادگی: </label>
        <input  id="fname" class="text-box" type="text" placeholder="نام خانوادگی" />
    </p>
    <p class="field">
        <label class="caption" for="fname">ایمیل: </label>
        <input  id="fname" class="text-box" type="text" placeholder="ایمیل" />
    </p>
    <p class="field">
        <label class="caption" for="fname">شماره همراه: </label>
        <input  id="fname" class="text-box" type="text" placeholder="شماره موبایل" disabled>
    </p>
    <p class="field">
        <label class="caption" for="fname">استان: </label>
        <input  id="fname" class="text-box" type="text" placeholder="استان" />
    </p>
    <p class="field">
        <label class="caption" for="fname">شهرستان : </label>
        <input  id="fname" class="text-box" type="text" placeholder=" شهرستان" />
    </p>
    <p class="field">
        <label class="caption" for="fname">شهر: </label>
        <input  id="fname" class="text-box" type="text" placeholder="شهر" />
    </p>
    <p class="field">
        <label class="caption" for="fname">کد پستی: </label>
        <input  id="fname" class="text-box" type="text" placeholder="کد پستی" />
    </p>
    <p class="field">
        <label for="desc" class="caption">نشانی: </label>
        <textarea name="desc" rows="5" placeholder="شانی" class="text" style="resize: none;"  ></textarea>
    </p>
    <p class="field">
        <button class="btn btn-primary" onclick="edit_profile();">ثبت</button>
    </p>
</div>