<style>
    .tab-item {
        font-size: 0.7rem !important;
    }
</style>
<div class="container">
    <div class="tab-container">
        <div class="tab-items">
            <div class="tab-item">جدیدترین</div>
            <div class="tab-item">تایید شده</div>
            <div class="tab-item">رد شده</div>
            <div class="tab-item">کنسل شده</div>
            <div class="tab-item">بازگشتی</div>

        </div>
        <div class="tab-contents">
            <div class="tab-content">

            </div>
            <div class="tab-content">

            </div>
            <div class="tab-content">

            </div>
            <div class="tab-content">

            </div>
        </div>
    </div>
</div>