<style>
    .tab-item {
        font-size: 0.7rem !important;
        padding: 0.2rem;
    }
    table{
        border-collapse: collapse;
        width: 100%;
        text-align: center;
        padding: 0.4rem;
        font-size: 0.7rem;
        border-bottom: 1px solid rgb(226, 226, 226);
    }
    th{
        background-color: rgb(240, 240, 240);
        padding: 0.5rem;
        color: rgb(54, 54, 54);
    }
    tr{
        background-color: rgba(249,249,249,0.9);
        color: black;
        padding: 15px;
        height: 10vw;
        margin: 0.5rem;
    }
    tr:nth-child(even){
        background-color: white;
    }

    tfoot {
        background-color: #efefef;
    }

    .order {
        margin-top: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid rgb(226, 226, 226);
    }

    .more {
        color: gray;
        cursor: pointer;
    }
    .more:hover{
        color: black;
    }

    .accepted {
        background-color: rgba(131, 247, 131,0.5) !important;
    }
    .rejcted { 
        background-color: #fbfbfb !important;
    }
    .sent { 
        background-color: skyblue !important;
    }
    .recieved { 
        background-color: green !important;
    }
    .cancelled { 
        background-color: #efefef;
    }

    @media screen and (min-width: 576px) {
        tr {
            height: 4vw;
        }
    }

    @media screen and (min-width: 1024px) {
        tr {
            height: 2vw;
        }
    }

</style>
<div class="container">
    <div class="tab-container w-100">
        <div style="display: flex;width:100%;justify-content:center" class="tab-items">
            <div data-tab="new-orders" onclick="select_tab();" class="tab-item">جدیدترین</div>
            <div data-tab="accepted-orders" onclick="select_tab();" class="tab-item">تاییدی</div>
            <div data-tab="rejected-orders" onclick="select_tab();" class="tab-item">ردی</div>
            <div data-tab="sent-orders" onclick="select_tab();" class="tab-item">ارسالی</div>
            <div data-tab="recieved-orders" onclick="select_tab();" class="tab-item">دریافتی</div>
            <div data-tab="returned-orders" onclick="select_tab();" class="tab-item">بازگشتی</div>

        </div>
        <div class="tab-contents">
            <div id="new-orders" class="tab-content">
                <div class="order">
                    <table>
                        <tr>
                            <th>شماره</th>
                            {% if owner == 'shop' %}
                                <th>خریدار</th>
                            {% elif owner == 'user' %}
                                <th>بوتیک</th>
                            {% endif %}
                            <th>تعداد محصولات</th>
                            <th>قیمت کل</th>
                            <th>جزئیات</th>
                        </tr>
                     {% for order in pending_orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            {% if owner == 'shop' %}
                            <td>{{ order.user.first_name }}&nbsp{{ order.user.last_name }}</td>
                            {% elif owner == 'user' %}
                            <td>{{ order.shop.name }}</td>
                            {% endif %}
                            <td>{{ order.quantity }}</td>
                            <td>{{ order.discounted_total_price }}</td>
                            <td>
                                <span data-id="{{ order.id }}" onclick="show_order_detail();" class="fa fa-paperclip more"></span>
                             </td>
                        </tr>
                     {% endfor %}
                    </table>
                </div>
               
            </div>
            <div id="accepted-orders" class="tab-content">
                <table>
                    <tr>
                        <th>شماره</th>
                        {% if owner == 'shop' %}
                            <th>خریدار</th>
                        {% elif owner == 'user' %}
                            <th>بوتیک</th>
                        {% endif %}
                        <th>تعداد محصولات</th>
                        <th>قیمت کل</th>
                        <th>جزئیات</th>
                    </tr>
                 {% for order in accepted_orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        {% if owner == 'shop' %}
                        <td>{{ order.user.first_name }}&nbsp{{ order.user.last_name }}</td>
                        {% elif owner == 'user' %}
                        <td>{{ order.shop.name }}</td>
                        {% endif %}
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.discounted_total_price }}</td>
                        <td>
                            <span data-id="{{ order.id }}" onclick="show_order_detail();" class="fa fa-paperclip more"></span>
                         </td>
                    </tr>
                 {% endfor %}
                </table>

            </div>
            <div id="rejected-orders" class="tab-content">
                <table>
                    <tr>
                        <th>شماره</th>
                        {% if owner == 'shop' %}
                            <th>خریدار</th>
                        {% elif owner == 'user' %}
                            <th>بوتیک</th>
                        {% endif %}
                        <th>تعداد محصولات</th>
                        <th>قیمت کل</th>
                        <th>جزئیات</th>
                    </tr>
                 {% for order in rejected_orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        {% if owner == 'shop' %}
                        <td>{{ order.user.first_name }}&nbsp{{ order.user.last_name }}</td>
                        {% elif owner == 'user' %}
                        <td>{{ order.shop.name }}</td>
                        {% endif %}
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.discounted_total_price }}</td>
                        <td>
                            <span data-id="{{ order.id }}" onclick="show_order_detail();" class="fa fa-paperclip more"></span>
                         </td>
                    </tr>
                 {% endfor %}
                </table>

            </div>
            <div id="sent-orders" class="tab-content">
                <table>
                    <tr>
                        <th>شماره</th>
                        {% if owner == 'shop' %}
                            <th>خریدار</th>
                        {% elif owner == 'user' %}
                            <th>بوتیک</th>
                        {% endif %}
                        <th>تعداد محصولات</th>
                        <th>قیمت کل</th>
                        <th>جزئیات</th>
                    </tr>
                 {% for order in sent_orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        {% if owner == 'shop' %}
                        <td>{{ order.user.first_name }}&nbsp{{ order.user.last_name }}</td>
                        {% elif owner == 'user' %}
                        <td>{{ order.shop.name }}</td>
                        {% endif %}
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.discounted_total_price }}</td>
                        <td>
                            <span data-id="{{ order.id }}" onclick="show_order_detail();" class="fa fa-paperclip more"></span>
                         </td>
                    </tr>
                 {% endfor %}
                </table>

            </div>
            <div id="recieved-orders" class="tab-content">
                <table>
                    <tr>
                        <th>شماره</th>
                        {% if owner == 'shop' %}
                            <th>خریدار</th>
                        {% elif owner == 'user' %}
                            <th>بوتیک</th>
                        {% endif %}
                        <th>تعداد محصولات</th>
                        <th>قیمت کل</th>
                        <th>جزئیات</th>
                    </tr>
                 {% for order in recieved_orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        {% if owner == 'shop' %}
                        <td>{{ order.user.first_name }}&nbsp{{ order.user.last_name }}</td>
                        {% elif owner == 'user' %}
                        <td>{{ order.shop.name }}</td>
                        {% endif %}
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.discounted_total_price }}</td>
                        <td>
                            <span data-id="{{ order.id }}" onclick="show_order_detail();" class="fa fa-paperclip more"></span>
                         </td>
                    </tr>
                 {% endfor %}
                </table>

            </div>
            <div id="returned-orders" class="tab-content">
                <table>
                    <tr>
                        <th>شماره</th>
                        {% if owner == 'shop' %}
                            <th>خریدار</th>
                        {% elif owner == 'user' %}
                            <th>بوتیک</th>
                        {% endif %}
                        <th>تعداد محصولات</th>
                        <th>قیمت کل</th>
                        <th>جزئیات</th>
                    </tr>
                 {% for order in returned_orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        {% if owner == 'shop' %}
                        <td>{{ order.user.first_name }}&nbsp{{ order.user.last_name }}</td>
                        {% elif owner == 'user' %}
                        <td>{{ order.shop.name }}</td>
                        {% endif %}
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.discounted_total_price }}</td>
                        <td>
                            <span data-id="{{ order.id }}" onclick="show_order_detail();" class="fa fa-paperclip more"></span>
                         </td>
                    </tr>
                 {% endfor %}
                </table>

            </div>
        </div>
    </div>
</div>
