{% extends 'index/base.html' %}
{% load static %}
{% block title%}{% endblock %}
{% block content %}
<div id="aboutus" class="container vertical" style="scroll-snap-type:proximity;width: 100%;min-height:100vh;background:rgb(255, 255, 255);">
    <div class="pure-g">
        <div class="pure-u-1-1 pure-u-md-1-2">
            <img src="{% static 'img/collection/square-3.jpg' %}" style="width: 100%;height:100%">
        </div>
        <div class="pure-u-1-1 pure-u-md-1-2">
            <div class="container vertical" style="justify-content: center; align-items:center;width:100%;height:100%;margin:0 auto;">
                <h4 style="margin-bottom: 1rem;color:#333;margin-top:1.5rem">درباره ما</h4>
                <p style="width: 90%;padding:0.5rem;color:#666;line-break:loose;word-break:break-all">
                    بللللللللللللللللللیبلل
                    بسبسبسبسبسببسیبمسابسابستباسبنتسابنتسباسنبتسبانستباسنبستبس
                    بتسبنسبتسنبتسبناستبسانبتسباسنبتسابنتسبسنب
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}