{% extends 'index/base.html' %}
{% load static %}
{% block title%}{% endblock %}
{% block content %}
<div id="aboutus" class="container vertical" style="scroll-snap-type:proximity;width: 100%;min-height:100vh;background:rgb(255, 255, 255);">
    <div class="pure-g">
        <div class="pure-u-1-1 pure-u-md-1-2">
            <img src="{% static 'img/collection/square-3.jpg' %}" style="width: 100%;height:100%">
        </div>
        <div class="pure-u-1-1 pure-u-md-1-2">
            <div class="container vertical" style="justify-content: center; align-items:center;width:100%;height:100%;margin:0 auto;">
                <h4 style="margin-bottom: 0.5rem;color:#333;margin-top:1rem">مقدمه</h4>
                <p style="width: 90%;padding:0.5rem;color:#666;font-size:0.7rem;text-align:justify;text-justify:distribute;line-height:1.3rem">
                    همه ما به عنوان کاربران حوزه مد و فشن، در محاصره رنگ‌ها، لباس‌ها، مدل‌ها و ایده‌های پوششی زیادی قرار داریم، به طوری که ممکن است در برخی موارد نتوانیم یک تصمیم درست داشته باشیم و به‌ راحتی یک لباس را انتخاب کنیم. استارتاپ آنمد (onmode) نه  تنها  قصد دارد با تجزیه ‌و تحلیل بازار از طریق هوش مصنوعی به خرده‌ فروشان آنلاین صنعت فشن کمک ‌کند، بلکه از طریق  تحلیل داده‌ها و شناخت نیازهای کاربران، به مصرف ‌کنندگان نیز پیشنهاد‌های مناسب‌تری را جهت انتخاب نوع محصول ارائه ‌بدهد. هدف اصلی ما نه فقط فروش محصولات مان به مشتریان، بلکه معرفی سبک جذابی از زندگی است.
                </p>
                <h4 style="margin-bottom: 0.5rem;color:#333;margin-top:1rem">اهداف ما</h4>
                <p style="width: 90%;padding:0.5rem;color:#666;font-size:0.7rem;text-align:justify;text-justify:distribute;line-height:1.3rem">
                    لباس هر شخص منعکس‌کننده احساسات و عواطف درونی او است. بر همین اساس آنمد با استفاده از سامانه هوشمند به تجزیه و تحلیل کاربران بازار مد و پوشاک می‌پردازد تا بتواند وضعیت ذهنی یک خریدار را در لحظه خرید مورد بررسی قرار داده و از این طریق توصیه‌های دقیق و به‌ موقعی را به بازیگران اصلی حوزه مد و پوشاک ارائه دهد.
در همین راستا استفاده از تکنولوژی هوش ماشینی برای برطرف کردن تعدادی از مشکلات موجود در فروش اینترنتی پوشاک مانند پرو لباس، شناخت مصرف‌کنندگان و آگاه ‌بودن از نظرات و خواسته‌های آن‌ها، می‌تواند گام بزرگی برای رسیدن به موفقیت در فضای خرده‌ فروشی آنلاین خصوصا برای خرده فروشان در بستر هایی مانند اینستاگرام و تلگرام باشد.
علاوه بر آن کاربران می‌توانند با تدابیری که در مجموعه آنمد اجرا شده است و در نهایت متناسب با میزان بودجه، شخصیت و نیاز خود، بهترین و مناسب‌ترین سبک پوشش را انتخاب کنند. (همه مردم باید لباس‌های شیک داشته باشند، نه فقط یک گروه خاص. بر همین اساس نیز رویکرد قیمت‌گذاری فروشنده ها منطقی‌تر است و سعی می‌کنند قیمت‌هایی را ارائه دهند که مناسب با قدرت خرید عموم مردم باشد).
                </p>
                <h4 style="margin-bottom: 0.5rem;color:#333;margin-top:1rem">هدف اصلی ما از توسعه جایگاه برندمان چیست؟</h4>
                <p style="width: 90%;padding:0.5rem;color:#666;font-size:0.7rem;text-justify:newspaper;direction:rtl;line-height:1.3rem">
                    در درجه اول ایجاد اطمینان در افراد نسبت به خریدهای اینترنتی لباس، ایجاد تنوع پوشاک، جلوگیری از اتلاف وقت کاربران و سعی در پیشگام بودن در تکنولوژی های کمک کننده در حل مشکلات مشتری در خرید آنلاین.
                    ایجاد بستر مناسب و همچنین ایجاد موقعیت های فروش برای خرده فروشان آنلاین که در شبکه ه اجتماعی  مانند (اینستاگرام  و تلگرام) فعالیت دارن
                </p>
                <h4 style="margin-bottom: 0.5rem;color:#333;margin-top:1rem">کلام آخر</h4>
                <p style="width: 90%;padding:0.5rem;color:#666;font-size:0.7rem;text-align:justify;text-justify:distribute;line-height:1.3rem">
                    مردمی در دنیا هستند که به راحتی زندگی خود را می کنند. دسته دیگری از مردم اما زندگی خود را با نهایت عشق و انگیزه دنبال می کنند. این دسته به معنای واقعی کلمه عاشق زندگی شان هستند. به این ترتیب عشق از تمام کارهای کوچک و بزرگ آنها به زندگی دیگران منعکس می شود. این امر فقط مربوط به شکرگزاری آنها در برابر زندگی نیست، بلکه به علاقه و انگیزه آنها نیز ربط پیدا می کند. وقتی شما حتی از کوچک ترین اتفاق های زندگی هم لذت ببرید، در حقیقت به سبک زندگی اصیل نزدیک خواهید شد. این نوع از سبک زندگی در مرکز اهداف و ارزش های اصلی استارتاپ آنمد قرار دارد. به این ترتیب در تعامل با کارمندان و فروشندگان و حتی مصرف کنندگان، تمام این انگیزه نمایان است. هدف اصلی ما نه فقط فروش محصولات به مشتریان، بلکه معرفی سبک جذابی از زندگی است.

                </p>
            </div>

        </div>
    </div>
</div>
{% endblock %}