<footer>
    <div class="footer" >
       <div style="display:flex;justify-content:center;width:100%">
        <div style="margin-top: 0.5rem;">
            <li class="foo-item">درباره ما</li>
            <li class="foo-item">سوالات متداول</li>
            <li class="foo-item">قوانین</li>
            <li class="foo-item">ثبت شکایت</li>
        </div>
       </div>
        <div style="text-align:center;color:rgb(88, 88, 88);font-size:0.9rem;width:100%;margin-top:1rem">
           <p>
               <span>شماره تماس:</span>
               <span>00-88-55556-445</span>
           </p>
           <p>
            <span">ایمیل:</span>
            <span>onmode@gmail.com</span>
           </p>
           <p>
               <span>انمد را در شبکه های احتماعی:</span>
               <p style="font-size: 1.5rem;text-align:center">
                   <span class="fa fa-instagram social-icon"></span>
                   <span class="fa fa-telegram social-icon"></span>
                   <span class="fa fa-twitter social-icon"></span>
                   <span class="fa fa-facebook social-icon"></span>
               </p>
           </p>
           <p style="color: rgb(58, 58, 58);font-size:0.8em;font-style:italic">
            تمام حقوق مادی و معنوی این سایت متعلق به گروه آنمد می باشد
            <span style="color: rgb(75, 75, 75);font-size:1.5rem">&copy;</span>
           </p>
        </div>
    </div>   
</footer>