{% load static %}
<style>
    .ffooter{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width:100%;
        height: 450px;
        margin: 0;
        background-image: url('{% static "img/slideshow/wave.svg" %}');

    }

    .footer {
        background-color: #aaa;
        width: 100%;
        min-height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer ul {
        list-style-type: none;

    }
    .footer .contact-us {
        background-color: rgb(92, 92, 92);
        flex: 50%;
     
        height: 400px;
    }
    .footer ul li {
        color: black;
        font-size: 0.9rem;
        padding:0.3rem
    }   
    .footer  ul li:first-child {
        font-size: 1.2rem;
    }
    .footer .footer-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #zarinpal img {width: 24px;}

</style>
<!-- 
<div class="footer" style="height:250px;">
       <div class="container horizontal w-100 justify-center">
        <div style="margin-top: 0.5rem;">
            <a class="foo-item" href="{% url 'index:aboutus' %}">درباره ما</a>
            <a class="foo-item" href="{% url 'index:faqs' %}">سوالت متداول</a>
            <a class="foo-item" href="{% url 'index:rules' %}">قوانین</a>
            <a class="foo-item" href="{% url 'issues:issues'%}">ثبت شکایت</a>
        </div>
       </div>
       <a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=234837&amp;Code=OTO7bnJBNhCkDXUFKLLT"><img referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=234837&amp;Code=OTO7bnJBNhCkDXUFKLLT" alt="" style="cursor:pointer" id="OTO7bnJBNhCkDXUFKLLT"></a>
        <div style="text-align:center;color:rgb(255, 255, 255);font-size:0.9rem;width:100%;margin-top:1rem">
           <p>
               <span>شماره تماس:</span>
               <span>00-88-55556-445</span>
           </p>
           <p>
            <span">ایمیل:</span>
            <span>onmode@gmail.com</span>
           </p>

        </p>
           <p style="color: rgb(255, 255, 255);font-size:0.7em;font-style:italic;position:absolute;bottom:8px;width:100%;text-align:center">
            تمام حقوق مادی و معنوی این سایت متعلق به گروه آنمد می باشد
            <span style="color: rgb(255, 255, 255);font-size:1.5rem">&copy;</span>
           </p>
        </div>
</div>   -->
<!-- <footer class="footer">
    <a class="footer-logo" href="{% url 'index:home' %}"  >
        <img src="{% static 'img/slideshow/onmodelogo.png' %}" style="height:100%;max-width:36px;background:transparent">
    </a>

    <a class="f-item" href="">قوانین</a>
    <a class="f-item" href="">درباره ما</a>
    <a class="f-item" href="">وبلاگ</a>
    <a class="f-item" href="">سوالات متداول</a>
    <a class="f-item" href="">ثبت شکایت</a>
    <a class="f-item" href="">تماس با ما</a>

    <span class="footer-copyright">&copy;onmode.ir</span>

</footer> -->

<footer class="footer">
   <section class="footer-menu" style="flex: 50%;">
    <ul>
        <li>پشتیبانی</li>
        <li>سلام</li>
        <li>ررر</li>
    </ul>
    <ul>
        <li>پشتیبانی</li>
        <li>سلام</li>
        <li>ررر</li>
    </ul>
   </section>
    <section class="contact-us"></section>
    <section class="footer-copyright"></section>
</footer>