{% load static %}
<style>
    .ffooter{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width:100%;
        height: 450px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        bottom: 0;
        background-image: url('{% static "img/slideshow/wave.svg" %}');

    }



    .site-footer {
        background-color: #444;
        padding-bottom: 0.5rem;
        padding: 0;
        width: 100%;
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;

    }
    .site-footer .footer-logo {
        flex-basis: 3%;
        background-color: rgb(255, 255, 255);
        border-radius:  50% 0 0 50%;
    }
    
    .site-footer .footer-menu {
        flex-basis: 70%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 0.5rem;
    }

    .site-footer .footer-menu a {
        display: inline-flex;
        align-items: center;
        margin-left: 16px;
        text-decoration: none;
        font-size: 0.8rem;
        color: rgb(255, 255, 255);
        height: 100%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        word-break: keep-all;
        word-wrap: unset;
    }
    .site-footer .footer-menu a:hover{
        background-color: rgb(245, 86, 86);
        color: white;
        cursor: pointer;
    }

    .site-footer .footer-tokens 
    {
        flex: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #zarinpal img {
        width: 32px;
        height: 32px;
        margin: 0;
        padding-top: 5px;
    }
    #zarinpal {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-logo {
        background-color: transparent;
        width: 32px;
        height: 32px;
        margin-left: 8px;
    }
   .copyright {
       font-size: 0.7rem;
       font-weight: bold;
       font-style: italic;
       color: white;
       background-color: rgb(238, 64, 64);
       padding: 0.3rem;
       display: flex;
       justify-content: center;
       text-align: center;
       align-items: center;
       
   }
    @media screen and (max-width: 576px) {
        .site-footer {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 1rem;
        }

        .footer-logo {
            display: none;

        }

        .site-footer .footer-menu a:hover {
            background-color: transparent !important;
            color: rgb(224, 83, 83);
        }

        .footer-tokens {
            margin-top: 1rem;
        }
        .copyright {
            background-color: transparent;
        }
    }

    .footer-menu {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        width: 100%;
        justify-content: center;
        margin-top: 2rem;
    }

    .footer-menu a {
        text-decoration: none;
        margin-top: 1rem;
        font-size: 0.8rem;
        color: rgb(114, 18, 18);
    }
    .footer-menu a:hover {
        color: rgb(223, 71, 91);
    }
    .footer-menu a:first-child {
        font-size: 1rem;
        font-weight: bold;
        padding-right: 0;
    }

    @media screen and (max-width: 570px) {
        .bbb {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

</style>

<div class="ffooter">
    <div class="container horizontal" style="width: 50%;margin-top:5rem;justify-content:flex-start;align-items:flex-start">
        <section class="footer-menu">
            <a href="#">درباره ما</a>
            <a href="#">وبلاگ</a>
            <a href="#">قوانین</a>
            <a href="#">ثبت شکایت</a>
            <a href="#">سوالات پرتکرار</a>
        </section>
        <section class="footer-menu">
            <a href="#">پروفایل</a>
            <a href="#">سبد خرید</a>
            <a href="#">علاقه مندیها</a>
            <a href="#">سفارشها</a>
            <a href="#">بازگشت</a>
        </section>
        <section class="footer-menu">
            <a href="#">سفارشها</a>
            <a href="#">بازگشت</a>
        </section>
    </div>
</div>
<!-- 
<footer class="site-footer">
    <a href="" class="footer-logo">
        <img src="{% static 'img/slideshow/onmodelogo.png' %}" style="width: 32px;background:transparent" />
    </a>
    <section class="footer-menu">
        <a href="">سوالات متداول</a>
        <a href="">قوانین</a>
        <a href="">وبلاگ</a>
        <a onclick="get_profile();">تماس با ما</a>
    </section>
    <section class="footer-tokens">
        <div id="zarinpal">
            <script src="https://www.zarinpal.com/webservice/TrustCode" type="text/javascript"></script>
        </div>
        <img src="{% static 'img/logos/enamad-1.png' %}" class="img-logo" />
        <img src="{% static 'img/logos/sazmandehi.png' %}" class="img-logo" />

    </section>
    <p class="copyright">
        onmode.ir&copy;<br/>آسوده خرید کنید
    </p>
</footer> -->