{% load static %}
<style>
    .hi {
        display: none !important;
    }
    .hhe{
        background-repeat: no-repeat;
        background-size: cover;
        background-origin:border-box;
        background-position: center;
        width:100%;
        margin: 0;
        background-image: url('{% static "img/slideshow/wave_(1).svg" %}');

    }

</style>

<nav class="navbar {% if not shop %}hhe {% endif %}" >
    <a style="text-decoration: none;position:absolute;top:6px;right:16px" href="{% url 'index:home'%}">
        <img src="{% static 'img/slideshow/onmodelogo.png' %}" style="width: 50%;background:transparent">
    </a>
   <div class="nav nav-md" style="margin-right: 100px;margin-top:8px;z-index:700;">
    <a href="{% url 'shops:all_products' %}" id="prods" class="nav-item" onclick="showMegaMenu();"  onmousemove="showMegaMenu();">محصولات</a>
    <a href="{% url 'shops:boutiques' %}" class="nav-item">بوتیکها</a>
    <a href="#" class="nav-item">شگفت انگیز</a>
    <a href="#" class="nav-item">وبلاگ</a>
    <a href="{% url 'index:aboutus' %}" class="nav-item">درباره ما</a>
   </div>
   
   <div class="nav" style="flex:10%;display:flex;justify-content:flex-end;align-items:center;">
       <ion-icon id="ass" onclick="toggle_search_box();"  name="search-outline" class="icon"></ion-icon>
       
        <div class="prof-dropdown">
            <ion-icon id="user-icon"  name="person-outline" class="icon prof-toggle {% if not user.is_authenticated %}hi{% endif %}"></ion-icon>
            <ul class="prof-menu">
                <div style="width: 100%;background-color:rgb(223, 68, 89);padding:0.5rem;text-align:center;border-radius:4px 4px 0 0;">
                    <span style="font-size:0.9rem;color:rgb(255, 255, 255);display:block;margin-top:0.0rem">{{ user.phone_no}}</span>
                    <span style="font-size: 0.7rem;color:rgb(255, 255, 255);display:block;margin-top:0.4rem">کد کاربری: {{ user.user_code}}</span>        
                </div>
                <li onclick="get_profile();">
                    <ion-icon name="create-outline" style="font-size: 19px;margin-left:8px;color:rgb(250, 100, 100)"></ion-icon>
                    <span>پروفایل</span>
                </li>
                <li onclick="get_wallet();">
                    <ion-icon name="wallet-outline" style="font-size: 19px;margin-left:8px;color:rgb(250, 100, 100)"></ion-icon>
                    <span> کیف پول</span>
                </li>
                <a href="{% url 'orders:user_orders' %}">
                    <ion-icon name="bag-outline" style="font-size: 19px;margin-left:8px;color:rgb(250, 100, 100)"></ion-icon>
                    <span>سفارشها</span>
                </a>
                <li style="position: relative;"  onclick="open_favourites();" >
                    <ion-icon name="heart-outline" style="font-size: 19px;margin-left:8px;color:rgb(250, 100, 100)"></ion-icon>
                    <span>علاقه مندیها</span>
                    <span style="left:8px;top:50%;transform:translate(0,-50%);font-size:0.6rem;color:white;position:absolute;border-radius:6px;padding:0.3rem;display:block;background:rgb(255, 90, 90)">{{user.favourites.all|length}}</span>
                </li>
                <li onclick="get_messages();" style="position: relative;">
                    <ion-icon name="mail-outline" style="font-size: 19px;margin-left:8px;color:rgb(250, 100, 100)"></ion-icon>
                    <span>پیامها</span>
                    <span style="left:8px;top:50%;transform:translate(0,-50%);font-size:0.6rem;color:white;position:absolute;border-radius:6px;padding:0.3rem;display:block;background:rgb(255, 90, 90)">{{user.recieved_messages.all|length}}</span>
                </li>
                {% if user.shop.first.is_active %}
                    <a href="{{user.shop.first.get_absolute_url }}" >
                        <ion-icon name="storefront-outline" style="font-size: 19px;margin-left:8px;color:rgb(250, 100, 100)"></ion-icon>
                        <span>بوتیک من</span>
                    </a>
                {% else %}
                    <li onclick="get_appeal_form();" >
                        <ion-icon name="storefront-outline" style="font-size: 19px;margin-left:8px;color:rgb(250, 100, 100)"></ion-icon>
                        <span>ایجاد بوتیک</span>
                    </li>
                {% endif %}
                <a href="{% url 'users:logout' %}">
                    <ion-icon name="log-out-outline" style="font-size: 19px;margin-left:8px;color:rgb(250, 100, 100)"></ion-icon>
                    <span style="color: rgb(243, 74, 74);"> خروج</span>
                </a>
                
            </ul>

        </div>
        
        <div id="cart-icon" style="position: relative;" class="">
            <ion-icon style="position: relative;display:block" name="cart-outline" onclick="open_cart();" class="icon">
            </ion-icon>
            <span id="cart-num-badge"  style="border-radius:6px;position: absolute;top:2px;right:0;background:rgb(230, 42, 114);color:white;font-size:0.6rem;padding:0.2rem;user-select:none;pointer-events:none">{{ cart|length }}</span>
        </div>
            <button id="login-button" onclick="open_dashboard()"  class="btn  {% if user.is_authenticated %}hi{% endif %}" style="margin-left: 0.5rem;font-size:0.7rem;">عضویت / ورود</button>
       <ion-icon name="menu-outline" onclick="open_mobile_menu();"  class="icon vi"></ion-icon>
   </div>
</nav>
{% include 'index/searchbox.html' %}
{% include 'index/home/megamenu.html' %}