<nav class="navbar sticky-md">
    <span class=" logo">
        آنمد
     </span>
   <div class="nav nav-md">
    <a href="#" id="prods" class="nav-item" onclick="showMegaMenu();"  onmousemove="showMegaMenu();">محصولات</a>
    <a href="#" class="nav-item">بوتیکها</a>
    <a href="#" class="nav-item">شگفت انگیز</a>
    <a href="#" class="nav-item">وبلاگ</a>
    <a href="#" class="nav-item">درباره ما</a>
   </div>
   
   <div class="nav" style="flex: 10%;display:flex;justify-content:flex-end;align-items:center;">
       <ion-icon id="ass" onclick="ds();" name="search-outline" class="icon"></ion-icon>
       <ion-icon onclick="showMenu();" name="person-outline" class="icon"></ion-icon>
       <ion-icon name="cart-outline" class="icon"></ion-icon>
       <ion-icon name="menu-outline"  class="icon vi"></ion-icon>
   </div>

</nav>
{% include 'index/home/megamenu.html' %}