{% extends 'base.html' %}

{% block content %}
<div class="container" style="padding: 3em;background-color:rgb(243, 243, 243);justify-content:center">
    <p>
        مقدمه
    </p>
</div>
<div class="container" style="padding: 3em;background-color:rgb(255, 255, 255);align-items:center">

    <form action="#" method="POST" style="text-align: center;">
        <p class="field">
            <label class="caption" for="fname">نام بوتیک به فارسی </label>
            <input  id="fname" class="text-box" type="text" placeholder="نام بوتیک به فارسی" />
        </p>
        <p>
        <p class="field">
            <label class="caption" for="fname">آدرس اینترنتی بوتیک </label>
            <input  id="fname" class="text-box" type="text" placeholder="YourName" />
            <span  style="font-size: 0.8em;color:rgb(73, 73, 73);margin-top:0.5em">ex: http://www.onmode.ir/YourName</span>
            <input class="btn btn-primary" style="margin-top:1em" type="submit" value="ثبت درخواست" />
        </p>
       
    </form>
    <p style="text-align: center;margin-top:2em;width:100%">
        ثبت بوتیک به منزله پذیرش تمامی قوانین سایت میباشد.
    </p>

</div>
<div class="container" style="padding: 3em;background-color:rgb(236, 113, 113);justify-content:center">
    <p>
        مزایا و قابلیت های آنمد
    </p>
</div>
<div class="container" style="padding: 3em;background-color:rgb(109, 214, 191);justify-content:center">
    <p>
        شرح شرایط فروش و قوانین به اختصار
    </p>
</div>
<div class="container" style="padding: 3em;background-color:rgb(177, 255, 242);justify-content:center">
    <p>
        آموزش مدیریت بوتیک و کار با سایت
    </p>
</div>
<div class="container" style="padding: 3em;background-color:rgb(15, 148, 126);justify-content:center">
    <p>
        آموزش تبلیغات آنلاین تولید محتوا مناسب و بازریابی
    </p>
</div>
{% endblock %}