{% load static %}
<style>
    .list-box {
        width: 100%;
        border: none;
        border-bottom: 1px solid silver;
        padding-bottom: 0.2rem;
    }
    .color, .size{
        margin-top: 0.2rem;
    }


    .error{
        border-bottom-color: red;
        background-color: rgba(255, 194, 194, 0.8)
    }

    .attr-box {
        width: 100%;
        padding: 0.2rem;
        background-color: white;

    }

    .attr-list {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .attr-list .attr {
        padding: 0.5rem;
        margin-top: 0.5rem;
        position: relative;
        background-color: #efefef;
    }

    .attr-list .attr .close {
        position: absolute;
        top: 25%;
        cursor: pointer;
        left: 2%;
    }

    .thumb {
        max-width: 48px;
        max-height: 48px;
        
    }


</style>
<div class="container" style="width: 80%;margin-top:1rem">
    <input type="hidden" value="{{ product_id }}" id="id" name="id" >
    <input  id="name" name="name" type="text" class="w-100 text-box" placeholder="نام محصول">
    <input onblur="validate_field('^[0-9]{1,7}$');" id="price" name="price" type="text" class="mt-1 w-100 text-box" placeholder="قیمت">
‍    <input onblur="validate_field('^[0-9]{1,3}$');"  id="quantity" name="quantity" type="number" min="0" class="w-100 text-box" placeholder="تعداد موجود">
    <div  class="mt-1 w-100 list-box" style="background-color: white;margin-top:2rem">
        <input data-target="types" onkeyup="listboxFilter();" type="text" class="filter" placeholder="نوع محصول">
        <div id="types" style="font-size:0.8rem;" onclick="listboxSelect_mono();" class="items">
           {% for type in types %}
                <div data-id = "{{ type.id }}" class="item">
                    {{ type.name }}
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
           {% endfor %}
          
        </div>
    </div>    
    <div  class="mt-1 list-box" style="background-color: white">
        <input data-target="subtypes" onkeyup="listboxFilter();" type="text" class="filter" placeholder="رده محصول">
        <div id="subtypes" style="font-size:0.8rem;" onclick="listboxSelect_mono();" class="items">
            {% for subtype in subtypes %}
                <div data-id="{{ subtype.id }}" class="item">
                    {{ subtype.name }}
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
            {% endfor %}
        </div>
    </div>  
    <div  class="mt-1 w-100 list-box" style="background-color: white;margin-top:2rem">
        <input data-target="categories" onkeyup="listboxFilter();" type="text" class="filter" placeholder="کتگوریها">
        <div id="categories" style="font-size:0.8rem;" onclick="listboxSelect();" class="items">
         {% for category in categories %}
            <div data-id="{{ category.id }}" class="item">
                {{ category.name }}
                <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
            </div>
         {% endfor %}
        </div>
    </div>    

    <div  class="mt-1 w-100 list-box" style="background-color: white;margin-top:2rem">
        <input data-target="brands" onkeyup="listboxFilter();" type="text" class="filter" placeholder="برند">
        <div id="brands" style="font-size:0.8rem;" onclick="listboxSelect_mono();" class="items">
           {% for brand in brands %}
                <div data-id="{{ brand.id }}" class="item">
                    {{ brand.name }}
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
           {% endfor %}
        </div>
    </div>    
    
    <p style="font-size:0.8rem;margin-top:2rem">رنگ های موجود:</p>
    <div id="colors" onclick="select_multi_color();" style="flex-wrap: wrap;" class="inline-list" >
       {% for color in colors %}
            <div class="color" data-id="{{ color.id }}" style="background-color:{{color.code}};"></div>
       {% endfor %}
       
    </div>
    <p style="font-size:0.8rem;margin-top:1rem">سایز های موجود:</p>
    <div id="sizes" onclick="select_multi_size();" class="inline-list">
       {% for size in sizes %}
            <div class="size" data-id="{{ size.id }}">{{ size.code }}</div>
       {% endfor %}
    </div> 
    {% if product %}
    <input type="hidden" name="id" id="id" value="{{ product.id }}">
    <span style="text-align: center;" class="fz-small mt-1 w-100">تصاویر محصول</span>
    <div style="display: flex;justify-content:center;margin-top:0.5rem" class="w-100 thumbs">
       {% for item in product.images.all %}
        <label>
            <img data-id="{{item.id}}" id="img-{{item.id}}"  src=" {{item.image.url}}" class="thumb" />
            <input data-img="img-{{item.id}}" onchange="changeimg();" type="file" id="img-1" name="image" style="position: fixed;top:-100px">
        </label>
       {% endfor %}
        
        <!-- <img src="{% static 'img/img1/aaa.jpg' %}" class="thumb" />
        <img src="{% static 'img/img1/fff.jpg' %}" class="thumb" />
        <img src="{% static 'img/img1/h.jpg' %}" class="thumb" />
        <img src="{% static 'img/img1/h.jpg' %}" class="thumb" /> -->
    </div>
    {% else %}
    <label class="w-100 mt-1" style="cursor:pointer;background-color: #f72e2e;padding:0.8rem;text-align:center;color:white">
        <span style="font-size: 0.8rem;margin-top:1rem">
            برا افزدن تصاویر کلیک کنید
            <br />
            <span style="font-size: 0.6rem;">حد اکثر 5 عدد</span>
        </span>
        <input id="images" name="images" type="file" style="position: fixed;top:-100px;" placeholder="تصاویر" multiple>
    </label>
   
    {% endif %}

  
    <input type="text" id="keywords" name="keywords" class="w-100 text-box mt-1" placeholder="کلمات کلیدی (با # جدا کنید)">
    <span style="font-size: 0.7rem;color:black;margin-top:0.5rem">مثال: #زنانه#مدـروز#مجلسی</span>

    <span style="font-size: 0.9rem;margin-top:2rem;text-align:right;width:100%">سایر ویژگیها</span>
    <div class="attr-box w-100" style="margin-top: 1rem;">
            <input id="attr-txt"  type="text" style="float: right;width:85%"  class="text-box" placeholder="ویژگی: مقدار">
            <button onclick="add_attr();" style="float: right;margin-top:0.2rem;margin-right:0.5rem;font-size:0.7rem;padding:0.6rem" class="btn btn-primary">&plus;</button>    
        <div id="attr-list" style="width: 100%;font-size:0.8rem" class="attr-list">
            <div style="background-color: #fdfdfd;"  class="attr">
                <span >قد:بلند (مثال)</span>
                <span class="close">&times;</span>
            </div>
        </div>
    </div>

    <textarea id="description" class="w-100 text-box mt-1" name="description" placeholder="سایر توضیحات" style="resize: vertical;"></textarea>

    <input type="submit" onclick="product_form();" class="w-100 btn btn-primary mt-1 mb-1" value="ثبت">


</div>