
<style>
    .side-box-show {
        width: 30vw;
    }
    .list-box {
        width: 100%;
        margin-right: 1rem;
        border: none;
        border-bottom: 1px solid silver;
        margin-bottom: 1rem;
        padding-bottom: 0.2rem;
    }
    .field{
        padding: 0.5rem;
    }
    .color, .size{
        margin-top: 0.2rem;
    }
    .caption{
        font-size: 0.8rem;
    }
</style>
<div class="container" style="width: 98%;justify-content:center;padding:0.5rem;align-items:center;">
    <label class="caption">بازه قیمت</label>
    <div  style="text-align: center;margin-bottom:1rem">
        <input id="price_from" name="price_from" class="text-box" style="width: 50%;" type="text" placeholder="از">
        <input id="price_to" name="price_to" class="text-box" style="width:50%;" type="text" placeholder="تا">
        <input type="hidden" name="categories" id="categories">
        <input type="hidden" name="colors" id="colors">
        <input type="hidden" name="sizes"  id= 'sizes'>
        <input type="hidden" name="types" id="types">
        <input type="hidden" name="subtypes" id="subtypes">
        <input type="hidden" name="brands" id="brands">
    </div>
    <label class="caption" for="fname"> نوع محصول</label>
    <div  class="list-box" style="background-color: white">
        <input data-target="type_list" onkeyup="listboxFilter();" type="text" class="filter" placeholder="دسته محصول">
        <div id="type_lsit" style="font-size:0.8rem;" onclick="listboxSelect();" class="items">
            {% for type in types %}
                <div data-id="{{ type.id }}" class="item">
                    {{ type.name }}
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
            {% endfor %}
        </div>
    </div>
        <label class="caption" for="fname">دسته بندی</label>
        <div  class="list-box" style="background-color: white">
            <input data-target="category_list" onkeyup="listboxFilter();" type="text" class="filter" placeholder="دسته محصول">
            <div id="category_list" style="font-size:0.8rem;" onclick="listboxSelect();" class="items">
            {% for category in categories %}
                <div data-id="{{ category.id }}" class="item">
                    {{ category.name }}
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
            {% endfor %}
            </div>
        </div>


        <label class="caption" for="fname">رده محصول</label>
        <div class="list-box" style="background-color: white;">
            <input data-target="subtype_list" onkeyup="listboxFilter();" type="text" class="filter" placeholder="رده محصول">
            <div  id="subtype_list" style="font-size:0.8rem;" onclick="listboxSelect();" class="items">
             {% for subtype in subtypes %}
                <div data-id="{{ subtype.id }}" class="item">
                    {{ subtype.name }}
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
            {% endfor %}
            </div>
        </div>

        <label class="caption" for="fname">برند</label>
        <div class="list-box" style="background-color: white;">
            <input data-target="brand_list" onkeyup="listboxFilter();" type="text" class="filter" placeholder="رده محصول">
            <div  id="brand_list" style="font-size:0.8rem;" onclick="listboxSelect();" class="items">
            {% for brand in brands %}
                <div data-id="{{ brand.id }}" class="item">
                    {{ brand.name }}
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
            {% endfor %}
            </div>
        </div>

        <p style="font-size:0.8rem">رنگ های موجود:</p>
        <div id="color_list" onclick="select_multi_color();" style="flex-wrap: wrap;" class="inline-list" >
            
            {% for color in colors %}
                <div class="color" style="background-color:{{color.code }};"></div>
            {% endfor %}
            
        </div>
        <p style="font-size:0.8rem">سایز های موجود:</p>
        <div id="size_list" onclick="select_multi_size();;" class="inline-list">
            <div class="size">X</div>
            {% for size in sizes %}
                <div class="size">{{ size.code }}</div>
            {% endfor %}
        </div>
        <label class="caption mt-1">
            <input type="checkbox" id="discounted" name="discounted">
            تخفیف دار
        </label>
        <span class="mt-1 caption " style="padding:0.5rem;border-bottom: 1px solid gray;">مرتب سازی بر اساس</span>
        <div class="mt-1">
            <label class="caption mt-1">
                <input  type="radio" id="discounted" name="discounted" value="price">
                قیمت
            </label>
            <label class="caption mt-1">
                <input id="discounted" type="radio" name="discounted" value="date_created">
                تاریخ 
            </label>
        </div>
        <div class="mt-1">
            <label class="caption mt-1">
                <input id="discounted" type="radio" name="kind" value="asc">
                صعودی 
            </label>
            <label class="caption mt-1">
                <input id="discounted" type="radio" name="kind" value="desc">
                نزولی 
            </label>
        </div>
        <input onclick="filter_product();"  type="submit" class="w-100 mt-1 btn btn-primary" value="فیلتر کن"></button>
</div>