
<style>
    .side-box-show {
        width: 30vw;
    }
    .list-box {
        width: 100%;
        margin-right: 1rem;
        border: none;
        border-bottom: 1px solid silver;
        margin-bottom: 1rem;
        padding-bottom: 0.2rem;
    }
    .field{
        padding: 0.5rem;
    }
    .color, .size{
        margin-top: 0.2rem;
    }
    .caption{
        font-size: 0.8rem;
    }
</style>
<div class="container" style="width: 98%;justify-content:center;padding:0.5rem;align-items:center;">
    <label class="caption">بازه قیمت</label>
    <div  style="text-align: center;margin-bottom:1rem">
        <input class="text-box" style="width: 50%;" type="text" placeholder="از">
        <input class="text-box" style="width:50%;" type="text" placeholder="تا">
    </div>
    <label class="caption" for="fname"> نوع محصول</label>
    <div  class="list-box" style="background-color: white">
        <input data-target="categories" onkeyup="listboxFilter();" type="text" class="filter" placeholder="دسته محصول">
        <div id="categories" style="font-size:0.8rem;" onclick="listboxSelect();" class="items">
            <div class="item">
                کیف
                <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
            </div>
            <div class="item">
                کفش
                <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
            </div>
            <div class="item">
                لباس
                <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
            </div>
            <div class="item">
                شلوار
                <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
            </div>
        </div>
    </div>
        <label class="caption" for="fname">دسته بندی</label>
        <div  class="list-box" style="background-color: white">
            <input data-target="categories" onkeyup="listboxFilter();" type="text" class="filter" placeholder="دسته محصول">
            <div id="categories" style="font-size:0.8rem;" onclick="listboxSelect();" class="items">
                <div class="item">
                    زنانه
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
                <div class="item">
                    مردانه
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
                <div class="item">
                    بچگانه
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
                <div class="item">
                    اکسسوری
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
              
            </div>
        </div>


        <label class="caption" for="fname">رده محصول</label>
        <div class="list-box" style="background-color: white;">
            <input data-target="subtypes" onkeyup="listboxFilter();" type="text" class="filter" placeholder="رده محصول">
            <div  id="subtypes" style="font-size:0.8rem;" onclick="listboxSelect();" class="items">
                <div class="item">
                    معمولی
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
                <div class="item">
                    رسمی
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
                <div class="item">
                    ورزشی
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
                <div class="item">
                    راحتی
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
                <div class="item">
                    مدرسه ای
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
                <div class="item">
                    استوک
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
            </div>
        </div>

        <label class="caption" for="fname">برند</label>
        <div class="list-box" style="background-color: white;">
            <input data-target="subtypes" onkeyup="listboxFilter();" type="text" class="filter" placeholder="رده محصول">
            <div  id="subtypes" style="font-size:0.8rem;" onclick="listboxSelect();" class="items">
                <div class="item">
                    نایک
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
                <div class="item">
                    پوما
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
                <div class="item">
                    آدیداس
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
                <div class="item">
                    دیانجی
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
                <div class="item">
                    اشتون
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
            </div>
        </div>

        <p style="font-size:0.8rem">رنگ های موجود:</p>
        <div onclick="select_multi_color();" style="flex-wrap: wrap;" class="inline-list" >
            <div class="color" style="background-color: red;"></div>
            <div class="color" style="background-color: green;"></div>
            <div class="color" style="background-color: yellow;"></div>
            <div class="color" style="background-color: black;"></div>
            <div class="color" style="background-color: green;"></div>
            <div class="color" style="background-color: yellow;"></div>
            <div class="color" style="background-color: black;"></div>
            <div class="color" style="background-color: green;"></div>
            <div class="color" style="background-color: yellow;"></div>
            <div class="color" style="background-color: black;"></div>
            <div class="color" style="background-color: rgb(233, 230, 230);"></div>
        </div>
        <p style="font-size:0.8rem">سایز های موجود:</p>
        <div onclick="select_multi_size();;" class="inline-list">
            <div class="size">X</div>
            <div class="size">XL</div>
            <div class="size">S</div>
            <div class="size">M</div>
            <div class="size">XL</div>
        </div>
</div>