{% extends 'index/base.html' %}
{% load static %}
{% block content %}
<style>
.description{
    padding-top: 3rem;
    background-color: #fbfbfb;
    word-wrap: break-word;
    line-break: loose;
    white-space: pre-line;

}
.banner {
    width: 100%;
    border-bottom: 1px solid lightgray;
}
.shop-logo {
    position: absolute;
    bottom: -12.5vw;
    background-color: white;
    left: 37.5vw;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    border: 1px solid lightgray;
    padding: 0.2rem;
}
.filter-btn{
    float: right;
    margin-right: 1rem;
    border-radius: 2px;
    background-color: #f34545;
    padding: 0.5rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: -1rem;
}

.filter-container {
    flex :25%;
    display: block;
    z-index: 5000;
    position: fixed;
    top: 0;
    right: 0;
    width: 0vw;
    height: 100vh;
    overflow-y: auto;
    transition:  0.5s;
    box-shadow: 1px 0px 5px rgb(175, 175, 175);

}
.show-filter{
    width: 80vw;
}
.product {
    min-width: 40vw;
    justify-self: flex-start;
    max-width: 40vw;
    background-color: white;
    
}

.img{
    max-width: 240px;
    max-height: 360px;
}

.remove{
    display: block;
}

.main-container {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:flex-start;
    gap:1rem;
    padding: 0.5rem;
    background-color: rgb(255, 255, 255)
}



.filter-box {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0.5rem;
    width: 98%;
    background-color: white;
    transition: 0.5s;

}


@media screen and (min-width:576px) {
    .product {
        min-width: 20vw;
        max-width: 20vw;
    }
    .shop-logo {
        bottom: -7.5vw;
        left: 42.5vw;
        width: 15vw;
        height: 15vw;
    }
    
}
@media screen and (min-width:768px) {
    .shop-logo {
        position: absolute;
        bottom: -7.5vw;
        left: 42.5vw;
        width: 15vw;
        height: 15vw;

    }
    .product{
        min-width: 20vw;
        max-width: 20vw;
    }
  .show-filter{
      width: 50vw;
  }
  
}



@media screen and (min-width: 1024px) {
    .shop-logo {
        position: absolute;
        bottom: -5vw;
        background-color: white;
        left: 45vw;
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
        border: 1px solid lightgray;
        padding: 0.2rem;
    }

    .filter-container {
        flex: 40%;
        position: relative;
        box-shadow: none;
        margin-right: 1rem;
        padding: 1rem;
        height: auto;
        overflow-y: hidden;

       
    }
   .row{
       flex-direction: row;
   }
    .filter-box{
        border-left: 1px solid rgb(179, 179, 179);

    }
    .color {
        min-width: 24px;
        min-height: 24px;
    }
    .size {
        font-size: 1.3rem;
    }
    .select-size {
        font-size: 1.5rem;
        opacity: 1;
    }
   
    .product {
        min-width: 16vw;
        max-width: 16vw;
    }
   
    .remove {
        display: none;
    }

}

</style>

<div style="position: relative;" class="row">
    <img src="{% static 'img/img1/banner-1.jpg' %}" class="banner">
    <span class="fa fa-search filter-btn remove" onclick="showfilter();">
        <span style="font-size:0.8rem">جستجو</span>
    </span>    
</div>

<div class="row">
    <aside style="margin-right: -1rem;" id="filter-container" class="filter-container">
        <div class="filter-box">
            <span class="fa fa-times remove" style="color:red;position:absolute;left:2%;top:1%;cursor:pointer" onclick="showfilter();"></span>
            <form action="{% url 'shops:all_product_filter' %}" method="GET">
                {% include 'product/filter.html' %}
            </form>
            
        </div>
    </aside>
    <section style="height:min-content;margin-top:1rem" class="main-container">
      {% include 'product/list.html' %}
    </section>
</div>
<div class="pagination">
    
   {% if page.has_previous %}
    <a href="?pg={{page.next_page_number}}">&laquo;</a>
   {% endif %}
   <a href="?pg=1">ابتدا</a>
    
   {% for p in page.paginator.page_range %}
    <a href="{{ request.get_full_path}}&pg={{p}}" class="{% if page.number == p %}active-page{% endif %}">{{ p }}</a>
   {% endfor %}
        <a href="?pg={{page.paginator.num_pages }}">انتها</a>
   {% if page.has_next %}
    <a href="?pg={{page.next_page_number}}">&raquo;</a>
   {% endif %}
</div>

<div class="row" style="margin-top: 2rem;justify-content:center">
    <p style="text-align:center;border-bottom:2px solid red;padding:0.5rem">
        پرفروش ترینهای بوتیک
    </p>
</div>
<div class="rail">
    <div class="product">
        <img src="{% static 'img/img1/proddd.jpg' %}" class="img" />
        <div class="container-col">
            <p class="title" style="margin-top: -0.1em;">لباس من مدل </p>
            
            <p style="text-align: center; margin-top:-0.3em;font-size:0.8rem">
                <span style="color: red;font-weight:bold;">4000</span>&nbsp;&nbsp;
                <span style="text-decoration:line-through;color:gray;">100000</span>
            </p>
            <p style="text-align: center;font-size:0.8rem;margin-top:-0.5rem;margin-bottom:-0.2rem">
            
                <span class="fa fa-shopping-basket btn-tiny" ></span>
                <span class="fa fa-heart btn-tiny"></span>
            </p>
            <p class="badge" style="background-color:green">15%</p>
        </div>
    </div>
</div>

<script>
    function showfilter(){
        document.getElementById("filter-container").classList.toggle("show-filter");
    }
</script>
{% endblock %}
{% block dependencies %}
<link rel="stylesheet" href="{% static 'css/glide.core.min.css' %}">
<script src="{% static 'js/glide.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/glide.theme.min.css' %}"> 
{% endblock %}
{% block body %}
<script>
    new Glide('#all-glide',{
        autoplay: 2000
    }).mount()
  
</script>
{% endblock %}