<style>
    .tran {
        transform: translate(-50%,-50%) !important;
        
    }
    .tab-content {
        transform: translate(1000%);
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        transition: 0.5s;
        display: block !important;
    }
</style>
<div class="container vertical h-100" style="width:80%;margin:0 auto;justify-content: center;align-items:center">
    <div class="tab-container">
        <div class="tab-contents">
            <div id="tab-1" class="tab-content tran">
                <div class="txt-box w-100 mt-1">
                    <input  id="name" value="{{ product.name }}" name="name" type="text" class="text" required>
                    <label class="holder">نام محصول</label>
                </div>
                <button class="btn cta tab-button w-100 mt-1" onclick="_select_tab();" data-tab="tab-2">مرحله بعد</button>    
            </div>
            <div id="tab-2" class="tab-content">
                <div class="txt-box w-100 mt-1">
                    <input onblur="validate_field('^[1-9][0-9]{3,6}$');" id="price" value="{{ product.name }}" name="price" type="text" class="text" required>
                    <label class="holder">قیمت</label>
                </div>
                <div class="txt-box w-100 mt-1">
                    <input onblur="validate_field('^[1-9][0-9]{0,2}$');" value="{{ product.quantity }}"  id="quantity" name="quantity" type="number" min="0" class="text" required>
                    <label class="holder">تعداد</label>
                </div>
                <button class="btn cta tab-button w-100 mt-1" onclick="_select_tab();" data-tab="tab-3">مرحله بعد</button>    
            </div>
            <div id="tab-3" class="tab-content">
                <div  class="list-box mt-1 w-100 " style="background-color: white;">
                    <input data-target="types" onkeyup="listboxFilter();" type="text" class="filter" placeholder="نوع محصول">
                    <div id="types" style="font-size:0.8rem;" onclick="listboxSelect_mono();" class="items">
                       {% for type in types %}
                            <div data-id = "{{ type.id }}" class="item {% if type == product.type %}selected{% endif %}">
                                {{ type.name }}
                                <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                            </div>
                       {% endfor %}
                      
                    </div>
                </div>   
                <button class="btn cta tab-button w-100 mt-1" onclick="_select_tab();" data-tab="tab-4">مرحله بعد</button>    

            </div>
            <div id="tab-4" class="tab-content">
                <div  class="mt-1 list-box w-100" style="background-color: white">
                    <input data-target="subtypes" onkeyup="listboxFilter();" type="text" class="filter" placeholder="رده محصول">
                    <div id="subtypes" style="font-size:0.8rem;" onclick="listboxSelect_mono();" class="items">
                        {% for subtype in subtypes %}
                            <div data-id="{{ subtype.id }}" class="item {% if subtype == product.subtype %}selected{% endif %}">
                                {{ subtype.name }}
                                <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                            </div>
                        {% endfor %}
                        <div data-id="{{ subtype.id }}" class="item">
                            aaaaa
                        </div>
                        <div data-id="{{ subtype.id }}" class="item">
                            fsdfdsfds
                            <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                        </div>
                        <div data-id="{{ subtype.id }}" class="item">
                            fsdfdsfds
                            <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                        </div>
                        <div data-id="{{ subtype.id }}" class="item">
                            fsdfdsfds
                            <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                        </div>
                        <div data-id="{{ subtype.id }}" class="item">
                            fsdfdsfds
                            <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                        </div>
                        <div data-id="{{ subtype.id }}" class="item">
                            fsdfdsfds
                            <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                        </div>
                        <div data-id="{{ subtype.id }}" class="item">
                            fsdfdsfds
                            <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                        </div>
                        <div data-id="{{ subtype.id }}" class="item">
                            fsdfdsfds
                            <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                        </div>
    
                    </div>
                </div>  
                <button class="btn cta tab-button w-100 mt-1" onclick="_select_tab();" data-tab="tab-5">مرحله بعد</button>    
            </div>
            <div id="tab-5" class="tab-content">
                <div  class="list-box mt-1 w-100 " style="background-color: white;">
                    <input data-target="types" onkeyup="listboxFilter();" type="text" class="filter" placeholder="نوع محصول">
                    <div id="types" style="font-size:0.8rem;" onclick="listboxSelect_mono();" class="items">
                       {% for type in types %}
                            <div data-id = "{{ type.id }}" class="item {% if type == product.type %}selected{% endif %}">
                                {{ type.name }}
                                <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                            </div>
                       {% endfor %}
                    </div>
                </div>
                    <button class="btn cta tab-button w-100 mt-1" onclick="_select_tab();" data-tab="tab-6">مرحله بعد</button>     
            </div>
            <div id="tab-6" class="tab-content">
                <div  class="mt-1 w-100 list-box" style="background-color: white;margin-top:2rem">
                    <input data-target="brands" onkeyup="listboxFilter();" type="text" class="filter" placeholder="برند">
                    <div id="brands" style="font-size:0.8rem;" onclick="listboxSelect_mono();" class="items">
                       {% for brand in brands %}
                            <div data-id="{{ brand.id }}" class="item {% if brand == product.brand %}selected{% endif %}">
                                {{ brand.name }}
                                <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                            </div>
                       {% endfor %}
                    </div>
                </div>   
                    <button class="btn cta tab-button w-100 mt-1" onclick="_select_tab();" data-tab="tab-6">مرحله بعد</button>     
            </div>
          
        </div>
    </div>
</div>