<div class="container vertical" style="width: 95%; margin: 1rem auto">
    <input type="hidden" value="{{ product.id }}" id="id" name="id">
    <custom-text class="mt-05" placeholder="نام محصول"></custom-text>
    <custom-text class="mt-05" placeholder="قیمت"></custom-text>
    <custom-text class="mt-05" placeholder="تعداد"></custom-text>

    <div class="container vertical" style="width: 90%;margin: 0.5rem auto;font-size:0.8rem">
        <combo-box style="margin-top: 0.5rem;" placeholder="نوع محصول">
            <combo-box-item caption="کیف"></combo-box-item>
            <combo-box-item caption="لباس"></combo-box-item>
            <combo-box-item caption="شلدار"></combo-box-item>
            <combo-box-item caption="کفش"></combo-box-item>
        </combo-box>
        <combo-box style="margin-top: 0.5rem;"  placeholder="دسته بندی"></combo-box>
        <combo-box style="margin-top: 0.5rem;"  placeholder="رده"></combo-box>
        <combo-box style="margin-top: 0.5rem;"  placeholder="رنگها"></combo-box>
        <combo-box style="margin-top: 0.5rem;"  placeholder="سایزها"></combo-box>
        <list-box style="margin-top: 0.5rem;max-height:200px;width:100%" searchable multiple>
            <listbox-item caption="ادیداس"></listbox-item>
            <listbox-item caption="زدو"></listbox-item>
            <listbox-item caption="نایک"></listbox-item>
            <listbox-item caption="برانو"></listbox-item>
            <listbox-item caption="ادیداس"></listbox-item>
            <listbox-item caption="زدو"></listbox-item>
            <listbox-item caption="نایک"></listbox-item>
            <listbox-item caption="برانو"></listbox-item>
            <listbox-item caption="ادیداس"></listbox-item>
            <listbox-item caption="زدو"></listbox-item>
            <listbox-item caption="نایک"></listbox-item>
            <listbox-item caption="برانو"></listbox-item>
        </list-box>
        <button class="btn cta w-100" style="margin: 1 0;">افزودن</button>
    </div>
</div>