
<style>

    .list-box .filter::placeholder{
        color: #5f5f5f;
    }
    .list-box .filter:focus {
        color: gray;
    }
    .field{
        padding: 0.5rem;
    }
    .color, .size{
        margin-top: 0.2rem;
    }
    .caption{
        font-size: 0.7rem;
        width: 100%;
        text-align: right;
    }
</style>
<div class="container vertical" style="width: 95%;justify-content:flex-start;align-items:center;margin:1rem auto;">
    <label class="caption">حداکثر قیمت</label>
    <input name="price_to"  oninput="change_price();" min="100000" step="100000" max="10000000" value="0" id="price-slider" type="range" style="margin-top: 1rem;margin-right:0.5rem" class="slider">
    <label style="font-size: 0.8rem;" id="slider-val">100000تومان</label>
    <input type="hidden" name="price_from" value="1000">
    <div  style="text-align: center;margin-bottom:1rem">
        <!-- <input id="price_from" name="price_from" class="text-box" style="width: 50%;" type="text" placeholder="از">
        <input id="price_to" name="price_to" class="text-box" style="width:50%;" type="text" placeholder="تا"> -->
        <input type="hidden" name="categories" id="categories">
        <input type="hidden" name="colors" id="colors">
        <input type="hidden" name="sizes"  id= 'sizes'>
        <input type="hidden" name="types" id="types">
        <input type="hidden" name="subtypes" id="subtypes">
        <input type="hidden" name="brands" id="brands">
    </div>
    <div  class="list-box mt-1 w-100" style="background-color: white;width:100%;border:none;">
        <input data-target="filter-categories" onkeyup="listboxFilter();" type="text" class="filter" placeholder="کتگوریها">
        <div id="filter-categories" style="font-size:0.8rem;" onclick="listboxSelect();" class="items">
         {% for category in categories %}
            <div data-id="{{ category.id }}" class="item">
                {{ category.name }}
                <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
            </div>
         {% endfor %}
        </div>
    </div>    
    <div  class="list-box" style="background-color: white;width:100%;border:none;margin:0">
        <input data-target="filter-types" onkeyup="listboxFilter();" type="text" class="filter" placeholder="نوع محصول">
        <div id="filter-types" style="font-size:0.8rem;" onclick="listboxSelect();" class="items">
            {% for type in types %}
                <div data-id = "{{type.id}}" class="item">
                    {{type.name}}
                </div>
            {% endfor %}
        </div>
    </div> 
    <div  class="list-box" style="background-color: white;width:100%;border:none;margin:0">
        <input data-target="filter-subtypes" onkeyup="listboxFilter();" type="text" class="filter" placeholder="رده محصول">
        <div id="filter-subtypes" style="font-size:0.8rem;" onclick="listboxSelect();" class="items">
            {% for subtype in subtypes %}
            <div data-id="{{subtype.id }}" class="item">
                {{subtype.name }}
            </div>
            {% endfor %}
        </div>
    </div>  
    <div  class="list-box" style="background-color: white;width:100%;border:none;">
        <input data-target="filter-brands" onkeyup="listboxFilter();" type="text" class="filter" placeholder="برند">
        <div id="filter-brands" style="font-size:0.8rem;" onclick="listboxSelect();" class="items">
           {% for brand in brands %}
                <div data-id="{{ brand.id }}" class="item">
                    {{ brand.name }}
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
           {% endfor %}
        </div>
    </div>    

        <div id="filter-colors" onclick="select_multi_color();" style="width: 100%;margin-top:0.5rem;justify-content:flex-start;" class="inline-list hi" >
           {% for color in colors %}
            <div title="{{color.name}}" data-id="{{ color.id }}" class="inline-item {% if color in product.colors.all %}inline-item--selected{% endif %}">
                <span style="background-color: {{ color.code }}" />
            </div>
           {% endfor %}
        </div>
        <div id="filter-sizes" onclick="select_multi_size();" style="justify-content: flex-start;width:100%" class="inline-list mt-05 hi">
           {% for size in sizes %}
            <div data-id="{{size.id}}" class="inline-item {% if size in product.sizes.all %}inline-item--selected{% endif %}">
                <span  class="ssz">{{ size.code }}</span>
            </div>
           {% endfor %}
        </div> 
        <div class="container vertical" style="width: 100%;">
            <label style="margin-top:1rem;width:100%;display:inline-flex;justify-content:space-between;align-items:center">
                <span style="font-size: 0.8rem;">تخفیف دار</span>
                <input class="switch" type="checkbox" id="discounted" value="true" name="discounted">
            </label>
            <label style="margin-top:1rem;width:100%;display:inline-flex;justify-content:space-between;align-items:center">
                <span style="font-size: 0.8rem;"> محبوبترینها</span>
                <input class="switch" type="checkbox" id="discounted" value="true" name="most-popular">
            </label>
            <label style="margin-top:1rem;width:100%;display:inline-flex;justify-content:space-between;align-items:center">
                <span style="font-size: 0.8rem;">پرفروشترینها</span>
                <input class="switch" type="checkbox" id="discounted" value="true" name="top-sales">
            </label>
            <div class="container horizontal mt-2 w-100" style="justify-content: space-between;">
                <label style="font-size: 0.8rem;text-align:right;display:block; ">مرتبسازی بر اساس: </label>
                <div>
                    <label  class="radio-box">
                        <input type="radio" name="order_by" style="margin: 0 0 0  0.5rem;"  value="price" checked>
                        <span>قیمت</span>
                    </label>
                    <label class="radio-box" >
                        <input type="radio" style="margin: 0 0 0 0.5rem" name="order_by" value="date">
                        <span>تاریخ</span>
                    </label> 
                </div>
            </div>
            <div class="container horizontal mt-2 w-100" style="justify-content: space-between;">
                <label style="font-size: 0.8rem;text-align:right;display:block;">ترتیب: </label>
                <div>
                    <label  class="radio-box">
                        <input type="radio" name="order_kind" style="margin: 0 0 0  0.5rem;" value="asc" checked>
                        <span>صعودی</span>
                    </label>
                    <label class="radio-box" >
                        <input type="radio" style="margin: 0 0 0 0.5rem" name="order_kind"  value="desc" >
                        <span>نزولی</span>
                    </label> 
                </div>
            </div>
        </div> 
        <input  onmouseenter="filter_product();"  type="submit" class="w-100 mt-2 btn cta" value="فیلتر کن"></button>
</div>