
<style>
    .list-box {
        width: 100%;
        margin-right: 1rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        padding-bottom: 0.2rem;
    }
    .list-box .filter::placeholder{
        color: #acacac;
    }
    .list-box .filter:focus {
        color: gray;
    }
    .field{
        padding: 0.5rem;
    }
    .color, .size{
        margin-top: 0.2rem;
    }
    .caption{
        font-size: 0.7rem;
        width: 100%;
        text-align: right;
    }
</style>
<div class="container" style="width: 98%;justify-content:center;padding:0.5rem;align-items:center;">
    <label class="caption">حداکثر قیمت</label>
    <input name="price_to"  oninput="change_price();" min="100000" step="100000" max="10000000" value="0" id="price-slider" type="range" style="margin-top: 1rem;margin-right:0.5rem" class="slider">
    <label style="font-size: 0.8rem;" id="slider-val">100000تومان</label>
    <input type="hidden" name="price_from" value="1000">
    <div  style="text-align: center;margin-bottom:1rem">
        <!-- <input id="price_from" name="price_from" class="text-box" style="width: 50%;" type="text" placeholder="از">
        <input id="price_to" name="price_to" class="text-box" style="width:50%;" type="text" placeholder="تا"> -->
        <input type="hidden" name="categories" id="categories">
        <input type="hidden" name="colors" id="colors">
        <input type="hidden" name="sizes"  id= 'sizes'>
        <input type="hidden" name="types" id="types">
        <input type="hidden" name="subtypes" id="subtypes">
        <input type="hidden" name="brands" id="brands">
    </div>
    <!-- <label class="caption" for="fname"> نوع محصول</label> -->
    <div  class="list-box" style="background-color: white">
        <input data-target="type_list" onkeyup="listboxFilter();" type="text" class="filter" placeholder="نوع محصول...(جستجو)">
        <div id="type_list" style="font-size:0.8rem;" onclick="listboxSelect();" class="items">
            {% for type in types %}
                <div data-id="{{ type.id }}" class="item">
                    {{ type.name }}
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
            {% endfor %}
        </div>
    </div>
        <!-- <label class="caption" for="fname">دسته بندی</label> -->
        <div  class="list-box" style="background-color: white">
            <input data-target="category_list" onkeyup="listboxFilter();" type="text" class="filter" placeholder="دسته محصول...(جستجو)">
            <div id="category_list" style="font-size:0.8rem;" onclick="listboxSelect();" class="items">
            {% for category in categories %}
                <div data-id="{{ category.id }}" class="item">
                    {{ category.name }}
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
            {% endfor %}
            </div>
        </div>


        <!-- <label class="caption" for="fname">رده محصول</label> -->
        <div class="list-box" style="background-color: white;">
            <input data-target="subtype_list" onkeyup="listboxFilter();" type="text" class="filter" placeholder="رده محصول...(جستجو)">
            <div  id="subtype_list" style="font-size:0.8rem;" onclick="listboxSelect();" class="items">
             {% for subtype in subtypes %}
                <div data-id="{{ subtype.id }}" class="item">
                    {{ subtype.name }}
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
            {% endfor %}
            </div>
        </div>

        <!-- <label class="caption" for="fname">برند</label> -->
        <div class="list-box" style="background-color: white;">
            <input data-target="brand_list" onkeyup="listboxFilter();" type="text" class="filter" placeholder="برند...(جستجو)">
            <div  id="brand_list" style="font-size:0.8rem;" onclick="listboxSelect();" class="items">
            {% for brand in brands %}
                <div data-id="{{ brand.id }}" class="item">
                    {{ brand.name }}
                    <span style="float: left;display:none;font-size:1.2rem">&#10003;</span>
                </div>
            {% endfor %}
            </div>
        </div>

        <p style="font-size:0.8rem">رنگ های موجود:</p>
        <div id="color_list" onclick="select_multi_color();" style="flex-wrap: wrap;" class="inline-list" >
            
            {% for color in colors %}
                <div data-id="{{ color.id }}" class="color" style="background-color:{{color.code }};"></div>
            {% endfor %}
            
        </div>  
        <p style="font-size:0.8rem">سایز های موجود:</p>
        <div id="size_list" onclick="select_multi_size();" class="inline-list">
            {% for size in sizes %}
                <div data-id="{{ size.id }}" class="size">{{ size.code }}</div>
            {% endfor %}
        </div>
        <div class="container" style="width: 100%;">
            <label style="margin-top:1rem;width:100%;display:inline-flex;justify-content:space-between;align-items:center">
                <span style="font-size: 0.8rem;">تخفیف دار</span>
                <input class="switch" type="checkbox" id="discounted" value="true" name="discounted">
            </label>
            <label style="margin-top:1rem;width:100%;display:inline-flex;justify-content:space-between;align-items:center">
                <span style="font-size: 0.8rem;">مرتب سازی بر اساس قیمت</span>
                <input class="switch" type="radio"  name="order_by" value="price" checked>
            </label>
            <label style="margin-top:1rem;width:100%;display:inline-flex;justify-content:space-between;align-items:center">
                <span style="font-size: 0.8rem;">مرتب سازی براساس تاریخ</span>
                <input  type="radio" class="switch"  name="order_by" value="date_created">
            </label>
            <label style="margin-top:1rem;width:100%;display:inline-flex;justify-content:space-between;align-items:center">
                <span style="font-size: 0.8rem;">مرتب سازی سعودی</span>
                <input  type="radio" class="switch" name="order_kind" value="asc" checked> 
            </label>
            <label style="margin-top:1rem;width:100%;display:inline-flex;justify-content:space-between;align-items:center">
                <span style="font-size: 0.8rem;">مرتب سازی نزولی</span>
                <input  type="radio" class="switch" name="order_kind" value="desc" > 
            </label>
        </div> 
        <input   type="submit" class="w-100 mt-1 btn btn-primary" value="فیلتر کن"></button>
</div>