
{% load static %}
<style>
    .ava {
        margin: 0.5rem;
        
    }
    @media screen and (max-width: 400px) {
        .mds {
            width: 100% !important;
        }
    }

</style>
<div class="container horizontal" style="flex-wrap: wrap;width:80%;height:100%;margin: 1rem auto;justify-content:center;align-items:center;margin-top:2rem">
    {% for bot in boutiques %}
    <a class="ava" href="{{ bot.get_absolute_url }}">
        <img loading="lazy" src="{% if bot.logo %}{{ bot.logo.url }}{% else %} {% static 'img/sampleproduct/noimage.png' %} {% endif %}" style="width: 64px; height:64px">
    </a>
    {% endfor %}
    <button class="btn cta" style="width: 30%;margin-top:1rem;background:rgb(247, 87, 87);border:none">به ما بپیوندید!</button>
</div>