{% load static %}
{% load filter_product %}
<div  style="display: flex;justify-content:center;margin-top:2rem;margin-bottom:1rem">
    <p style="border-bottom:1px solid gray;padding:0.5rem 0.8rem 0.5rem 0.8rem"">
        ویژه آنمد
    </p>
</div>
<div dir="ltr" style="width: 85%;margin: 0.5rem auto;" class="splide" id="discounteds" data-splide='{ "autoplay": "true", "interval": "4000","perPage":4,"direction":"rtl"}'>
	<div class="splide__track">
		<ul class="splide__list">
            {% filter_product discounted='true' top=10 %}
		</ul>
	</div>
</div>