{% load static %}
<style>
	.sd{
        animation-name: ass;
		animation-duration: 0.5s;
		animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

	.fnt {
		font-family: "Open Sans Condensed", sans-serif;
		font-family: "Quicksand", sans-serif !important;
		font-family: "Vibes", cursive !important;
	}
	.op {
		animation-name: opp;
		opacity: 0;
		animation-duration: 1.3s;
		animation-delay: 0.8s;
		animation-fill-mode: forwards;
	
	}
    @keyframes ass {
        from {transform: scale(0,0);}
        to {transform: scale(1,1);}
    }
	@keyframes opp {
        from {opacity: 0; }
        to {opacity: 1;}
    }
</style>
<div class="pure-g" style="margin-top:3rem;" >
	<div class="pure-u-1-1 pure-u-md-1-2">
		<img class="sd" src="{% static 'img/slideshow/Instagram_Video_Streaming-pana.svg' %}" style="width: 90%;">
	</div>
	<div class="pure-u-1-1 pure-u-md-1-2">
		<div class="container vertical" style="width: 100%;height:100%;align-items:center;justify-content:center;background:white">
			<p class="op fnn1" style="font-size: 5rem;color:#555;color:rgb(238, 88, 88)">
				آنمد 
			</p>
			<p class="op fnn1" style="font-size: 3rem;color:#555;margin-top:2rem">
				در اینستاگرام
			</p>
			<button class="btn cta" style="width: 50%;margin-top:1rem;background:rgb(247, 87, 87);border:none">دنبال کنید</button>
		</div>
	</div>
</div>