
{% extends 'index/base.html' %}
{% load static %}
{% block title %}ضفحه اصلی {% endblock %}
{% block dependencies %}

{% endblock %}

{% block content %}
{% include 'index/home/slideshow.html' %}
{% include 'index/home/new_products.html' %}
{% comment %}
{% include 'index/home/categories.html' %}
{% include 'index/home/discounted_products.html' %} 
{% include 'index/home/top_products.html' %}
{% include 'index/home/stack.html' %}
{% include 'index/home/specs.html' %}
{% include 'index/home/advert.html' %} 
{% endcomment %}
{% endblock %}

{% block body %}
<script>
    
</script>
{% endblock %}