<div id="megamenu" class="mega-menu" onclick="event.stopPropagation();" onmouseleave="closeMegaMenu();">
    <div class="tab-container">
        <div  onclick="select_tab();" class="tab-items" style="justify-content: center;width:100%;">
            {% for cat in categories %}
                <div data-tab="mm-{{forloop.counter}}" class="tab-item {% if forloop.counter == 1 %}tab-item-selected{% endif %}">
                    {{ cat.name }}
                </div>
            {% endfor %}
        </div>

        <div class="tab-contents">
            {% for cat in categories %}
                <div id="mm-{{forloop.counter}}" class="tab-content {% if forloop.counter == 1%}tab-show-content{% endif %}">
                    <div class="container horizontal" style="justify-content: flex-start;">
                        {% for type in cat.types.all %}
                        <ul class="mega-menu-item">
                            <li class="mega-menu-title">{{ type.name }}</li>
                            {% for subtype in type.subtype.all %}
                                <li>{{ subtype.name }}</li>
                            {% endfor %}
                        </ul>
                        {% endfor %}

                    </div>
                </div>
            {% endfor %}
        </div>
           
    </div>
</div>

