<div id="megamenu" class="mega-menu" onmouseleave="closeMegaMenu();">
    <ul class="mega-menu-item">
        <li class="mega-menu-title">لباس</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
    </ul>
    <ul class="mega-menu-item">
        <li class="mega-menu-title">لباس</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        
    </ul>
    <ul class="mega-menu-item">
        <li class="mega-menu-title">لباس</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        
    </ul>
    <ul class="mega-menu-item">
        <li class="mega-menu-title">لباس</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        
    </ul>
    <ul class="mega-menu-item">
        <li class="mega-menu-title">لباس</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        <li>پلیور</li>
        
    </ul>
    <div class="ads">
        <div class="ad-box-big"></div>
        <div class="ad-box"></div>
        <div class="ad-box"></div>
        <div class="ad-box"></div>
    </div>
</div>