<template id="mobile_menu">
    <list-menu caption="منوی اصلی" >
        <menu-item  caption="وبلاگ" ></menu-item>
        <menu-item caption="فروش ویژه" ></menu-item>
        <menu-item caption="درباره ما" ></menu-item>
        <menu-item caption="قوانین" ></menu-item>
        <menu-group caption="دسته محصولات">
            {% for cat in categories %}
                <menu-group caption="{{cat.name}}">
                    {% for type in cat.types.all %}
                        <menu-group caption="{{type.name}}">
                            {% for subtype in type.subtypes.all %}
                                <menu-item caption="{{item.subtype}}"></menu-item>
                            {% endfor %}
                        </menu-group>
                    {% endfor %}
                </menu-group>
            {% endfor %}
        </menu-group>
    </list-menu>
</template>

