<template id="mobile_menu">
    <list-menu caption="منوی اصلی" >
        <menu-item  caption="وبلاگ" ></menu-item>
        <menu-item caption="فروش ویژه" ></menu-item>
        <menu-item caption="درباره ما" ></menu-item>
        <menu-item caption="قوانین" ></menu-item>
        <menu-group caption="دسته محصولات">
            <menu-group caption="مردانه"> 
                <menu-group caption="لباس">
                    <menu-item caption="رسمی" ></menu-item>
                    <menu-item caption="اداری" ></menu-item>
                    <menu-item caption="ورزشی" ></menu-item>
                </menu-group>
                <menu-group caption="کیف">
                    <menu-item caption="مدرسه ای" ></menu-item>
                    <menu-item caption="اداری" ></menu-item>
                    <menu-item caption="ورزشی" ></menu-item>
                </menu-group>
                <menu-group caption="کفش">
                    <menu-item caption="رسمی" ></menu-item>
                    <menu-item caption="اداری" ></menu-item>
                    <menu-item caption="ورزشی" ></menu-item>
                    <menu-item caption="رسمی" ></menu-item>
                    <menu-item caption="اداری" ></menu-item>
                    <menu-item caption="ورزشی" ></menu-item>
                </menu-group>
            </menu-group>
            <menu-group caption="زنانه">
                <menu-group caption="ژاکت">
                    <menu-item caption="رسمی" ></menu-item>
                    <menu-item caption="اداری" ></menu-item>
                    <menu-item caption="ییی" ></menu-item>
                    <menu-item caption="رسمی" ></menu-item>
                    <menu-item caption="بسبسب" ></menu-item>
                    <menu-item caption="ورزشی" ></menu-item>
                </menu-group>
                <menu-group caption="کفش">
                    <menu-item caption="رسمی" ></menu-item>
                    <menu-item caption="اداری" ></menu-item>
                    <menu-item caption="ورزشی" ></menu-item>
                    <menu-item caption="رسمی" ></menu-item>
                    <menu-item caption="اداری" ></menu-item>
                    <menu-item caption="ورزشی" ></menu-item>
                </menu-group>
            </menu-group>
            <menu-group caption="بچگانه">
                <menu-group caption="شلوار">
                    <menu-item caption="رسمی" ></menu-item>
                    <menu-item caption="اداری" ></menu-item>
                    <menu-item caption="ورزشی" ></menu-item>
                    <menu-item caption="رسمی" ></menu-item>
                    <menu-item caption="اداری" ></menu-item>
                    <menu-item caption="ورزشی" ></menu-item>
                </menu-group>
                <menu-group caption="دامن">
                    <menu-item caption="رسمی" ></menu-item>
                    <menu-item caption="اداری" ></menu-item>
                    <menu-item caption="ورزشی" ></menu-item>
                    <menu-item caption="رسمی" ></menu-item>
                    <menu-item caption="اداری" ></menu-item>
                    <menu-item caption="ورزشی" ></menu-item>
                </menu-group>
                <menu-group caption="کفش">
                    <menu-item caption="رسمی" ></menu-item>
                    <menu-item caption="اداری" ></menu-item>
                    <menu-item caption="ورزشی" ></menu-item>
                    <menu-item caption="رسمی" ></menu-item>
                    <menu-item caption="اداری" ></menu-item>
                    <menu-item caption="ورزشی" ></menu-item>
                </menu-group>
            </menu-group>
        </menu-group>
    </list-menu>
</template>
