<template id="mobile_menu">
    <list-menu caption="منوی اصلی" >
        <menu-item  caption="وبلاگ" ></menu-item>
        <menu-item caption="فروش ویژه" ></menu-item>
        <menu-item caption="درباره ما" ></menu-item>
        <menu-item caption="قوانین" ></menu-item>
        <menu-group caption="دسته محصولات">
            {% for cat in categories %}
                <menu-group caption="{{cat.name}}">
                    {% for type in cat.types.all|dictsortreversed:'id' %}
                        <menu-group caption="{{type.name}}">
                            {% for subtype in type.subtypes.all|dictsortreversed:'id' %}
                                {% if cat in subtype.categories.all %}
                                     <menu-item link="/shop/products/{{cat.id}}/{{type.id}}/{{subtype.id}}/" caption="{{subtype.name}}"></menu-item>
                                {% endif %}
                            {% endfor %}
                        </menu-group>
                    {% endfor %}
                </menu-group>
            {% endfor %}
        </menu-group>
    </list-menu>
</template>

