{% load static %}
{% load filter_product %}
{% load render_products %}
<style>
    .linkTo {
        position: relative;
        width: 95%;
        margin: 0.2rem auto;
        margin-left: 1rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

     .ll {
        text-decoration: none;
        outline: none;
        padding: 0.5rem;
        background-color: #fff;
        border: 1px solid gray;
        color: rgb(102, 102, 102);
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        width: 150px;
    }
    .fnt {
		font-family: "Open Sans Condensed", sans-serif;
		font-family: "Quicksand", sans-serif !important;
		font-family: "Vibes", cursive !important;
	}
@media screen and (max-width:480px) {
    .w-100-md {
        width: 100%;
        

    }
}

</style>

<p class="caption fnt" style="margin-top: 2rem;margin-bottom:1rem;text-align:center;font-size:1.5rem;color:gray">
    جدیدترینها
</p>
<div style="margin-top: -0.5rem;" class="w-100-md">
    <div class="tab-container" >
        <div  onclick="select_tab();" class="tab-items" style="justify-content: center;">
            {% for cat in categories %}
                <div data-tab="new-{{forloop.counter}}" class="tab-item {% if forloop.counter == 1%} tab-item-selected {% endif %}">
                    {{ cat.name }}
                </div>
            {% endfor %}
        </div>

        <div class="tab-contents">
            {% for cat in categories %}
                <div id="new-{{ forloop.counter }}" class="tab-content {% if forloop.counter == 1%}tab-show-content {% endif %}">
                    <p class="linkTo">
                        <a href="#" class="ll">
                            <span style="flex: 80%;display:block;">مشاهده همه</span>
                            <ion-icon style="font-size:1.5rem;display:block;flex:10%" name="arrow-forward-circle-outline"></ion-icon>
                        </a>
                    </p> 
                    <div class="container horizontal justify-center" style="padding: 0.5rem;flex-wrap:wrap">
                        {% with id=cat.id|toString  %}
                            {% filter_product categories=id  %}
                        {% endwith %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
