{% load static %}
{% load filter_product %}
{% load render_products %}
<style>
    .linkTo {
        position: relative;
        width: 100%;

        display: flex;
        justify-content: center;
        margin-top: 2rem;
        align-items: center;
    }

     .ll {
        text-decoration: none;
        outline: none;
        padding: 0.5rem;
        font-size: 1,1rem;
        display: flex;

        width: 150px;
    }
    .fnt {
		font-family: "Open Sans Condensed", sans-serif;
		font-family: "Quicksand", sans-serif !important;
		font-family: "Vibes", cursive !important;
	}
    .cta{
        text-decoration: none;
    }

    .product-hub {
        display: flex;
        justify-content: center;
        margin: 1rem auto;
        padding: 0.3rem;
        width: 100%;
        flex-wrap: wrap;
    }
@media screen and (max-width:480px) {
    .w-100-md {
        width: 100%;
        
    }

    .product-hub {
        width: 100%;
        justify-content: center;
    }
}

</style>

<p class="caption fnt" style="margin-top: 1rem;margin-bottom:1rem;text-align:center;font-size:1.5rem;color:gray">
    جدیدترینها
</p>
<div style="margin-top: -0.5rem;" class="w-100-md">
    <div class="tab-container" >
        <div  onclick="select_tab();" class="tab-items" style="justify-content: center;">
            {% for cat in categories %}
                <div data-tab="new-{{forloop.counter}}" class="tab-item {% if forloop.counter == 1%} tab-item-selected {% endif %}">
                    {{ cat.name }}
                </div>
            {% endfor %}
        </div>

        <div class="tab-contents">
            {% for cat in categories %}
                <div id="new-{{ forloop.counter }}" class="tab-content {% if forloop.counter == 1%}tab-show-content {% endif %}">
                    <p class="linkTo">
                        <a href="{% url 'shops:category' cat.name %}" class="btn cta" style="width: 150px;">
                            مشاهده همه 
                            <!-- <span style="flex: 80%;display:block;">مشاهده همه</span>
                            <ion-icon style="font-size:1.5rem;display:block;flex:10%" name="arrow-forward-circle-outline"></ion-icon> -->
                        </a>
                    </p> 
                    <div class="product-hub" >
                        {% with id=cat.id|toString  %}
                            {% filter_product categories=id  %}
                        {% endwith %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
