{% load static %}

<style>
    .linkTo {

        display: flex;
        width: 95%;
        margin: 0.2rem auto;
        justify-content: flex-end;
        align-items: center;
        margin-left: 1rem;
    }

    .linkTo a {
        text-decoration: none;
        outline: none;
        padding: 0.5rem;
        background-color: #fff;
        border: 1px solid gray;
        color: rgb(102, 102, 102);
        font-size: 1rem;
        width: 132px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


</style>

<p class="caption" style="margin-top: 2rem;margin-bottom:1rem;text-align:center;font-size:1.5rem;color:gray">
    جدیدترینها
</p>
<div style="margin-top: -0.5rem;" class="row">
    <div class="tab-container" >
        <div  onclick="select_tab();" class="tab-items" style="justify-content: center;">
            <div data-tab="new-1" class="tab-item tab-item-selected">
                زنانه
            </div>
            <div data-tab="new-2" class="tab-item">
                مردانه
            </div>
            <div data-tab="new-3" class="tab-item ">
                بچگانه
            </div>
            <div data-tab="new-4" class="tab-item ">
                اکسسوری
            </div>
        </div>
        <div class="tab-contents">
            <div id="new-1" class="tab-content scale-up tab-show-content">
                <p class="linkTo">
                    <a href="#">
                        <span>مشاهده همه</span>
                        <ion-icon style="font-size:1.5rem" name="arrow-forward-circle-outline"></ion-icon>
                    </a>
                </p> 
              <div class="container horizontal justify-center" style="padding: 0.5rem;flex-wrap:wrap">
                <om-product title="my prod" link="/" badge="15%" badgeclass="badge-red" discounted editable discountedprice="1520" price="450" preview="{% static 'img/sampleproduct/product-1.jpg' %}"></om-product>
                <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-1.jpg' %}"></om-product>
                <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-2.jpg' %}"></om-product>
                <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-3.jpg' %}"></om-product>
                <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-4.jpg' %}"></om-product>
                <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-5.jpg' %}"></om-product>
                <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-6.jpg' %}"></om-product>
                <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-5.jpg' %}"></om-product>
                <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-2.jpg' %}"></om-product>
                <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-1.jpg' %}"></om-product>
              </div> 

            </div>
            <div id="new-2" class="tab-content scale-up">
                <div class="container horizontal justify-center" style="padding: 0.5rem;flex-wrap:wrap">
                    <om-product title="my prod" link="/" badge="15%" badgeclass="badge-red" discounted editable discountedprice="1520" price="450" preview="{% static 'img/sampleproduct/product-1.jpg' %}"></om-product>
                    <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-1.jpg' %}"></om-product>
                    <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-2.jpg' %}"></om-product>
                    <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-1.jpg' %}"></om-product>
                  </div> 
            </div>
            <div id="new-3" class="tab-content scale-up">
                <div class="container horizontal justify-center" style="padding: 0.5rem;flex-wrap:wrap">
                    <om-product title="my prod" link="/" badge="15%" badgeclass="badge-red" discounted editable discountedprice="1520" price="450" preview="{% static 'img/sampleproduct/product-1.jpg' %}"></om-product>
                    <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-3.jpg' %}"></om-product>
                    <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-1.jpg' %}"></om-product>
                    <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-5.jpg' %}"></om-product>
                    <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-7.jpg' %}"></om-product>
                    <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-5.jpg' %}"></om-product>
                  </div>
            </div>
            <div id="new-4" class="tab-content scale-up">
                <div class="container horizontal justify-center" style="padding: 0.5rem;flex-wrap:wrap">
                    <om-product title="my prod" link="/" badge="15%" badgeclass="badge-red" discounted editable discountedprice="1520" price="450" preview="{% static 'img/sampleproduct/product-1.jpg' %}"></om-product>
                    <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-1.jpg' %}"></om-product>
                    <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-2.jpg' %}"></om-product>
                    <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-3.jpg' %}"></om-product>
                    <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-4.jpg' %}"></om-product>
                    <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-5.jpg' %}"></om-product>
                    <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-6.jpg' %}"></om-product>
                    <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-5.jpg' %}"></om-product>
                    <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-2.jpg' %}"></om-product>
                    <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-1.jpg' %}"></om-product>
                  </div> 
            </div>
        </div>
    </div>
</div>
