{% load static %}
<div dir="ltr" class="splide" data-splide='{"type": "loop", "autoplay": "true", "interval": "4000"}'>
	<div class="splide__track">
		<ul class="splide__list">
			<li  class="splide__slide">
                <img src="{% static 'img/slideshow/a.jpg' %}" style="width: 100%;">
            </li>
			<li class="splide__slide">
                <img src="{% static 'img/slideshow/b.jpg' %}" style="width: 100%;">

            </li>
			<li class="splide__slide">
                <img src="{% static 'img/slideshow/c.jpg' %}" style="width: 100%;">
            </li>
		</ul>
	</div>
</div>