{% extends 'index/base.html' %}
{% load static %}
{% load render_products %}
{% block content %}
<style>
    a {
        text-decoration: none;
        color: #000000;
      }
      
      a:hover {
        color: #222222
      }
      
      /* Dropdown */
      
      .dropdown {
        display: inline-block;
        position: relative;
      }
      
      .dd-button {
        display: inline-block;
        border: 1px solid #efefef;
        border-radius: 1px;
        min-width: 120px;
        padding: .5rem;
        background-color: #ffffff;
        cursor: pointer;
        white-space: nowrap;
        margin: 0.5rem 0.5rem auto;
        font-size: 0.8rem;
      }
      
      .dd-button:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 15px;
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid rgb(170, 170, 170);
      }
      
      .dd-button:hover {
        background-color: rgba(250,250,250,0.5);
      }
      
      
      .dd-input {
        display: none;
      }
      
      .dd-menu {
        position: absolute;
        top: 100%;
        border: 1px solid #ccc;
        border-radius: 1px;
        padding: 0;
        width: 100%;
        margin: 2px 0 0 0;
        box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
        background-color: #ffffff;
        list-style-type: none;
        display: none;
      }
      
      .dd-input + .dd-menu {
        display: none;
      } 
      
      .dd-input:checked + .dd-menu {
        display: block;
      } 
      
      .dd-menu li {
        padding: 10px 10px;
        cursor: pointer;
        white-space: nowrap;
        font-size: 0.8rem;
      }
      
      .dd-menu li:hover {
        background-color: #f6f6f6;
      }
      
      .dd-menu li a {
        display: block;
        margin: -10px -20px;
        padding: 10px 20px;
      }
      
      .dd-menu li.divider{
        padding: 0;
        border-bottom: 1px solid #cccccc;
      }
   
</style>
 <!----------------BANNER------------>
<!-- <image-field {% if shop.banner  %}initial="{{shop.banner.url}}"{% endif %}  class="shop-banner" disabled>
    <div slot="placeholder">
        <div style="display: flex;justify-content:center; align-items:center">
        <ion-icon style="font-size:2rem;color:#efefef" name="camera-outline"></ion-icon>
        <span style="color: #ccc;margin-right:0.5rem">بنر</span>
        </div>
    </div>
</image-field> -->
<img src="{% if shop.banner %}{{ shop.banner.url }}{% else %}{% static 'img/blog/3.jpg' %}{% endif %}" style="object-fit: cover;" class="shop-banner" alt="بنر بوتیک" />
<div class="container vertical w-100 mt-05">
    <div class="shop-action" style="padding-bottom: 0.3rem;">
        <button style="width: 15%;padding-left: 0.5rem;padding-right:0.5rem;margin-left:0;font-size:0.8rem" onclick="show_filter();" class="btn-tiny">فیلتر</button>
        {% if user.shop.first.id == shop.id %}
        <label class="dropdown">
            <div class="dd-button">
              مدیریت بوتیک
            </div>
            <input type="checkbox" class="dd-input" id="test">
            <ul class="dd-menu">
              <li onclick="get_edit_shop_form();">ویرایش بوتیک</li>
              <li onclick="get_add_product_view();">افزودن محصول</li>
              <li onclick="">
                  <a href="{% url 'orders:shop_orders' %}">مدیریت فروش</a>
              </li> 
            </ul>
          </label>
        {% endif %}
    </div>

    <!----------------TOP PRODUCTS-------->

    <! ----------------------------------->
   
    <div  class="shop-products">
      {% render_products page.object_list %}
    </div>

    <div class="pagination">    
        {% if page.has_previous %}
         <a class="page-item" href="?pg={{page.previous_page_number}}">&laquo;</a>
        {% endif %}
        <a class="page-item" href="?pg=1">ابتدا</a>
         
        {% for p in page.paginator.page_range %}
            <a class="page-item" href="?pg={{p}}" class="{% if page.number == p %}active-page{% endif %}">{{ p }}</a>
        {% endfor %}
             <a href="?pg={{page.paginator.num_pages }}">انتها</a>
        {% if page.has_next %}
         <a class="page-item" href="?pg={{page.next_page_number}}">&raquo;</a>
        {% endif %}
     </div>

</div>

<template id="filter_box">
    <form onsubmit="filter_product();" action="{% url 'shops:shop_filter' shop_name=shop.name  %}" method="GET">
        {% include 'product/filter.html' %}
    </form>
</template>

{% endblock %}