{% extends 'index/base.html' %}
{% load static %}
{% block content %}

 <!----------------BANNER------------>
<image-field  class="shop-banner">
    <div slot="placeholder">
        <div style="display: flex;justify-content:center; align-items:center">
        <ion-icon style="font-size:2rem;color:#efefef" name="camera-outline"></ion-icon>
        <span style="color: #ccc;margin-right:0.5rem">بنر</span>
        </div>
    </div>
</image-field>

<div class="container vertical w-100 mt-05">
    <div class="shop-action">
        <button style="width: 15%;padding-left: 0.5rem;padding-right:0.5rem;margin-left:0" class="btn-tiny">فیلتر</button>
        <button style="margin-right:3px" class="btn-tiny">
            ?
        </button>
        <button style="min-width:128px;background-color:rgb(255, 57, 57);color:white" class="btn-tiny">محصول جدید</button>
    </div>

    <!----------------TOP PRODUCTS-------->

    <! ----------------------------------->
   
    <div class="shop-products">
        <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-1.jpg' %}"></om-product>
        <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-1.jpg' %}"></om-product>
        <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-1.jpg' %}"></om-product>
        <om-product title="my aaa" price="2500 تومان" discountedprice="4500 تومان" preview="{% static 'img/sampleproduct/product-1.jpg' %}"></om-product>
    </div>

    <div class="pagination">
        <a class="page-item">1</a>
        <a class="page-item">2</a>
        <a class="page-item">3</a>
        <a class="page-item">4</a>
        <a class="page-item">111</a>
    </div>
</div>

{% endblock %}