<style>
    .text-box{
        border: 0;
        border-bottom: 1px solid rgb(201, 201, 201);
    }
    .text-box:hover, .text-box:focus{
        border-bottom: 1.5px solid gray;
    }
</style>
<div class="centerized">
    <p class="field">
        <label class="caption">رمز عبور خود را وارد کنید</label>
        <input name="password" type="password" id="password" class="text-box" placeholder="رمز عبور">
    </p>
    <p class="field">
        <button onclick="login();" type="button" class="btn btn-primary">ورود</button>
    </p>
</div>