
<style>
    .text-box{
        border: 0;
        border-bottom: 1px solid rgb(201, 201, 201);
    }
    .text-box:hover, .text-box:focus{
        border-bottom: 1.5px solid gray;
    }
</style>
<div  class="centerized">
    <p class="field">
        <label class="caption">شماره همراه خود را وارد کنید</label>
        <input id="phone_no" name="phone_no" type="text" class="text-box" placeholder="شماره همراه">
    </p>
    <p class="field">
        <span id="error" style="color: red;font-size:0.9rem"></span>
    </p>
    <p class="field">
        <button onclick="enroll();" class="btn btn-primary">ادامه</button>
    </p>
    <p style="text-align: center;">
        عضویت در آنمد به منزل پذیرفتن تمامی قوانین آنمد میابشد
    </p>
</div>