<div class="centerized">
    <div class="container">
        <span class="fa fa-mobile" style="font-size: 12rem;color:rgba(255, 71, 71,0.6);"></span>
        <p style="font-size: 0.8rem;">
            شماره همراه خود را وارد کنید
        </p>
        <input type="text" class="text-box" id="phone_no" name="phone_no" placeholder="شماره همراه">
        <button  class="btn btn-primary fz-bg mt-1 w-100" onclick="enroll();" >ادامه</button>
        </p>
        <p id="error" style="color: red;font-size:0.7rem">
        <p style="text-align: center;font-size:0.7rem">
            عضویت در آنمد به منزله پذیرفتن تمامی <a href="#">قوانین </a>آنمد میابشد
        </p>
    </div>
</div>
