<style>
    .message {
        border-bottom: 1px solid #efefee;
        width: 95%;
        margin: 0.5rem auto;
        padding-bottom: 0.2rem;
        position: relative;
    }
    .messge-title {
        font-size: 1rem;
        font-weight: bold;

    }
    .message-body {
        color: gray;
        font-size: 0.8rem;
        text-align: right;
        text-justify:newspaper;
        word-wrap: normal;
        line-break: auto;
        line-height: 1.3rem;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
        width: 85%;
    }
</style>
<div class="container vertical">
    <div class="message">
        <ion-icon name="alert-circle-outline" style="font-size: 3.5rem;color:skyblue;position:absolute;top:3px;left:8px;"></ion-icon>
        <p class="message-title">
            سلام
        </p>
        <p class="message-body">
            بتسنبتسنبتسنبتسنبتسنبتس
            بتسنبتسنبستبنستبنسبتسنبتسنبتسنبتسیب
            تسبنستسنبتسنبستبنستبدتدرتدطتبخسبتخهبتخثهت
        </p>
        <button style="font-size: 0.8rem;margin:1rem auto;width:30%" class="btn cta">خوانده شد</button>
    </div>
    <div class="message">
        <ion-icon name="happy-outline" style="font-size: 3.5rem;color:rgb(80, 224, 116);position:absolute;top:3px;left:8px;"></ion-icon>
        <p class="message-title">
            خوش آمدگویی
        </p>
        <p class="message-body">
            به آنمد خوش آمدید
        </p>
        <button style="font-size: 0.8rem;margin:1rem auto;width:30%" class="btn cta">خوانده شد</button>
    </div>
    <div class="message">
        <ion-icon name="warning-outline" style="font-size: 3.5rem;color:rgb(243, 247, 20);position:absolute;top:3px;left:8px;"></ion-icon>
        <p class="message-title">
           اخطاریه
        </p>
        <p class="message-body">
            فعالیت شما در سایت مغایر با قوانین سایت میباشد
            فعالیت شما در سایت مغایر با قوانین سایت میباشد

        </p>
        <button style="font-size: 0.8rem;margin:1rem auto;width:30%" class="btn cta">خوانده شد</button>
    </div>
</div>