<style>
    .message {
        border-bottom: 1px solid #efefee;
        width: 95%;
        margin: 0.5rem auto;
        padding-bottom: 0.2rem;
        position: relative;
    }
    .messge-title {
        font-size: 1rem;
        font-weight: bold;

    }
    .message-body {
        color: gray;
        font-size: 0.8rem;
        text-align: right;
        text-justify:newspaper;
        word-wrap: normal;
        line-break: auto;
        line-height: 1.3rem;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
        width: 85%;
    }
</style>
<div class="container vertical">
    {% for message in user.recieved_messages.all %}
        <div class="message">
            {% if message.leve = 0 %}
            <ion-icon name="happy-outline" style="font-size: 3.5rem;color:rgb(80, 224, 116);position:absolute;top:3px;left:8px;"></ion-icon>
            {% elif message.leve == 1 %}
            <ion-icon name="warning-outline" style="font-size: 3.5rem;color:rgb(243, 247, 20);position:absolute;top:3px;left:8px;"></ion-icon>
            {% elif message.level == 2 %}
            <ion-icon name="close-circle-outline" style="font-size: 3.5rem;color:skyblue;position:absolute;top:3px;left:8px;"></ion-icon>
            {% elif message.level == 3 %}
            <ion-icon name="information-circle-outline" style="font-size: 3.5rem;color:skyblue;position:absolute;top:3px;left:8px;"></ion-icon>
            {% endif %}
            <p class="message-title">
               {{ message.title }}
            </p>
            <p class="message-body">
                {{ message.body }}
            </p>
            {% if message.status = 0 %}
                 <button onclick="mark__as_read();" style="font-size: 0.8rem;margin:1rem auto;width:30%" class="btn cta">خوانده شد</button>
            {% endif %}
        </div>
    {% endif %}
</div>