
 <style>
    .container {
        background-color: white;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:center;
    }
    .message {
        width: 95%;
        margin: 0.2rem;
        margin-top: 1.5rem;
        padding: 0.4rem;
        word-wrap: break-word;
        border-bottom: 1px solid rgb(223, 223, 223);
        position: relative;
        font-size: 0.7rem;
        color: black;
        border-radius: 2px;
        
    }
    .delete-btn {

        position: absolute;
        bottom: -1rem;
        font-size: 1rem;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
        left: 45%;
        border: 0;
        
    }
    .info{
        border-right: 5px solid rgba(65, 247, 65,0.4);
    }
    .warning{
        border-right: 5px solid rgba(245, 41, 5,0.4);
    }
    .alert {
        border-right: 5px solid rgba(54, 155, 223,0.4);
    }
    
</style>

<div class=" container">
    <div class="container">
        <div class="message info">
            <button class="btn btn-primary delete-btn">
                <span class="fa fa-trash"></span>
            </button>
            <p>
               کاربر گرامی
               بدین وسیله به ...
            </p>
        </div>
        <div class="message warning">
            <button class="btn btn-primary delete-btn">
                <span class="fa fa-trash"></span>
            </button>
            <p>
                پیام دریافتی شما به ملیبلیبلیبلیبلیبلیبلیبلببببببببببببببببببیلیل
                لیبلیبلیبلیبلیبل
                لیبلیبللللللللللللللللللللللللللللللللللللللللللللللللللللللللللللللللللللی
                سیبسیبببببببببببببببببببببببببببببببببببببببب
                بسیببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببنزله....
                و....
            </p>
        </div>
        <div class="message alert">
            <button class="btn btn-primary delete-btn">
                <span class="fa fa-trash"></span>
            </button>
            <p>
                پیام دریافتی شما به ملیبلیبلیبلیبلیبلیبلیبلببببببببببببببببببیلیل
                لیبلیبلیبلیبلیبل
                لیبلیبللللللللللللللللللللللللللللللللللللللللللللللللللللللللللللللللللللی
                سیبسیبببببببببببببببببببببببببببببببببببببببب
                بسیببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببببنزله....
                و....
            </p>
        </div>
    </div>
</div>