{% extends 'base.html' %}

{% block content %}
<style>

    /*********************/
    /*****mobile first ***/

    .gallery {
        flex: 100%;
        width: 100%;
        flex-grow: unset;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;


    }

    .gallery .img {
        width: 100%;
        max-height: 80vh;
     
    }
    .gallery .thumbs {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items:stretch;
    }
    .thumbs .thumb {
        display: flex;
        width: 15vw;
        height: 15vw;;
        padding: 0.1em;
        margin: 0.2em;
        border: 1px solid lightgray;
        border-radius: 2px;
        cursor: pointer;
        opacity: 1;
        transition: opacity 0.5s;
    }
    .thumb:hover {
        opacity: 1;
    }
    .thumb-active {
        opacity: 1;
    }

    .attr-box {
        width: 100%;
        padding: 0.2rem;
        background-color: white;

    }

    .attr-list {
        display: flex;
        flex-direction: column;
    }
    .attr-list .attr {
        padding: 0.5rem;
        margin-top: 0.5rem;
        position: relative;
        background-color: #efefef;
    }

    .attr-list .attr .close {
        position: absolute;
        top: 25%;
        cursor: pointer;
        left: 2%;
    }
 
    .txtarea{
        border: 1px solid lightgray;
        width: 95%;
    }
    @media screen and (min-width: 1024px) {
        .color {
            min-width: 32px;
            min-height: 32px;
        }
        .size {
            font-size: 1.3rem;
        }
        .select-size {
            font-size: 1.5rem;
            opacity: 1;
        }
        .txtarea{
            width: 50%;
        }
    }
   
    .field{
        width: 100%;
    }
    .color:hover{
        opacity: 1;
    }

    
    .inline-list .color:first-child {
        margin-right: 0.1rem;
    }
  
   
    .comments {
        display: flex;
        width: 100%;
        padding: 0.5rem;
        flex-direction: column;
        align-items: center;
       
    }

    .comment {
        display: flex;
        flex-direction: column;
        width: 95%;
        border-bottom: 1px solid lightgray;
        line-height: 1.4em;
        padding: 0.2em;
        position: relative;
        font-size: 0.8em;
        margin-bottom: 0.5em;
        flex-wrap: wrap;
    }

    .date{
        position: absolute;
        top: 5%;
        left: 2%;
        font-size: 0.6rem;
        color: rgb(99, 99, 99);
    }
   
    .comment .title {
        color: black;
        font-weight: bold;
        margin-left: -0.5em;
        align-self: center;
    }
    
    .comment .text {
        width: 100%;
        color: rgb(63, 63, 63);
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        
        margin-top: -0.5em;
    }

    .comment-box {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1em;
      

    }

    .comment-box .text {
        outline: none;
        resize:none;
        padding: 1em;
        color: black;
        font-size: 0.8em;
        border: 1px solid rgb(185, 185, 185);
        border-radius: 4px;
    }

    .send-btn {
        padding: 1rem;
        font-size: 1.1rem;
        background-color: rgb(255, 81, 81);
        border: none;
        color: white;
        border-radius: 2px;
        cursor: pointer;

    }
    .combobox{
        width: 80%;
    }
    .field .caption {
        margin-right: 0.5rem;
    }
    @media screen and (min-width:1024px) {
        .gallery {
            
            padding: 0.5rem;
            width: 100%;
            padding: 0.5rem;

        }
        .row
        {
            flex-direction: row;
        }
        .gallery .img {
            padding: 0.5rem;
        }
        .gallery .thumbs {
            display: flex;
            flex-direction: row !important;
            
            width: 100%;
        }
        .gallery .thumbs .thumb {
            max-width: 5vw;
            min-width: 5vw;
            max-height: 5vw;
            min-height: 5vw;
        }
        .send-btn {
            
            font-size: 1.1rem;
        }
        
        .number-box {
            width: 8vw;
        }

        .comment{
            width: 60%;
        }

        .list-box{
            width: 40%;
        }
        .combobox{
            width: 40%;
        }

        .attr-box {
            width: 50%;
        }

     
    }
</style>

<div class="row">
    <div class="col-6">
        {% include 'product/add_edit/gallery.html' %}
    </div>
    <div class="col-6" style="flex-direction:column;padding:0.5rem;">
        {% include 'product/add_edit/buy.html' %}
    </div>
</div>
<div class="row new-products">
    <div class="slideshow" id="show1">
        <div class="tabs">
            <div class="header">
                <spa class="dot tab-item active" onclick="showSlide(0);">دسته بندی</spa>
                <spa class="dot tab-item" onclick="showSlide(1);">سایر مشخصات</spa>
            </div>
            <div style="width: 100%;">
                <div class="slide fade dis-block">
                    {% include 'product/add_edit/comments.html' %}  
                </div>
                <div class="slide fade" >     
                    {% include 'product/add_edit/specs.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
<p style="width: 100%;text-align:center">
    <button style="width: 30%;" class="send-btn">ثبت</button>
</p>

<script>
    function select_multi_color(){
        console.log("multi color select")
        if(event.target.classList.contains("color")){
            event.target.classList.toggle("select-color");
        }
    }
    function select_multi_size(){
        console.log("multi size select")
      if(event.target.classList.contains("size")){
          event.target.classList.toggle("select-size");
      }
  }

  var product_attrs = new Map();
  function add_attr(){
      var t = document.getElementById("attr-txt").value;
      if (t.indexOf(":") < 0){
          return
      }
      k = t.toString().split(":");
      if (product_attrs.has(k[0])){
          product_attrs.set(k[0].trim(),k[1].trim());
          return;
      }
      product_attrs.set(k[0].trim(),k[1].trim());
      var div = document.createElement("DIV");
      div.className = "attr";
      var sp1 = document.createElement("SPAN");
      sp1.innerText = t;
      var sp2 = document.createElement("SPAN");
      sp2.innerHTML = "&times;";
      sp2.className = "close";
      sp2.addEventListener('click', delete_attr);
      div.appendChild(sp1);
      div.appendChild(sp2);
      document.getElementById("attr-list").appendChild(div);
      console.log(product_attrs)


  }
  function delete_attr(){

      console.log("aads");
      console.log(product_attrs)
      var t = event.target.parentNode.innerText;
      console.log(t);
      product_attrs.delete(t.split(":")[0]);
      console.log(product_attrs)
      event.target.parentNode.remove();
  }
</script>
{% endblock %}
