
<p class="field">
    <span style="font-size: 0.8rem;">سایر ویژگیها</span>
    <div class="attr-box">
            <input id="attr-txt"  type="text" style="float: right;width:50%;margin-right:0.8rem"  class="text-box" placeholder="ویژگی: مقدار">
            <button onclick="add_attr();" style="float: right;margin-right:0.5rem;font-size:0.7rem;padding:0.6rem" class="btn btn-primary">&plus;</button>    
        <div id="attr-list" style="width: 100%;font-size:0.8rem" class="attr-list">
            <div  class="attr">
                <span >قد:بلند</span>
                <span class="close">&times;</span>
            </div>
        </div>
    </div>
</p>
<p class="field">
    <span class="caption">سایر توضیحات:</span>
    <textarea  class="text-box txtarea" rows="5"></textarea>
</p>