
.badge {
    position: absolute;
    padding: 0.3rem;
    font-size: 0.9rem;
    color: white;
    text-align: center;
    &-red {
        background-color: rgb(241, 70, 70) !important;
    }
    &-green {
        background-color: green !important;
    }
    &-dark {
        background-color: #333 !important; 
    }
    &-top-left {
        top: 1%;
        left: 3%;
    }

    &.hide {
        visibility: hidden;
    }

}