
.drawer {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 800;
    background-color: white;
    box-shadow: 1px 2px 4px #aaa;
    transition: 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);

    .header {
        position: relative;
        width: 100%;
        flex: 8%;
        background-color: rgba(240,240,240,0.5);

        .close {
           
            cursor: pointer;
            color: gray;
            font-size: 1.6rem;
            font-weight: 10;

            &:hover {
                color: black;
            }

            &::after {
                content: "\00D7";
                position: absolute;
                top: 50%;
                left: 2%;
                transform: translate(0,-50%);
                height: 24px;
                width: 24px;
            }
        
        }
    }

    .content {
        width: 100%;
        flex: 85%;
        background-color: white;
        overflow: auto;       
        position: relative;
    }

    .footer {
        bottom: 0;
        width: 100%;
        flex: 5%;
        overflow: hidden;
        background-color: rgba(240,240,240,0.5);
    }

   
}

.drawer-open {
    width: 100% !important;
}

@media screen and (min-width: 576px) {
    .drawer-open {
        width: 90% !important;
    }
}
@media screen and (min-width: 768px) {
    .drawer-open {
        width: 60% !important;
    }
}
@media screen and (min-width: 996px) {
    .drawer-open {
        width: 70% !important;
    }
}
@media screen and (min-width: 1200px) {
    .drawer-open {
        width: 30% !important;
    }
}

.no-scroll {
    overflow: hidden;
}
