
.col {

    &-1 {
        flex: 8.33%;
    }
    &-2 {
        flex: 16.66%;
    }

    &-3 {
        flex: 25%;
    }

    &-4 {
        flex: 33.33%;
    }

    &-5 {
        flex: 41.66%;
    }

    &-6 {
        flex: 50%;
    }
    &-8 {
        
    }

    &-9 {
        
    }
    &-10 {
        
    }
    &-11 {
        
    }

    &-12 {

    }

}