
.container {
    display: flex;
    
    &.horizontal {
        flex-direction: row;
    }
    &.vertical {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }

    &.align-items {
        align-items: center;
    }
}

body, html {
    padding: 0;
    margin: 0;
}

