.txt-box{
    border: 1px solid lightgray;
    padding: 0.2rem;
    position: relative;
}
.txt-box .text {
    outline: none;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    color: gray;
    width: 100%;

}

.holder{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0,-50%);
    color: lightgray;
    padding: 0.2rem;
    background-color: transparent;
    transition: 0.2s;
    cursor: text;
    display: block;
    pointer-events: none;
    
}


.txt-box .text:focus ~ .holder,
.txt-box .text:valid ~ .holder
{
    top: 0;
    font-size: 0.8rem;
    background-color: white;
    color: gray;
}


.list-box {
    width: 80%;
    padding: 0;
    border: 1px solid lightgray;
    border-radius: 2px;
}
.list-box .filter {
    outline: none;
    border: none;
    color: rgb(77, 77, 77);
    font-size: 0.8em;
    width: 100%;
    padding: 0.5em;
    padding-right: 0.6em;
    border-bottom: 1px solid rgb(247, 247, 247);
    
    
}
.list-box .filter::placeholder{
    color: rgb(68, 68, 68);
  
}
.list-box .items {
    overflow-y: auto;
    width: 100%;
    padding: 0.0em;
    max-height: 20vh;
    border-radius: 0px;

}
.list-box .items > .item {
    margin-top: 0.1em;
    font-size: 0.9em;
    color: rgb(151, 146, 146);
    border-radius: 0px;
    padding: 0.6em;
    position: relative;
    cursor: pointer;
    transition: 0.5s;

}

.selected {
    background-color: rgb(245, 245, 245);
}

.checked {
    display: block !important;
}


.inline-list {
    display: flex;
    flex-direction: row;
}

.color {
    border-radius: 50%;
    padding: 0.5rem;
    margin-right: 0.5rem;
    max-width: 24px;
    max-height: 24px;
    width: 16px;
    cursor: pointer;
    height: 16px;
    opacity: 0.6;
}



.size {
    cursor: pointer;
    margin-right: 0.7rem;
    font-size: 0.9rem;
    opacity: 0.5;

}
.select-color {
    
    opacity: 1;
    transform: scale(1.2,1.2);
}
.select-size {
    font-size: 1.1rem;
    opacity: 1;
}

.text-box {
    outline: none;
    padding: 0.6rem;
    color: #ccc;
    border: 1px solid #efefef;
    border-radius: 1px;

}

.text-box:hover, .text-box:focus {
    color: #aaa;
    border-color: #ccc;
    border-width: 1.3px;
}

.text-box:focus::placeholder {
    transform: scale(0.2,0.2);
}

.text-box::placeholder {
    color: rgb(167, 167, 167);
}

.text-box:disabled{
    background-color: rgb(247, 247, 247);
}