.mega-menu {
    display: none;
    width: 100%;
    position: absolute;
    box-shadow: 1px 1px 2px #efefef;
    justify-content:flex-start;
    z-index: 20;
    background-color: white;

    .mega-menu-item {
        display: flex;
        list-style-type: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-grow: 1;
    
    
    }
    .mega-menu-item li{

        font-size: 0.8rem;
        color:gray;
        cursor: pointer;
        padding: 0.3rem;
        padding-right: 0.5rem;
        margin-top: 0.5rem;

    }
    

}

.mega-menu-item li{
    font-size: 0.8rem;
    color:gray;
    cursor: pointer;
    padding: 0.3rem;
    padding-right: 0.5rem;
    margin-top: 0.5rem;
}

.cc {
    border-color: #b3b3b3 !important;
}
.mega-menu-item li:hover {
    color: black;
}

.mega-menu-title {
    font-size: 1rem !important;
    color:black !important;
    
}