
.mr {
    &-05 {
        margin-right: 0.5rem;
    }

    &-1 {
        margin-right: 1rem;
    }

    &-2 {
        margin-right: 2rem;
    }
}

.ml {
    
    &-05 {
        margin-left: 0.5rem;
    }

    &-1 {
        margin-left: 1rem;
    }

    &-2 {
        margin-left: 2rem;
    }
}

.mt {
    
    &-05 {
        margin-top: 0.5rem;
    }

    &-1 {
        margin-top: 1rem;
    }

    &-2 {
        margin-top: 2rem;
    }
}

.mb {

    &-05 {
        margin-bottom: 0.5rem;

    }

    &-1 {
        margin-bottom: 1rem;
    }

    &-2 {
        margin-bottom: 2rem;
    }
}

.position--center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.px {
    &-1 {
        padding: 0 1rem 0 1rem;
    }

    &-05 {
        padding: 0 0.5rem 0rem 0rem;
    }
}

.py {
    &-1 {
        padding: 1rem 0rem 0rem 1rem ;
    }
    &-05 {
        padding: 0.5rem 0rem 0rem 0.5rem;
    }
}


.font-size {

    &--sm {
        font-size: 0.7rem;

    }

    &--md {
        font-size: 0.9rem;
    }

    &--lg {
        font-size: 1.5rem;
    }

    &--xl {
        font-size: 2rem;
    }

    &--xxl {
        font-size: 3rem;
    }

 
}

.shadow-light {
    box-shadow: 1px 2px 3px #efefee;
}