.navbar {
    display: flex;
    background-color: white;
    border-bottom: 1px solid #efefee;
    z-index: 10;
    width: 100%;
    padding: 1rem 0 1rem 0;
    .nav {
        flex: 70%;
        width: 100%;
        display: none;
        justify-content: space-evenly;
        align-items: center;

        .nav-item {
            color: gray;
            padding: 0.5rem;
            font-size: 0.9rem;
            text-decoration: none;
            border-bottom: 1px solid transparent;
            transition: 0.3s;

            &:hover {
                border-bottom-color: gray;
            }
        }

        .icon {
            font-size: 1.7em ;
            color: #aaa;
            --ionicon-stroke-width: 24px;
            margin-left: 0.5rem;
            padding: 0.2rem;
            cursor: pointer;
            &:hover {
                color: black;
            }
        }

        .nav-md {
            display: none;
        }

    }
}
.vi {
    display: inline;
}

@media screen and (min-width: 768px) {
    .nav-md {
        display: flex !important;
    }

    .vi {
        display: none;
    }
    .hidden-md {
        display: none;
    }
    .sticky-md {
        padding-bottom: 0.3rem;
        position: relative;
    }
}