.product-detail {
    width: 95%;
    margin: 1rem auto;
    .product-title {
        margin: 1.2rem 0.5rem auto;
        font-size: 1.3rem;
        font-weight: 50;
        color: #333;
        text-align: center;
    }
.product-status {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    position: relative;
    
}
    .product-boutique {
        margin-top: 1.5rem;
        font-size: 0.7rem;
        color: #555;
        font-weight: 50;
    }

    .product-prices {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0.7rem auto;
    }
    .product-price {
        margin-top: 0.5rem;
        margin-left: 0.8rem;
        font-size: 0.9rem;
        font-weight: 50;
        padding: 0.3rem;
        color: rgb(121, 121, 121);
        text-decoration: line-through;

    }

    .product-discounted-price {
        margin-top: 0.5rem;
        font-size: 0.9rem;
        font-weight: 50;
        color: rgb(255, 78, 78);
        padding: 0.3rem;

    }

    .product-description {
        width: 95%;
        text-align: right;
        
        margin: 1.5rem auto;
        color: #777;
        font-size: 0.8rem;
    }

    .product-options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 1rem auto;
        combo-box {
            width: 30%;
            
        }
    }

    .product-actions {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (min-width: 640px) {
    .product-detail {
        width: 100%;
    }
}