
.search-box {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 0;
    transition: 0.4s;
    border-bottom: 1px solid #efefef;

    .search-text {
        appearance: none;
        outline: none;
        border: none;
        width: 100%;
        outline:  none;
        font-size: 2rem;
        color: gray;
        background-color: white;
        padding-right: 1rem;

        &::placeholder {
            color: #ccc;
        }
    }

    .close-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        font-weight: 20;
        padding: 1em;
        cursor: pointer;
        color: rgb(201, 201, 201);
        background-color: rgb(255, 255, 255);
        &:hover {
            color: #777;
        }
    }

}
.show-box {
    height: 12vh;
}

@media screen and (max-width:675px) {
    .show-box {
        height: 10vh;
    }
    .search-box {
        font-size: 0.8em;
    }
}
