$color--primary: gray;
$color--secondary: gray;
$color--success: gray;
$color--error: red;
$color--info : green;
$color--outline: #efefef;
$color--warning: yellow;


$font-sm: 0.7rem;
$font-md: 0.9rem;
$font-nl : 1rem;
$font-lg: 1.5rem;
$font-xl: 2rem;
$font-xxl: 3rem;

