<div class="comments">
    <div class="comment"  style="border-bottom: none;margin-bottom:1rem">
        <input type="text" class="text-box" style="margin-bottom: 0.3rem;font-size:0.8rem;" placeholder="عنوان">
        <textarea rows="5" class="text-box" style="resize: vertical;font-size:0.8rem" placeholder="نظر شما"></textarea>
        <button type="button" class="btn btn-primary " style="margin-top: 0.3rem;">ثبت</button>
    </div>
    <div class="comment">
        <p style="font-size: 1rem;color:black">عنوان</p>
        <p style="margin-top: -0.5rem;font-size:0.7rem;color:gray">نام نویسنده</p>
       
        <p class="text" >
             فروشنده بد بود
             جنس دیر به دستم رسید
             کلا راضی نبودم
             بالاباابالااباباباباباابابابابابابابااباباب
        </p>
        <span class="date">
            تاریخ:
            29/1/00
        </span>
    </div>
    <div class="comment">
        <p style="font-size: 1rem;color:black">عنوان</p>
        <p style="margin-top: -0.5rem;font-size:0.7rem;color:gray">نام نویسنده</p>
       
        <p class="text" >
              لباس بدی بود
        </p>
        <span class="date">
            تاریخ:
            29/1/00
        </span>
    </div>
    <div class="comment">
        <p style="font-size: 1rem;color:black">عنوان</p>
        <p style="margin-top: -0.5rem;font-size:0.7rem;color:gray">نام نویسنده</p>
       
        <p class="text" >
              لباس بدی بود
        </p>
        <span class="date">
            تاریخ:
            29/1/00
        </span>
    </div>
    <div class="comment">
        <p style="font-size: 1rem;color:black">عنوان</p>
        <p style="margin-top: -0.5rem;font-size:0.7rem;color:gray">نام نویسنده</p>
       
        <p class="text" >
              لباس بدی بود
        </p>
        <span class="date">
            تاریخ:
            29/1/00
        </span>
    </div>
</div>
<div class="pagination" style="margin-top: 1rem;">
    <a href="#" class="active-page">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
</div>