{% load static %}
<div class="gallery">
    <img id="hero" src="{% static 'img/img1/b.jpg' %}" class="img"  />
    <div onclick="changeHero();" class="thumbs">
        <img  src="{% static 'img/img1/b.jpg' %}" class="thumb" />
        <img src="{% static 'img/img1/aaa.jpg' %}" class="thumb" />
        <img src="{% static 'img/img1/fff.jpg' %}" class="thumb" />
        <img src="{% static 'img/img1/h.jpg' %}" class="thumb" />
        <img src="{% static 'img/img1/b.jpg' %}" class="thumb thumb-active" />
     </div>
</div>