{% load static %}
<div class="gallery">
    <img id="hero" src="{% static 'img/img1/b.jpg' %}" class="img"  />
    <div onclick="changeHero();" class="thumbs">
        {% for item in product.images.all %}
        {% if item.image %}
             <img src="{{ item.image.url }}" class="thumb {% if forloop.counter0 == 0 %}thumb-active{% endif %}" />
        {% else %}
             <img src="{% static 'img/img1/noimg.jpg' %}" class="thumb {% if forloop.counter0 == 0 %}thumb-active{% endif %}" />
        {% endif %}
        {% endfor %}
     </div>
</div>