{% load static %}
<div class="gallery">
     {% if product.images.first.image %}
     <img id="hero" src="{{ product.images.first.image.url }}" class="img"  />

     {% else %}
     <img id="hero" src="{% static 'img/img1/noimg.jpg' %}" class="img"  />

     {% endif %}
    <div onclick="changeHero();" class="thumbs">
        {% for item in product.images.all %}
        {% if item.image %}
             <img src="{{ item.image.url }}" class="thumb {% if forloop.counter0 == 0 %} thumb-active{% endif %}" />
        {% else %}
             <img src="{% static 'img/img1/noimg.jpg' %}" class="thumb {% if forloop.counter0 == 0 %} thumb-active{% endif %}" />
        {% endif %}
        {% endfor %}
        
     </div>
</div>