<div style="display: flex;flex-direction:column;padding:0.5rem">
    <div style="padding: 0.5rem;">
        <span>ویژگی:</span>
        &nbsp;
        <span>مقدار</span>
    </div>
    <div style="padding: 0.5rem;">
        <span>ویژگی:</span>
        &nbsp;
        <span>مقدار</span>
    </div>
    <div style="padding: 0.5rem;">
        <span>ویژگی:</span>
        &nbsp;
        <span>مقدار</span>
    </div>
    <div style="padding: 0.5rem;">
        <span>ویژگی:</span>
        &nbsp;
        <span>مقدار</span>
    </div>
    <div style="padding: 0.5rem;">    
        &nbsp;
        <p style="width: 100%;text-align:center">
           سایر توضیحات
           مناسب برای فلان
           بخرید و ...
        </p>
    </div>   
</div>