{% load jalali_tags %}
<style>

    .tracking-code {
        margin-top: 1rem;
        width: 100%;
        background-color: white;
        border-radius: 32px;
        border: 1px solid #333;
        padding: 0.2rem;
        position: relative;
        
    }
    .tracking-code input[type="text"] {
        appearance: none;
        outline: none;
        border: none;
        padding: 0.7rem;
        font-size: 0.8rem;
        color: #333;
        width: 78%;
        margin-right: 0.5rem;
    }
    .reg {
        position: absolute;
        appearance: none;
        outline: none;
        border: none;
        background-color: #333;
        color: white;
        font-size: 0.8rem;
        cursor: pointer;
        left: 3px;
        top: 50%;
        transform: translate(0, -50%);
        padding: 0.2;
        width: 20%;
        height: 85%;
        border-radius: 32px;

    }
    .tab-item {
        font-size: 0.7rem !important;
    }
    .table-1{
        border-collapse: collapse;
        width: 100%;
        margin: 1rem auto;
        text-align: center;
        padding: 0.4rem;
        font-size: 0.7rem;
        border-bottom: 1px solid rgb(124, 124, 124);
    }
    th{
        background-color: rgb(197, 197, 197);
        padding: 0.5rem;
        color: rgb(255, 255, 255);
    }
    tr{
        background-color: rgba(249,249,249,0.9);
        color: black;
        padding: 15px;
        height: 10vw;
        margin: 0.5rem;
    }
    tr:nth-child(even){
        background-color: white;
    }

    tfoot {
        background-color: #efefef;
    }

    .order {
        margin-top: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid rgb(223, 79, 79);
    }

    .more {
        color: gray;
        cursor: pointer;
    }
    .more:hover{
        color: black;
    }

    .accepted {
        background-color: rgba(131, 247, 131,0.5) !important;
    }
    .rejcted { 
        background-color: #fbfbfb !important;
    }
    .sent { 
        background-color: skyblue !important;
    }
    .recieved { 
        background-color: green !important;
    }
    .cancelled { 
        background-color: #efefef;
    }

    @media screen and (min-width: 576px) {
        tr {
            height: 4vw;
        }
    }

    @media screen and (min-width: 1024px) {
        tr {
            height: 2vw;
        }
    }

    .box{
        display: flex;
        
        justify-content: center;
        width: 100%;
    }

</style>
<input type="hidden" id="order_id" value="{{order.id}}" />
<div class="container vertical" style="width: 95%;margin:1rem auto;">
 
    <table class="table-1" style="margin-top: 1rem;">
        <tr>
            <th>نام</th>
            <th>سایز</th>
            <th>رنگ</th>
            <th>تعداد</th>
            <th>قیمت</th>
            <th>تخفیف</th>
            <th>قیمت نهایی</th>
        </tr>
        {% for item in order.items.all %}
            <tr>
                <td><a href="{{ item.product.get_absolute_url }}">{{item.product.name| truncatewords:20 }}</a></td>
                <td>{{ item.size}}</td>
                <td>{{ item.color }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }}</td>
                <td>
                    {% if item.discount %}
                        {{ item.discount.percent }}%
                    {% else %}
                     ندارد
                    {% endif %}
                </td>
                <td>
                    {{item.discounted_total_price}}
                </td>
            </tr>
        {% endfor %}

       
    </table>
    <p>{{order.state}}</p>
    <p style="padding:0.7rem; margin:0.5rem auto;border-radius:6px;width:100%;background:rgb(121, 121, 121); color:white;">
        جمع کل: {{order.discounted_total_price}} تومان
    </p> 
    <p style="width: 100%;line-height:2rem;font-size:0.7rem;padding-right:0.5rem;text-align: right">
        <span style="background-color:rgb(90, 90, 90);font-size:0.7rem;font-weight:bold;border-radius:6px;color:white;padding:0.3rem;float:left;">شماره سفارش: {{order.id}}</span>
    </p>
        <div class="container horizontal mt-1" style="width: 100%;justify-content:space-between;font-size:0.8rem;">
            <p>تاریخ ثبت:</p>
            <p>{{order.order_list.date_created | to_jalali:'%y/%m/%d'}}</p>
        </div>
        <div class="container horizontal mt-1" style="width: 100%;justify-content:space-between;font-size:0.8rem">
            <p>نام بوتیک</p>
            <p>{{order.shop.name}}</p>
        </div>
        {% if order.order_list.use_default_address %}
        {% with order.user as vendee %}
        <div class="container horizontal mt-1" style="width: 100%;justify-content:space-between;font-size:0.8rem">
            <p>نام خریدار:</p>
            <span>{{vendee.first_name}}&nbsp{{ vendee.last_name}}</span>
        </div>
        <div class="container horizontal mt-1" style="width: 100%;justify-content:space-between;font-size:0.8rem">
            <p>استان:</p>
            <span>{{vendee.address.state}}</span>
        </div>
        <div class="container horizontal mt-1" style="width: 100%;justify-content:space-between;font-size:0.8rem">
            <p>شهرستان:</p>
            <span>{{vendee.address.city}}</span>
        </div>
        <div class="container horizontal mt-1" style="width: 100%;justify-content:space-between;font-size:0.8rem">
            <p>شهر:</p>
            <span>{{vendee.address.town}}</span>
        </div>
        <div class="container horizontal mt-1" style="width: 100%;justify-content:space-between;font-size:0.8rem">
            <p>کدپستی:</p>
            <span>{{ vendee.address.postal_code}}</span>
        </div>
        <div class="container horizontal mt-1" style="width: 100%;justify-content:space-between;font-size:0.8rem">
            <p>شماره تماس:</p>
            <span>{{vendee.phone_no}}</span>
        </div>
        <div class="container vertical mt-1" style="width: 100%;font-size:0.8rem">
            <p >نشانی:</p>
            <p style="width: 85%;margin:0.8rem auto;color:#555;text-align:justify;text-justify:distribute;font-size:0.7rem" >{{vendee.address.description}}</p>
        </div>
       {% endwith %}
        <br />
        {% else %}
            {% with order.order_list.address as address %}
            <div class="container horizontal mt-1" style="width: 100%;justify-content:space-between;font-size:0.8rem">
                <p>نام خریدار:</p>
                <span>{{address.first_name}}&nbsp{{ address.last_name}}</span>
            </div>
            <div class="container horizontal mt-1" style="width: 100%;justify-content:space-between;font-size:0.8rem">
                <p>استان:</p>
                <span>{{address.address.state}}</span>
            </div>
            <div class="container horizontal mt-1" style="width: 100%;justify-content:space-between;font-size:0.8rem">
                <p>شهرستان:</p>
                <span>{{address.city}}</span>
            </div>
            <div class="container horizontal mt-1" style="width: 100%;justify-content:space-between;font-size:0.8rem">
                <p>شهر:</p>
                <span>{{address.town}}</span>
            </div>
            <div class="container horizontal mt-1" style="width: 100%;justify-content:space-between;font-size:0.8rem">
                <p>کدپستی:</p>
                <span>{{ address.postal_code}}</span>
            </div>
            <div class="container vertical mt-1" style="width: 100%;font-size:0.8rem">
                <p >نشانی:</p>
                <p style="width: 85%;margin:0.8rem auto;color:#555;text-align:justify;text-justify:distribute;font-size:0.7rem" >{{address.description}}</p>
            </div>
            <div class="container horizontal mt-1" style="width: 100%;justify-content:space-between;font-size:0.8rem">
                <p>شماره تماس:</p>
                <span>{{ address.phone_no }}</span>
            </div>
              
            {% endwith %}
        {% endif %}
    {% if order.state == 'pending' %}

        {% if owner == 'shop' %}
            <div class="container horizontal" style="justify-content: space-between;">
                <button style="width: 49%;" onclick="accept_order();" class="btn cta">آماده میکنم</button>
                <button style="width: 49%;" onclick="reject_order();" class="btn">رد میکنم</button>
            </div>
        {% elif owner == 'user' %}
            <div class="box">
                <button onclick="cancel_order();" class="btn cta " style="width: 50%;">کنسل میکنم</button>
            </div>
        {% endif %}
 
    {% elif order.state == 'accept' %}
        {% if owner == 'shop' %}
            <div class="box">
                <div class="tracking-code">
                    <input id="tracking_code" type="text"  placeholder="کد رهگیری" />
                    <button onclick="send_tracking_code();" class="reg">ثبت</button>
                </div>
            </div>
        {% elif owner == 'user' %}
            <div class="box">
                <span style="width: 100%;text-align:center;color:white;background-color:green;padding:0.5rem">تایید شده</span>
            </div>
        {% endif %}
    {% elif order.state == 'sent_not_verified' %}
            {% if owner == 'shop' %}
                {% if order.verify_sent %}
                <div class="box">
                    <span style="width: 100%;text-align:center;color:white;background-color:rgb(160, 31, 31);padding:0.5rem">کد رهگیری تایید نشده است</span>
                </div>
                {% else %}
                    <div class="tracking-code">
                        <input id="tracking_code" type="text" value="{{order.tracking_code}}"  placeholder="کد رهگیری" />
                        <button onclick="send_tracking_code();" class="reg">ثبت</button>
                    </div>
                    <span style="font-size: 0.8rem;color:red">
                        {{ order.tracking_code_status }}
                    </span>
                {% endif %}
            {% else %}
            <div class="box">
                <span style="width: 100%;text-align:center;color:white;background-color:rgb(55, 170, 55);padding:0.5rem">آماده ارسال</span>
            </div>
            {% endif %}

    {% elif order.state == 'returned' %}
        <div class="box">
            <span style="width: 100%;text-align:center;color:white;background-color:rgb(241, 182, 55);padding:0.5rem">بازگشتی</span>
        </div>
    {% elif order.state == 'cancelled' %}
        <div class="box">
            <span style="width: 100%;text-align:center;color:white;background-color:rgb(241, 182, 55);padding:0.5rem">لغو شده</span>
        </div>
    {% elif order.state == 'sent' %}
        {% if owner == 'shop' %}
                <div class="box">
                    <span style="width: 100%;text-align:center;color:white;background-color:rgb(241, 182, 55);padding:0.5rem">کاربر وصول مروسله را اعلام نکرده است</span>
                </div>
        {% elif owner == 'user' %}
            {% if order.verify_sent %}
            <div class="container horizontal mt-1" style="width: 100%;justify-content:space-between;font-size:0.8rem;background:rgb(212, 42, 42);border-radius:6px;color:white;padding:0.5rem;font-size:0.8rem">
                <p>کد رهگیری:</p>
                <span>{{order.tracking_code}}</span>
            </div>
            <button style="width: 100%;margin-top:1rem"  onclick="verify_recieved_order();" class="btn cta">دریافت کردم</button>
            {% else  %}  
                <div class="box">
                    <span style="width: 100%;text-align:center;color:white;background-color:green;padding:0.5rem">ارسال شده</span>
                </div>
            {% endif %}
        {% endif %}

    {% elif order.state == 'rejected' %}
        <div class="box">
            <span style="width: 100%;text-align:center;color:white;background-color:rgb(253, 81, 89);padding:0.5rem">ردشده</span>
        </div>
    {% else %}
        <div class="box">
            <span style="width: 100%;text-align:center;color:white;background-color:rgb(105, 194, 253);padding:0.5rem">دریافت شده</span>
        </div>
    {% endif %}
</div>