<div class="position--center" style="width: 70%;">
    {% if appeal %}
    {% if appeal.state == 'pending' %}
        <p class="w-100 position--cener">
            درخواست شما ثبت شده است و در انتظار تایید مباشد
        </p>
    {% endif %}
    {% if appeal.state == 'Accepted' %}
        <div class="position--cener">
            <p>
                درخواست شما پذیرفته شده و بوتیک شما آماده است
            </p>
        </div>
    {% endif %}

    {% if appeal.state == 'rejected' %}
        <div class="position--cener">
            <p>
                درخواست شما رد شده است
            </p>
            <p>
                علت:
                {{appeal.status}}
            </p>
        </div>
    {% endif %}
{% else %}
   
<p class="w-100 " style="text-align: center;font-size:0.9rem">
    <span style="color:#888;cursor:pointer;" >نام صفحه بوتیک به انگلیسی را وارد نمایید</span>
</p>
<div class="txt-box w-100 mt-1">
    <input id="page_name"  type="text" class="text" required>
    <label class="holder">نام بوتیک</label>
</div>
<p id="page_name_error" style="color: red;font-size:0.7rem;margin-top:0.5rem"></p>
<button  class="btn cta" onclick="make_appeal_for_boutique();"  style="margin:1rem auto;width:50%">ثبت</button>
<p class="w-100 " style="text-align: center;font-size:0.9rem;margin-top:0.5rem">
    <span style="color:rgb(241, 72, 72);font-size:0.7rem" >
       استفاده از علایم (,;/?~`'"[]{}*&^%$#@!=+-()<>) در نام بوتیک مجاز نمیباشد
    </span>
</p>

{% endif %}

</div>