<div class="position--center" style="width: 70%;">
    <p class="w-100 " style="text-align: center;font-size:0.9rem">
        <span style="color:#888;cursor:pointer;" >نام بوتیک به انگلیسی را وارد نمایید</span>
    </p>
    <custom-text id="boutique-name" style="width: 100%;margin-top:0.5rem;font-size:0.8rem" placeholder="YourBoutiqueName"></custom-text>

    <button class="btn cta" dir="rtl" style="margin:0.7rem auto;width:100%;display:block">ثبت</button>
    <p class="w-100 " style="text-align: center;font-size:0.9rem;margin-top:0.5rem">
        <span style="color:rgb(241, 72, 72);font-size:0.7rem" >
           استفاده از علایم (,;/?~`'"[]{}*&^%$#@!=+-()<>) در نام بوتیک مجاز نمیباشد
        </span>
    </p>
    
</div>