{% load static %}
<div class="row">
    <div class="col-6" style="display:flex;align-items:center;justify-content:center">
        <div class="container-col ">
            <p>  بوتیک بسازی د..سبیسبعضو شوید و.....</p>
            <p style="width: 100%;text-align:center">
                <button style="background-color: rgba(255,100,100,0.4);width:50%" class="button">عضویت</button>
            </p>
        </div>
     </div>
     <div class="col-6">
         <img src="{% static 'img/img1/b.jpg' %}" style="width: 100%;" />
     </div>
    </div>
    
</div>