{% load static %}
<div  class="row" style="align-content:stretch;">
    <div  class="col-6">
            <div id="show1" class="slideshow">
                <div style="position:relative" class="slide fade dis-block">
                    <img src="{% static 'img/img1/category-1.jpg' %}" class=" img-fluid"/>
                    <div class="centerized" style="width:80%;left: 40%;text-align:center;padding:0.2rem">
                        <p style="font-size:1.1rem">
                           دنیای مد زنانه
                        </p>
                        <p style="font-size: 0.8rem;color:rgb(97, 97, 97)">
                            جدیدترین انواع لباس کیف کفش و..
                        </p>

                        <button class="button">عضویت</button>
                    </div>
                </div>
                <div style="position:relative" class="slide fade">
                    <img src="../../img/c.jpg" class=" img-fluid"/>
                    <div class="centerized" style="left: 30%;text-align:center">
                       
                    </div>
                </div>
                <div style="position:relative" class="slide fade">
                    <img src="../../img/fff.jpg" class="img-fluid"/>
                    <div class="centerized" style="left: 30%;text-align:center">
                       
                    </div>
                </div>
                <div class="bullets">
                    <span class="dot" onclick="showSlide(0)"></span>
                    <span class="dot" onclick="showSlide(1)"></span>
                    <span class="dot" onclick="showSlide(2)"></span>
                </div>
                <span class="next" onclick="prevSlide()">&#10094</span>
                <span class="prev" onclick="nextSlide()">&#10095</span>
            </div>
    </div>
    <div class="col-6" >
      <div class="categories" >
            <div class="category" >
             <img src="{% static 'img/img1/category-2.jpg' %}" class="img-fluid"  />
             <div style="width: 100%;text-align:center" class="centerized" >
                <button style="color: white;" class="button">مردانه</button>
             </div>
           </div>
           <div class="category">
            <img src="{% static 'img/img1/category-3.jpg' %}" class="img-fluid" />
            <div style="width: 100%;text-align:center" class="centerized" >
                <button style="color: white;" class="button">زنانه</button>
             </div>
           </div>
           <div class="category" >
            <img  src="{% static 'img/img1/category-4.jpg' %}" class="img-fluid" />
            <div style="width: 100%;text-align:center" class="centerized" >
                <button style="color: white;" class="button">بچگانه</button>
             </div>
           </div>
           <div class="category" >
            <img  src="{% static 'img/img1/category-5.jpg' %}" class="img-fluid" />
            <div style="width: 100%;text-align:center" class="centerized" >
                <button style="color: white;" class="button">اکسسوری</button>
             </div>
            </div>
      </div>
    </div>
</div>