{% load static %}
<style>
    .cat{
        flex: 30%;
        padding: 0.8rem;
        position: relative;
    }



    @media screen and (min-width:576px) {
        .row
        {
            flex-direction: row;
        }
        
    }
    .cat-caption {
        position: absolute;
        bottom: 2%;
        right: 0;
        
        background-color: white;
        color: gray;
        padding: 1rem 2rem 1rem 2rem;
        font-size: 1rem;
    }

    

</style>
<div  class="row w-100" style="align-content:stretch;">
            <div id="show1" style="margin: 0;" class="slideshow">
                <div style="position:relative;" class="slide fade dis-block">
                    <img src="{% static 'img/img1/banner-2.jpg' %}" class=" img-fluid"/>
                 
                </div>
                <div style="position:relative" class="slide fade">
                    <img src="{% static 'img/img1/319.jpg' %}" class=" img-fluid"/>
                    <div class="centerized" style="left: 30%;text-align:center">
                    </div>
                </div>
                <div style="position:relative" class="slide fade">
                    <img src="{% static 'img/img1/salesoff.jpeg' %}" class=" img-fluid"/>
                    <div class="centerized" style="left: 30%;text-align:center">
                    </div>
                </div>
                <div  class="bullets">
                    <span class="dot" onclick="showSlide(0)"></span>
                    <span class="dot" onclick="showSlide(1)"></span>
                    <span class="dot" onclick="showSlide(2)"></span>
                </div>
                <span class="next" onclick="prevSlide()">&#10094</span>
                <span class="prev" onclick="nextSlide()">&#10095</span>
            </div>
</div>

<div class="row" style="justify-content: center;align-items:center;">
    <div class="cat">
        <img src="{% static 'img/img1/men.jpeg'%}" style="width: 100%;">
        <span class="cat-caption">مردانه</span>
    </div>
    <div class="cat">
        <img src="{% static 'img/img1/women.jpeg'%}" style="width: 100%;">
        <span class="cat-caption">زنانه</span>
    </div>
    <div class="cat">
        <img src="{% static 'img/img1/children.jpeg'%}" style="width: 100%;">
        <span class="cat-caption">کودکانه</span>
    </div>
</div>