{% load static %}
<div  class="row w-100" style="align-content:stretch;">
    <div id="show1" style="margin: 0;" class="slideshow">
        <div style="position:relative;" class="slide  fade dis-block">
            <img src="{% static 'img/img1/banner-2.jpg' %}"  class=" img-fluid"/>
        </div>
        <div style="position:relative" class="slide fade" >
            <img src="{% static 'img/img1/319.jpg' %}"  class=" img-fluid"/>
            <div class="centerized" style="left: 30%;text-align:center">
            </div>
        </div>
        <div style="position:relative" class="slide  fade">
            <img src="{% static 'img/img1/salesoff.jpeg' %}"  class=" img-fluid"/>
            <div class="centerized" style="left: 30%;text-align:center">
            </div>
        </div>
        <div  class="bullets">
            <span class="dot" onclick="showSlide(0)"></span>
            <span class="dot" onclick="showSlide(1)"></span>
            <span class="dot" onclick="showSlide(2)"></span>
        </div>
        <span class="next" onclick="prevSlide()">&#10094</span>
        <span class="prev" onclick="nextSlide()">&#10095</span>
    </div>
</div>