<!-- <style>
    .box {
        flex: 30%;
        padding: 0.4rem;
        display: flex;
        justify-content: center;
    }
    .box-img{
        min-width: 96px;
        min-height:96px;
        border-radius: 50%;
        background-color: lightgray;
    }
    .box-caption {
        align-self: center;
        margin-right: 0.5rem;
    }
</style>
<div style="margin-top:2rem;margin-bottom:2rem;align-items:flex-start" class="row">
    <div class="box">
        <div class="box-img"></div>
        <p class="box-caption">
            <span>ارسال رایگان</span>
        </p>
    </div>
    <div class="box">
        <div class="box-img"></div>
        <p class="box-caption">
            <span>ارسال رایگان</span>
        </p>
    </div>
    <div class="box">
        <div class="box-img"></div>
        <p class="box-caption">
            <span>ارسال رایگان</span>
        </p>
    </div>
</div> -->