<div class="row" style="margin-top: 4rem;justify-content:flex-end;">
    <div class="col-3">
        <span class="stack-caption">مجبوترین برندها</span>
        <div class="stack" >
            <div style="width: 100%;">
                <div style="padding: 0.5rem;">
                    <img src="../../img1/xbs-1.jpg.pagespeed.ic.mJ3HA8np2n.webp"  />
                    <p style="color: rgb(172, 172, 172);"> پاریس بوتیک</p>
                </div>
            </div>
            <div style="width: 100%;">
                <div style="padding: 0.5rem;">
                    <img src="../../img1/xbs-2.jpg.pagespeed.ic.oPC5eRYONC.webp"  />
                    <p style="color: rgb(172, 172, 172);"> پاریس بوتیک</p>
                </div>
            </div>
            <div style="width: 100%;">
                <div style="padding: 0.5rem;">
                    <img src="../../img1/xf-2.jpg.pagespeed.ic.LE7FQXfxeP.webp"  />
                    <p style="color: rgb(172, 172, 172);"> پاریس بوتیک</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <span class="stack-caption">پرفروشترین بوتیکها</span>

        <div class="stack">
            <div style="width: 100%;">
                <div  style="padding: 0.5rem;">
                    <img src="../../img1/xbs-1.jpg.pagespeed.ic.mJ3HA8np2n.webp"  /> 
                    <p style="color: rgb(172, 172, 172);"> پاریس بوتیک</p>
                </div>
            </div>
            <div style="width: 100%;">
                <div style="padding: 0.5rem;">
                    <img src="../../img1/xf-3.jpg.pagespeed.ic.larkQpUfvs.webp"  />
                    <p style="color: rgb(172, 172, 172);"> پاریس بوتیک</p>
                </div>
            </div>
            <div style="width: 100%;">
                <div style="padding: 0.5rem;">
                    <img src="../../img1/xht-2.jpg.pagespeed.ic.3YjuD2AOub.webp"  />
                    <p style="color: rgb(172, 172, 172);"> پاریس بوتیک</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <span class="stack-caption">تازه ترین بوتیکها</span>
        <div class="stack" >
            <div style="width: 100%;">
                <div style="padding: 0.5rem;">
                    <img src="../../img1/xf-2.jpg.pagespeed.ic.LE7FQXfxeP.webp"  />
                    <p style="color: rgb(172, 172, 172);"> پاریس بوتیک</p>
                </div>
            </div>
            <div style="width: 100%;">
                <div style="padding: 0.5rem;">
                    <img src="../../img1/xht-2.jpg.pagespeed.ic.3YjuD2AOub.webp" />
                    <p style="color: rgb(172, 172, 172);"> پاریس بوتیک</p>
                </div>
            </div>
            <div style="width: 100%;">
                <div style="padding: 0.5rem;">
                    <img src="../../img1/xht-3.jpg.pagespeed.ic.fw_LsIXAiZ.webp" />
                    <p style="color: rgb(172, 172, 172);"> پاریس بوتیک</p>
                </div>
            </div>
        </div>
    </div>
</div>
