
<style>
    .error{
        border-bottom-color: red;
    }
    .field{
        margin-top: 0.8rem;
    }
    .tab-items{
        display: flex;
        justify-content: center;
    }
    select {
        padding: 0.5rem;
        border: 1px solid rgb(173, 173, 173);
        background-color: white;
        outline: none;
        font-size: 0.8rem;
    }


</style>
<div class="container vertical" style="width:90%;margin: 0.5rem auto;justify-content:flex-start;align-items:flex-start">
    <form style="padding: 0;width:100%" id="personal_info">
    <div class="container horizontal" style="width: 100%;">
        <ion-icon name="person-outline"   style="font-size: 7rem;color:rgba(150, 150, 150, 0.8);margin-left:0.7rem;--ionicon-stroke-width: 12px;"></ion-icon>
        <!-- <span style="font-size: 1.1rem;color:rgb(150, 150, 150);display:block;margin-top: -0.5rem">{{ user.phone_no}}</span> -->
        <div class="container vertical" style="width: 100%;">
            <div  class="txt-box mt-1">
                <input name="first_name" class="text"  id="profile-first_name"  type="text"  value="{{user.first_name}}" required />
                <label class="holder">نام </label>
            </div>
            <div class="txt-box mt-1">
                <input class="text"   id="profile-last_name" name="last_name"  type="text"  value="{{ user.last_name }}" required />
                <label class="holder" >نام خانوادگی</label>
            </div>
        </div>
    </div>
        <div class="txt-box ">
            <input class="text"  onblur="validate_email();" name="email" id="profile-email" type="email"  value="{% if user.email %}{{user.email}}{% endif %}" required />
            <label class="holder" >ایمیل</label>
        </div>
        <div class="txt-box mt-1">
            <input style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" name="merchan_card" id="profile-merchan_card" class="text" type="text"  value="{% if user.merchan_card %}{{user.merchan_card}}{% endif %}" required />
            <label class="holder">شماره کارت: </label>
        </div>
        <label style="font-size: 0.8rem;text-align:right; margin-top:1.5rem;display:block">جنسیت: </label>
        <div class="container horizontal" style="justify-content:space-evenly;">
            <label class="radio-box"><input type="radio" name="gender" style="margin: 0 0 0  0.5rem;" id="male" value="male" {% if user.gender == 'male' %}checked{% endif %}>مرد</label>
            <label  class="radio-box" ><input type="radio" style="margin: 0 0 0 0.5rem" name="gender" id="female" value="female" {% if user.gender == 'female' %}checked{% endif %}>زن</label>    
        </div>
        <div  class="container horizontal" style="justify-content: space-between;margin-top:1.5rem">
            <select required onchange="get_cities('user-cities');" id="provinces" name="state"  style="width: 48%;">
                <option value="-1" disabled>استان</option>
                {% for province in provinces %}
                    <option  value="{{province.id}}" {% if user.address.state == province.name %}selected{% endif %} >{{province.name}}</option>
                {% endfor %}
            </select>
            <select id="user-cities" name="city" style="width: 48%;">
                {% if user.address.city %}
                    <option>{{user.address.city}}</option>
                {% else %}
                    <option value="-1" disabled>شهرستان</option>
                {% endif %}
            </select>
        </div>
        <p class="txt-box mt-1">
            <input  id="postal_code" name="postal_code" class="text" type="text"  value="{{user.address.postal_code}}" required/>
            <label class="holder">کد پستی</label>
        </p>
        <p class="txt-box mt-1">
            <textarea name="description" id="profile-description" rows="3"  class="text" style="resize:vertical;"  >{{user.address.description}}</textarea>
            <label class="holder">نشانی</label>
        </p>           
    </form>
    <p class="container horizontal" style="justify-content:space-between;width:85%;margin:1rem auto;margin-bottom:1rem">
        <button style="width:100%;background:rgb(88, 88, 88);color:white;border:0;border-radius:32px;font-size:0.8rem" class="btn cta" onclick="edit_profile();">ثبت</button>
        <button style="width:100%;background:rgb(204, 204, 204);;color:rgb(255, 255, 255);border:0;border-radius:32px;font-size:0.8rem" class="btn cta" onclick="get_enrollment_form();">لغو</button>
    </p>     
</div>

