  <div class="container vertical" style="width:90%;text-align:center;margin:0.5rem auto;">
        <custom-text id="fname" name="fname" style="margin-top: 0.5rem;" placeholder="نام" dir="rtl" ></custom-text>
        <custom-text id="lname" name="lname" style="margin-top: 0.5rem;" placeholder="نام خانوادگی" dir="rtl" ></custom-text>
        <custom-text id="fname" name="fname" style="margin-top: 0.5rem;" placeholder="ایمیل" dir="rtl" ></custom-text>
        <custom-text id="fname" name="fname" style="margin-top: 0.5rem;" placeholder="شماره کارت" dir="rtl" ></custom-text>
        <div class="container horizontal" style="margin-top: 0.5rem;">
            <combo-box  style="margin-left: 0.5rem;width:50%;font-size:0.7rem" placeholder="استان">
                <combo-box-item caption="تهران"></combo-box-item>
            </combo-box>
            <combo-box style="width:50%;font-size:0.7rem" placeholder="شهرستان">
                <combo-box-item caption="تهران"></combo-box-item>
                <combo-box-item caption="تهران"></combo-box-item>
                <combo-box-item caption="تهران"></combo-box-item>
                <combo-box-item caption="تهران"></combo-box-item>
                <combo-box-item caption="تهران"></combo-box-item>
                <combo-box-item caption="تهران"></combo-box-item>
            </combo-box>
        </div>
        <custom-text id="fname" name="fname" style="margin-top: 0.5rem;" placeholder="شهر" dir="rtl" ></custom-text>
        <custom-text id="fname" name="fname" style="margin-top: 0.5rem;" placeholder="کدپستی" dir="rtl" ></custom-text>
        <textarea rows="8" style="margin-top: 1rem;width:97%" placeholder="نشانی دقیق"></textarea>
        <button class="btn cta" style="width: 100%;margin-top:0.7rem;margin-right:0">ثبت</button>
</div>